[2017-06-30 13:17] kris-nova opened #1 "API machinery improvements"
Right now we are vendoring in API Machinery (good) but we aren't really using it all that well (bad)

Can we tidy up our API Machinery implementation and make it awesome?

[2017-07-15 16:53] geojaz opened #6 "nil pointer dereference on kubicorn create"
[code]

[code]

[2017-07-15 16:54] kris-nova opened #7 "Nodes need token and bootstrapping"
We need to help the nodes join the master by pre generating the `kubeadm` token and passing it to both the masters and the nodes.

[2017-07-15 17:03] kris-nova opened #8 "Azure implementation"
We need azure :)

[2017-07-15 17:04] geojaz opened #9 "Should be able to kubicorn list"
Should return the list of available states.

[2017-07-15 17:06] geojaz commented on #6
This happens when you try to create a state without specifying a platform

[2017-07-15 17:16] geojaz opened #10 "Unable to fully delete cluster"
[code]

[2017-07-15 17:34] geojaz commented on #6
This happens because it defaults to azure which isn't ready to go... closing in favor of implenting azr

[2017-07-15 17:34] #6 closed

[2017-07-15 17:35] mhausenblas opened #11 "New user on-boarding"
It would be great to have a walkthrough supporting new users how to do the basic steps

[2017-07-15 17:44] geojaz opened #13 "Signal handler and support for AWS"
and try to die nicely instead of aborting

[2017-07-15 18:12] kris-nova opened #14 "Sam says use semver!"
We need to make sure we uphold semver for `dep`

[2017-07-15 18:14] kris-nova opened #15 "Sam says use Dep!"
We need to import dep

[2017-07-15 18:15] kris-nova opened #16 "Kris says no text/template in shell scripts!"
We need to write in logic to ensure our bootstrap scripts stay executable

[2017-07-15 18:27] mhausenblas opened #17 "Commands should provide some context on execution"
Currently, when running for example `kubicorn create` the execution by default is silent. This is not a good UX, new users might think nothing happened. So after execution, the command should output a summary and suggest next steps, for example:

[code]

[2017-07-15 18:54] geojaz commented on #10
relates to #13

[2017-07-15 19:25] geojaz opened #22 "Cluster state set to null"
[code]

[2017-07-15 19:54] geojaz opened #24 "Need to copy the kube_config down to workstation"

[2017-07-15 20:18] k4k commented on #9
The clarify, are you looking for a list of the states in _state? Example:
[code]

[2017-07-15 20:26] geojaz commented on #11
closed by #20

[2017-07-15 20:26] #11 closed

[2017-07-15 20:46] k4k opened #26 "Autocomplete state names"
Should be able to tab complete the state names from the list of states in _state using bash/zsh completion

[2017-07-15 20:55] k4k opened #27 "User feedback for delete command"
Since delete takes a long time to complete there should be a spinner or some other visual confirmation of "I'm not dead"

[2017-07-15 21:49] geojaz commented on #7
Closed in #30

[2017-07-15 21:49] #7 closed

[2017-07-15 22:20] mhausenblas opened #32 "Force overwrite state store"
When doing a create in a directory where the state store already exists, the tool barks and stops:

[code]

The user at this moment does not have enough information to know how to overcome the situation, for example by removing the state store like so: `rm -R ./_state/myfirstk8s/`.

[2017-07-16 00:34] geojaz commented on #15
closed in #19

[2017-07-16 00:34] #15 closed

[2017-07-16 00:56] kris-nova commented on #9
@k4k how is this PR coming, anything I can help with?

[2017-07-16 00:58] geojaz commented on #9
Closed in #33!

[2017-07-16 00:58] #9 closed

[2017-07-16 00:58] #17 closed

[2017-07-16 01:01] kris-nova commented on #27
I would like to implement a terminal spinner with `ncurses` and CGO... I know I am crazy.. but I would really like that in the project.

[2017-07-16 01:02] kris-nova commented on #32
### Option 1)

Provide more detail in the error

### Option 2)

Add an `-i` interactive flag that will prompt a user for input to overwrite or not..

I vote 1

[2017-07-16 01:03] kris-nova opened #34 "Google Implementation"
We need a starting point for Google

[2017-07-16 01:03] kris-nova opened #35 "Digital Ocean implementation"
Peeps want DO :)

[2017-07-16 01:04] kris-nova opened #36 "Kubernetes Version"
This is a big one - we will need to start versioning our releases to support different k8s versions

[2017-07-16 01:41] kris-nova commented on #22
Closed in #37

[2017-07-16 01:41] #22 closed

[2017-07-16 01:51] kris-nova opened #38 "Github Pages"
We need someone to build out the framework for github pages for

- kubicorn.com
- kubicorn.io

[2017-07-16 01:54] kris-nova commented on #27
But we can just probably echo `.`'s or something...

[2017-07-16 01:55] #16 closed

[2017-07-16 02:05] darron commented on #38
I can definitely help with getting it deployed and built with CI and stuff if that's not something that @mhausenblas wants to take on given what he was discussing today.

A couple questions though:

1. Where's the content for it? What needs to be on it?
2. Do we want to wait for the Gopher+🦄 thing.
3. I would recommend [Hugo](http://gohugo.io/) it works pretty well. The [last site I did](http://ww

[2017-07-16 10:59] mhausenblas commented on #32
Yes, Option 1 is fine with me. Should include instructions what to do next to fix the situation.

[2017-07-16 11:00] mhausenblas commented on #38
If you have the cycles, more than happy for you to take care of it @darron ;)

[2017-07-16 12:48] kris-nova opened #41 "Bootstrap script at runtime"
Right now build the bootstrap shell scripts into the binary (debatably a bad idea).
We need a way to add the following types to the bootstrap script directive in the cluster API.

The bootstrap scripts are defined here https://github.com/kris-nova/kubicorn/blob/master/profiles/simpleamazon.go#L33

and need to support the following

- local disk
- http/https resources

[2017-07-16 12:52] kris-nova opened #42 "We need a file parser"
We need a package/tool/etc that takes a string

`myString` *string*

and attempts to turn it into another string

`myString` *string*

with the caveat being that we need the first string to represent **some** type of file resource, and the second string to represent it's content.

---

#### Examples:

`~/data` -> `content`
`/tmp/data` -> `content`
`http://nivenly.com/data` -> `content`
`https://ni

[2017-07-16 12:52] kris-nova commented on #41
relates to #42

[2017-07-16 12:55] kris-nova opened #43 "We need our API refactored"
So one of the main goals of the project is to ultimately consume a community standard API that will work with Google!

The API is a work in progress that will live here: https://github.com/kris-nova/cluter-api

Furthermore, we need someone to audit and review this API, as it will be a good candidate for a starting point for the cluster API project.

I kind of hate the words we use now to represent

[2017-07-16 13:03] kris-nova opened #44 "Signal Handler Interface"
We need to create a global signal handler, that will reference an interface. Each reconciler should implement said interface so that we can handle POSIX signals globally.

If you are interested in coding we should talk, because I would want to hear your ideas! Otherwise I might just code this.

[2017-07-16 13:03] kris-nova commented on #44
CC @geojaz because you are already in sighandler land 😄

[2017-07-16 13:12] kris-nova opened #45 "Contributing file"
We need to document the contributing process

[2017-07-16 13:18] kris-nova opened #46 "Installing documentation"
We need docs on how to build/install/download this thing

[2017-07-16 18:08] darron commented on #38
Sure - I have some cycles and this is probably a good place for me to start with respect to $dayjob issues.

[2017-07-16 18:41] geojaz commented on #44
Yes I'm interested! :)

[2017-07-16 20:00] paulczar opened #51 "install fails with `undefined: bootstrap.Asset`"
When I try to install I get an error about bootstap.Asset being undefined.  I believe its looking for a function inside the bootstrap.go file that was removed here - https://github.com/kris-nova/kubicorn/pull/21

[code]

[2017-07-16 20:11] kris-nova commented on #51
Checking out now

[2017-07-16 20:17] #51 closed

[2017-07-16 20:18] kris-nova commented on #51
I will open up another issue for the bootstrap.go concern now that we realize it's breaking `go get`

Thanks for finding this!

[2017-07-16 20:23] kris-nova commented on #24
closed in #47

[2017-07-16 20:23] #24 closed

[2017-07-16 21:43] darron commented on #45
And with that, maybe a Code of Conduct to set clear expectations.

[2017-07-16 21:55] darron commented on #45
This seems to be pretty well written and used by some CNCF and Kubernetes projects:

http://contributor-covenant.org/version/1/4/

Anything missing from it that we'd need to add?

[2017-07-16 22:47] kris-nova opened #54 "Generate token for kubeadm"
Right now we hard code a token, this is horrible. We need to auto generate one.

[2017-07-16 23:29] jbeda commented on #45
Probably want to pick either DCO or CLA too to make sure that you have some process around contributions.  I have a bot for the DCO at least: https://github.com/heptio/sign-off-checker

[2017-07-16 23:51] jbeda opened #56 "Cluster name in kubeconfig should reflect cluster name"
Looks like right now the cluster name in kubeconfig is hard coded to `kubernetes`.  Should probably use the cluster name used in the state store.

[2017-07-16 23:56] kris-nova commented on #56
Yes, this is what we want to do.

[2017-07-16 23:59] #13 closed

[2017-07-17 01:19] #54 closed

[2017-07-17 01:33] kris-nova opened #61 "Add Volumes"
We need to add volumes definition to the API, and add it to any existing implementations

[2017-07-17 02:44] kris-nova opened #63 "Test Harness"
We need to flesh out a test harness for the following

1. Integration tests
2. Unit tests

I have a credit card, and am happy to share if anyone wants to take this and set up testing accounts anywhere.

 - Will need `make` targets
 - Will need an example test or two that demonstrate how the harness works
 - Will need to add documentation on how to use the harness

[2017-07-17 04:27] kris-nova commented on #38
We need to create it, ideally it would come from the repo's documentation / godocs

Nah, we can add then it later. Besides I am sure @ashleymcnamara is swamped at the moment!

Sold.

I am color blind and spend my life in the terminal so definitely not me. Open for suggestion and would prefer someone to own it and make it their own. Strong opinions welcomed.

[2017-07-17 05:15] kris-nova commented on #45
I added https://github.com/kris-nova/kubicorn/blob/master/CODE_OF_CONDUCT.md and https://github.com/kris-nova/kubicorn/blob/master/CONTRIBUTING.md

The contributing one I typed up, but happy to change. Just wanted *something* in place as this repo is getting lots of good, but unexpected, attention.

[2017-07-17 05:16] kris-nova commented on #10
Closing as I think this is fixed now - right @geojaz?

[2017-07-17 05:16] #10 closed

[2017-07-17 06:12] kris-nova opened #67 "Clean up API object"
We need to add the `json:""` camelCase to the members, also omitonly most of them

Also we need to see which members we are/aren't using and remove any unused members

[2017-07-17 06:23] kris-nova opened #68 "Implement CI/CD Testing"
I have a credit card, if you have skills and opinions!

### Goal

run `make test` for every PR and only allow merging on exit `0`

[2017-07-17 06:26] kris-nova opened #69 "We need a version bump make target"
Can we add 3 targets to the makefile?

1. Major version bump
2. Minor version bump
3. Patch version bump

They should all edit the `/VERSION` file

[2017-07-17 06:36] kris-nova opened #70 "Build in support for snapshots"
# Glossary

**Snapshot**: The process of creating an image
**Image**: The artifact created from taking a snapshot

 - We need to implement and flesh out the `kubicorn snapshot` command.
 - We need to delete the `kubicorn image` command

### What is a snapshot?

A tarball.

A tarball that holds all relevant data to rebuild a Kubernetes cluster (both infra and app).

### How do we make one?

We dump

[2017-07-17 06:37] kris-nova opened #71 "Can we make our github labels rainbow?"
Can someone who has opinions and can see color help me change the labels to a rainbow color theme?

[2017-07-17 06:38] kris-nova commented on #71
@ellenkorbes you know I am looking right at you for this issue

[2017-07-17 12:13] ellenkorbes commented on #71
Awesome 👩‍🎨

Right now I'm in tourist mode 🏟🏝 but I'll be back home tomorrow 🛬👩‍💻

[2017-07-17 14:34] k4k commented on #69
@kris-nova Pardon my ignorance here. Would this look something like `make VERSION=x.x.xxx` where the value of VERSION gets written to `/VERSION`? Or do you want something like `make VERSION=major` which increments the first position of the version number (eg. 0.0.001 -> 1.0.000), `VERSION=minor` bumping the second position and patch, the third?

[2017-07-17 15:45] k4k opened #76 "ssh: cannot decode encrypted private keys"
[code]

I believe this is related to: https://github.com/kris-nova/klone/issues/13

[2017-07-17 15:46] arashkaffamanesh opened #77 "Please add additional instruction to build kubicorn from source"
Have added a short instruction for newbies to build kubicorn from source:
https://github.com/kubernauts/kubicorn/blob/master/docs/walkthrough.md

This part is new after the line:
$ go get github.com/kris-nova/kubicorn:

If you're new to Go, before you proceed you've to set GOPATH and build the kubicorn binary from source. For this you'd need to build go-bindata and provide it in your path:

Set GO

[2017-07-17 15:57] k4k commented on #76
Confirmed with `dtruss` again that this is the same truncation behavior I saw in klone. Using a 2048bit key works, a 4096bit key fails and `dtruss` shows read() only copying in a partial key.

[2017-07-17 18:07] kris-nova commented on #77
Hi @arashkaffamanesh can you please open up a pull request with your changes?

[2017-07-17 18:40] kris-nova commented on #69
I just want a simple way to bump the version up a value

# Patch bump

`0.0.001` -> `0.0.002`

# Minor bump

`0.0.001` -> `0.1.000`

# Major bump

`0.0.001` -> `1.0.000`

That way I can plug it into the release process and keep a tight grasp on version of the code.

This is low priority, as it's not TOO difficult to manually re-write the `/VERSION` file

[2017-07-18 04:03] jmcarp commented on #68
Do you have a preferred CI service?

[2017-07-18 14:26] k4k commented on #76
I looked at this more this morning. I believe my initial assessment to be incorrect both on this and https://github.com/kris-nova/klone/issues/13. I was digging through some of the libraries used and noticed a comment on `ssh.NewPublicKeys` which I had previously overlooked which explains this issue perfectly:

[code]

My 4096bit key was encrypted with a passphrase. I generated a 4096bit key witho

[2017-07-18 14:49] k4k commented on #76
One slight modification to the above. We're using `golang/x/crypto` in kubicorn. While the technical details of the above apply to Klone only (using different ssh library), the reason behind the failure is the same. We are not asking for a passphrase. I should have a PR for this in the next day or two.

[2017-07-19 05:31] #68 closed

[2017-07-19 05:35] kris-nova commented on #68
@jmcarp just now seeing this - looks like @paulczar was able to add travis support for us. I have used it in the past and want to start there.

Do you have experience with any other CI/CD tools that you think would be helpful? I am asking because given the events of the bug in kubeadm today, I am realizing we REALLY need a rock solid build

[2017-07-19 06:45] kris-nova opened #88 "Apache 2 License Headers"
In order for us to be truly Apache 2 compliant we need headers on top of **all** source code files

So can we please build out support for the following:

`make headers` that will run an idempotent "fix" for all files in the repository (sans vendor).
`make check-headers` that will run a check to validate all files have correct license headers. We will eventually want this to be called from `make t

[2017-07-19 06:46] #71 closed

[2017-07-19 06:47] kris-nova commented on #76
Excellent work! Thank you so much!

[2017-07-19 06:48] kris-nova commented on #44
There are a lot of examples of interfaces all over the repo if you want to follow an existing pattern I am using.. otherwise we just need a way to specify a global signal handler interface that every reconciler can implement - so that we only have to write the signal catching portion of the code once.. and tell it which implementation to use :)

[2017-07-19 06:49] kris-nova commented on #44
LMK if you need a hand/want to jump on a call

[2017-07-19 06:49] kris-nova commented on #32
Do you want to take a crack at coding this?

[2017-07-19 06:56] kris-nova opened #89 "Kubicorn Logo"
Who has mad art skills and likes to draw unicorns? Or maybe unicorns with gophers? Or maybe a gopher unicorn? gophercorn? kubigoph?

Ideally something we could put on the `README.md` and also render into ascii to replace the existing unicorn.

[2017-07-19 06:58] kris-nova opened #90 "E2E testing harness"
We need to build an e2e suite that we can run to verify kubicorn is working. We can run this before a  release and actually create/destroy clusters.

Again, I have a credit card if you want to hook shit up to the cloud.

Cheers!

[2017-07-20 01:03] #76 closed

[2017-07-20 01:06] kris-nova opened #91 "Bypass password auth for SSH keys by global env var"
We need to have an optional environmental variable to disable ALL password interactive auth (for our friends in CI/CD land)

### Success Criteria

1. The environmental variable is documented, and follows the standard `KUBICORN_` prefix. (You can see examples in any of the cobra commands)
2. The environmental variable is *always* called using `os.Getenv` and never cached
3. Please define the new va

[2017-07-20 01:43] kris-nova commented on #91
@k4k FYI

[2017-07-20 03:57] kris-nova opened #94 "Hook up travis to our slack channel"
Can we please hook up travis to our slack channel? I would like somebody else owning the ci/cd stuff other me, so happy to give collab to another user.

[2017-07-20 04:02] kris-nova opened #95 "Hook up Issues to Twitter"
We have https://twitter.com/kubicornk8s can we please connect our issues to twitter account so we can see and show off what is being open/closed?

[2017-07-20 06:04] kris-nova commented on #95
Thanks to @k4k we now have https://twitter.com/kubicornk8s up and running!!

[2017-07-20 06:04] #95 closed

[2017-07-20 20:22] darron commented on #38
I made some progress on this today - ran into some CORS issues that I will need to sort out and just saw this comment now.

Will keep plugging away and have something shortish.

[2017-07-21 04:14] kris-nova opened #99 "We need IDs out of the API"
Having IDs in the API is going to kill us moving forward. They were there at first to help with our POC, but we need them gone gone gone.

I can provide more information if anyone wants to take this.

[2017-07-23 03:34] shwsun commented on #46
And maybe a way to render it? If so I recommend [slate](https://github.com/lord/slate)

[2017-07-23 03:40] shwsun commented on #34
Do you mean Google cloud?

[2017-07-23 04:09] kris-nova opened #103 "Delete should update API"
Right now when we delete a cluster, we don't update the state

[2017-07-23 14:50] kris-nova opened #104 "SCP Package"
Okay so we use SSH to copy files in the kubeconfig package https://github.com/kris-nova/kubicorn/blob/master/cutil/kubeconfig/kubeconfig.go

...and we just added support for using an SSH agent #102

.... and we will need to `scp` files in the digital ocean pull request #35

.......... which is making me think we just need to crack down and get an `scp` package in the code base

I know that the tel

[2017-07-23 17:27] shwsun opened #105 "Implement Openstack"
Hey,
Unfortunately I don't have access to EC2 or Azure, it is possible to create some sort of profile for Openstack environment? If so I would be happy to help (I work on openstack a lot)

[2017-07-23 17:31] shwsun commented on #94
Is [it](https://docs.travis-ci.com/user/notifications/#Configuring-slack-notifications) ?

[2017-07-23 17:34] shwsun opened #106 "Build a more reliable testing infrastructure?"
It seems that the travis CI is just a make test, I don't think it will be good enough if more PR will be coming this way. Thus, to build a reliable testing infrastructure seem to be on the critical path. Thoughts?

[2017-07-23 20:34] kris-nova commented on #105
Yes this is a great idea, would love to code an implementation in! There is documentation on how write a Reconciler in the Cloud directory https://github.com/kris-nova/kubicorn/tree/master/cloud and there are examples of other implementations in the code base.

Do you want to start coding and we can work together? Also happy to jump on a video call and go through this in greater detail if needed

[2017-07-23 20:40] kris-nova commented on #106
We have an issue open for building out a testing harness #63 that will handle running a test suite - its been on my mind for several weeks  as to how we want to handle this... would love to hear your thoughts on the topic.

Going to close this since it's effectively a dupe of #63

[2017-07-23 20:40] #106 closed

[2017-07-23 23:03] shwsun commented on #63
Hi,
Sorry that I didn't notice this one before. I think using travis CI might be the best place for us to do integration tests and unit tests. The following questions are identifying short term goals and long term jobs.

On unit tests, my $0.02 is to build a simple unit test framework as soon as possible (in one sprint) and require any other coming new PR writing the tests. Unit tests for existing

[2017-07-23 23:10] shwsun commented on #105
Hi,
I will be a little busy the coming week due to some research workload so that spending non-preempted time might be a little luxury for me :(  I will start with the reconciler and probably discuss with you if I have any questions. I am very interested into the bare metal case too (some of my past research can actually use that right away)

[2017-07-24 15:32] k4k commented on #94
@shwsun Does this bypass the need to enable the Travis service as documented [here](https://blog.travis-ci.com/2014-03-13-slack-notifications/)?

[2017-07-24 15:34] shwsun commented on #94
That blog is from 2014 so I not sure that would still be true. I think today it should be pretty easy to hook travis into slack :)

[2017-07-25 06:03] kris-nova commented on #45
Closing to keep issues tidy - please reopen if we need work done here

[2017-07-25 06:03] #45 closed

[2017-07-26 06:45] kris-nova commented on #94
What are we blocked on here? I can get peeps on the phone if needed

[2017-07-26 06:47] kris-nova commented on #63
I would call deploying a cluster an integration test..

But I completely agree.. we just need to set up the testing infra.. that is more on my plate than anything else as i need to set up a kubicorn account in the clouds so we can keep $$ accounted for correctly..

Do you have testing experience/passion/ideas? Would you like to start working on a suite knowing that it will one day be automated on

[2017-07-26 06:48] kris-nova commented on #34
Very much so.. We need GKE and GCE

[2017-07-26 14:30] shwsun commented on #63
Hi,
I do agree that deploying a cluster is the best way to test as it is the **practice**. But it is just too expensive. What I had in mind are: 1) dev should handle that the code is fully tested (as if someone is working on the aws part, make sure it is deployed and tested) 2) we have CI test that will check every PR and make sure it itself is not breaking, and merging it into the master will not

[2017-07-26 14:35] shwsun commented on #38
Hi,
I am assuming that the most important part of the project page would be the documentation (and a decent way to render it) right? If so I think we can just adopt a something like  [slate](https://github.com/lord/slate) (or go doc)?

[2017-07-26 20:14] dmueller2001 opened #108 "add video to ReadMe.md"
add Kubicorn Deep Dive video with Kris Nova
https://youtu.be/2DmUG0RgS70?list=PLaR6Rq6Z4IqfwXtKT7KeARRvxdvyLqG72

[2017-07-27 02:29] #108 closed

[2017-07-27 02:32] kris-nova commented on #105
I am wrapping up writing a book this week and next, but once that is done I should be back to my old tricks again.. meaning I can help out with this effort as well!

[2017-07-27 03:45] kris-nova opened #110 "Vendor kubectl instead of scp"
Right now we have `cutil/kubectl` and it does a lazy approach at `scp` to pull our kube config down to the local filesystem...

Can we vendor the kubectl library directly and use it as advertised? We are missing some valuable features from not doing that.

[2017-07-27 13:53] luxas commented on #56
This is only for admin.conf or?

[2017-07-28 02:35] kris-nova opened #111 "Silence makefile"
Can we please disable all output to `stdout` from `make` please?

It just drives me nuts... please disagree with me if you have reasons otherwise.. I want to hear them :smiley:

[2017-08-01 04:33] kris-nova opened #112 "Implement lolgopher"
Can we please implement https://github.com/kris-nova/lolgopher into the cobra command (and possibly logger) logic of `kubicorn`?

[2017-08-01 16:20] xmudrii commented on #46
@kris-nova I think it's already fixed with #53
i'm just thinking should we explicitly write that you must have Go env installed until first version doesn't get released (and link to tutorial from golang.org)?

[2017-08-01 16:55] xmudrii commented on #69
Is black magic allowed (i.e. `awk` and `sed`)? That wouldn't work on Windows so there is problem already...

[2017-08-01 16:56] #111 closed

[2017-08-02 15:24] k4k opened #119 "Build in Docker Container"
Continuing the discussion from #116.

I like the idea of implementing builds in docker containers for a number of reasons:

* Standardized build environment
* Standardized build tools (see conversation in #69)
* Simplified build process for those who don't want to setup a full dev environment
* Portability for Travis/Jenkins (maybe beneficial?)

We should still use a Makefile and allow users to bu

[2017-08-02 20:53] #88 closed

[2017-08-03 09:30] xmudrii opened #124 "cmd: Persistent flags are not working"
Whenever you try to change some value such as `verbose` (log level) or `color` it will always be default value (`3`) no matter what you try.

One example of command `kubicorn --verbose 1` doesn't work. That you add print value, you would see `3`.

[2017-08-03 15:53] #124 closed

[2017-08-03 20:02] kris-nova opened #126 "Docs on adding a dependency"
Can we document the process on adding a dependency with `dep`

[2017-08-03 21:02] xmudrii opened #128 "Bash and Zsh completion for commands"
I would like to see bash and zsh completions for commands. With cobra, it's easy to get started and I should have PR with basic completions quite soon.

Lately, we need to add completions for resources. There we need to write a few functions to get stuff from `_state` and relevant locations.

[2017-08-03 23:09] xmudrii opened #131 "Configuration files for kubicorn"
Maybe it would not be a bad idea to allow using of configuration files for kubicorn. For now, we can change some of settings using environmental variables. Using config files would allow users to easily set default values to various flags and settings.

One of possible solutions would be to use [spf13/viper](https://github.com/spf13/viper) which supports both configuration files (in various format

[2017-08-04 04:49] kris-nova opened #133 "Headers are a bit weird"
Last night I was messing around with the new headers scripts and I was getting a *ton* of duplicate headers when running `make headers`

You should be able to pull from `master` and run `make headers` and see what I am talking about.

Can we get this cleaned up as our travis build now depends on it?

Thanks!

[2017-08-04 04:50] kris-nova commented on #133
@xmudrii do you might taking a look here?

[2017-08-04 04:52] kris-nova commented on #131
So I think a config file will be absolutely necessary as we start building `kubicorn` into containers to run as controllers in a pod.. but I am wondering what we would *gain* from doing it today?

It seems like we might be introducing unnecessary complexity? What do you think @xmudrii?

[2017-08-04 05:48] kris-nova opened #134 "Move logger into cutil"
Can we please refactor and move the logger package into the cutil directory?

[2017-08-04 05:49] kris-nova commented on #35
Closed with #66

[2017-08-04 05:49] #35 closed

[2017-08-04 05:56] kris-nova opened #135 "Implement git as a state store"
We would like to use git as a state store.
This probably means using regular old git, as well as calling APIs like GitHub

[An State Store is defined as the interface with the following functions...](https://github.com/kris-nova/kubicorn/blob/master/state/interface.go).
State Stores are located in the [`state`](https://github.com/kris-nova/kubicorn/tree/master/state) package.

Currently, we have t

[2017-08-04 08:29] xmudrii commented on #133
@kris-nova should be better with #133

[2017-08-04 08:51] xmudrii opened #137 "Apply returns error: ssh: cannot decode encrypted private keys"
I'm trying to create cluster on DO following [walkthrough](https://github.com/kris-nova/kubicorn/blob/master/docs/do/walkthrough.md).

Create command was successful:
[code]
`_state/myfirstk8s/cluster.yaml` looks okay.

But when I try to `apply`:
[code]

When I check my SSH keys this is what I see:
[code]
I tried adding it to the base using `ssh-add`:
[code]
I changed SSH key path `_state/myfirstk8

[2017-08-04 09:04] xmudrii commented on #131
@kris-nova Whenever you think it's good time. Adding it will not change anything in workflow - env. variables have highest priority, than provided flags when executing command and lastly config stuff.
I think we can wait with it until we fix few other stuff.

[2017-08-04 10:26] #133 closed

[2017-08-04 10:37] mhausenblas opened #139 "Packet implementation"
It would be great if [Packet](https://www.packet.net) would be amongst the supported implementations.

[2017-08-04 10:41] kris-nova opened #140 "State store cleanup"
Right now we have done almost no work and have no testing around state store updating and changing over time.. we need to visit this :smile:

[2017-08-04 10:54] kris-nova opened #141 "Support `kops` API"
Regardless of how the cluster API plays out, it would be a *huge* win to also be able to speak/translate the `kops` API for `kubicorn`

[2017-08-04 11:06] kris-nova opened #142 "Linting"
Despite my desire to keep our pull request experience light and easy, I think having some basic linting would be helpful.

Can somebody set up a lint check in our `Makefile` and have travis run it?

[2017-08-04 12:47] looztra commented on #137
I faced the same problem.
I tried with a key not encrypted and it works.

To be noticed: the ssh key that you use must not be registred in digitalocean, `kubicorn` will do it for you (and fail if the key is already registred)

[code]
So a temp workaround is to use unecrypted keys.

I'm not familiar with `golang.org/x/crypto/ssh` but would be happy to contribute so if anyone can give some hints/poi

[2017-08-04 13:11] looztra opened #143 "Something looks wrong with node hostnames/droplet names on digitalocean"
[code]
I created a cluster with 1 master and 3 nodes on digitalocean.

[code]

Provisionning went well:

[code]

But the cluster only shows a single node:

[code]

However I can see the 3 nodes in the digitalocean console, all named `dok8s-node`

When I try to delete the cluster:
[code]

My first guess is that if k8s only sees one node it's because they all have the same hostname (which is by defa

[2017-08-04 13:34] xmudrii commented on #137
I believe second about linking SSH key to DO is bug as well. I think we're not supposed to create new pair of keys for the every cluster.

‎I'll take a look into this later, also in another issue you posted. Maybe I'll be able to trace down the issue.‎

[2017-08-04 13:38] k4k commented on #143
@looztra what happens if you set `MinCount: 3` instead of `MaxCount: 3` on the node definition? As you have it defined there, the output you are seeing seems correct as you're defining a ceiling and not a floor.

[2017-08-04 13:46] k4k commented on #137
We did not support keys with phassphrases for a while (see #76). But it was fixed (see https://github.com/kris-nova/kubicorn/pull/81). Perhaps there was a regression when we introduced ssh agent support (https://github.com/kris-nova/kubicorn/pull/102)?

[2017-08-04 13:51] k4k commented on #142
In looking around at options for this, it seems linting a Makefile is more difficult than it may appear on the surface. Can we try to identify some specific goals for the linter? From looking at the make file now it looks like this would be a good start:

* Whitespaces
* Unused variables
* `make all --dry-run`

[2017-08-04 14:00] xmudrii commented on #142
‎I believe @kris-nova is talking about linting Go code rather than linting Makefile.

It could be done same as `gofmt`, just to make sure user actually has golint installed (do `go get`)

[2017-08-04 14:03] k4k commented on #142
@xmudrii Go lint is already being run by virtue of runnin `make compile` in the existing tests. Do we want to split these lint checks out separately from the build checks?

[2017-08-04 14:06] kris-nova commented on #143
@looztra can you share the logs in `/var/log/meshbird.log` and both `/var/log/cloud-init.log` and `/var/log/cloud-init-output.log`?

I know it will take a minute or two for the cluster to come up and all the nodes to show ready, but this seems like something else went wrong.

[2017-08-04 14:07] xmudrii commented on #142
‎That's not lint, take a look at this https://github.com/golang/lint

[2017-08-04 14:12] kris-nova commented on #143
@looztra I think your hostname assessment is right pushing up a patch now

[2017-08-04 15:19] kris-nova commented on #143
Patch is released in #144 can you please try again - sorry about that :disappointed:

[2017-08-04 15:21] #143 closed

[2017-08-04 16:12] kris-nova opened #146 "Add example script for digital ocean"
We offer example scripts for users who want to use kubicorn as a library. We have one for AWS here
https://github.com/kris-nova/kubicorn/blob/master/examples/aws.go

Can we please make one for digital ocean?

[2017-08-04 16:13] kris-nova commented on #38
Is anyone actively working on this? I know we have https://github.com/kubicorn/www but I am not sure what the status is

[2017-08-04 16:29] kris-nova commented on #63
So I started working on a testing harness and a new infrastructure testing library called `charlie`.. links and code coming soon!

I am still playing with the idea of deploying a cluster on ever PR - it does seem expensive, but I really want this tool to be taken seriously and respected for it's stability - so it might be what we need. I am fine with footing the bill (within reason) and I am sure

[2017-08-04 17:31] looztra commented on #143
It's ok now indeed:
[code]

thx!

[2017-08-04 18:41] shwsun commented on #63
I see your point.
I think running real deployment tests for every PR is orthogonal to travis CI -- you still need something to run unit test and some mock deploy test while developing. Right?

[2017-08-04 19:00] MyDigitalLife commented on #146
I've added a digital ocean example and created a pull request #148. I have however not been able to test this because i could not find any documentation no how to use this. If you could point me in the right direction i would test it fully.

[2017-08-04 20:57] kris-nova commented on #89
closed with #152

[2017-08-04 20:57] #89 closed

[2017-08-04 21:47] MyDigitalLife opened #154 "Commands on creation server"
DigitalOcean offers a the ability to show graphs about the CPU and disk I/O. For that to work you need to run this command on the server "curl -sSL https://agent.digitalocean.com/install.sh | sh". It would be nice if in the profiles we are able to add commands that need to be run on the servers as part of the setup process. It will probably come in handy for a lot more situations.

[2017-08-04 21:48] xmudrii commented on #154
There is much better solution using the API. Changing something right now, will push PR

[2017-08-04 22:23] #134 closed

[2017-08-04 22:35] kris-nova commented on #154
This is the point of the bootstrap scripts - we need to code this feature https://github.com/kris-nova/kubicorn/issues/41 and users can just bring their own bootstrap scripts

[2017-08-04 22:36] kris-nova commented on #154
the scripts we offer in `/bootstrap` are supposed to be starting places - can we please add 2 more scripts that turn this feature on?

[2017-08-04 22:37] kris-nova commented on #154
Do we think we need *another* place to define one off logic in the profile?

[2017-08-04 22:40] xmudrii commented on #154
@kris-nova I'll push PR soon. That's good idea. I planned to use API on creation and to put it in state as option, but bootstrap script could be good as well.

The reason why I thought so is that user would be able to easier on/off it in state rather than changing script with command.

[2017-08-04 22:51] kris-nova opened #156 "Add camelcase json struct field tags to API"
Right now our API is really bad shape... One bit of low hanging fruit would be to add camelCase struct tags so it at least *starts* to look like real YAML

Examples of struct tags and their meanings from the go documentation:

[code]

[2017-08-04 23:46] kris-nova opened #157 "Switch to CircleCI"
Travis hasn't been the most stable or reliable tool in the shed... can we give CircleCI a go?

[2017-08-04 23:46] #137 closed

[2017-08-04 23:50] kris-nova commented on #146
You should just be able to `go run` the file

[2017-08-04 23:53] xmudrii commented on #157
I think we should give it a try. I think it could be even better than Travis is right now. 

Is it available like Travis as for free, or we have to self-host it?

[2017-08-05 00:58] kris-nova opened #160 "State Store CI tests"
Can we have a testing file in the `/state` directory that will exercise our state stores?

Ideally it would perform the exact same functionality on each of our state stores and call every method in the interface. We could then just loop over our implementations and call the tests for each implementation.

[2017-08-05 03:17] kris-nova opened #161 "The readme is a table - please help"
Right now our readme is a table, and I feel like that is probably the most unattractive thing ever.

Please PR something that makes the README.md feel warm, inviting, and smart.

[2017-08-05 09:36] MyDigitalLife commented on #157
I just checked and CircleCi has a free tier. There are some limitation tho. 1,500 build minutes per month and up to 3 parallel builds for open source projects. It depends on the amount of pull requests but that could be a problem in the future. To get unlimited build minutes its 150$ per month. So looks like its a lot more expensive for a open source project then Travis.

[2017-08-05 09:57] xmudrii commented on #157
That's not so bad, but still... When we implement all tests, let's say average build time is 3 minutes - we have 500 builds for month. As we have some more than 400 commits for first month, I think we would be in that frame. About 3 concurrent builds, not bad as well, I don't believe we need more right now.

There could be few workaround to improve it. Something like K8s or golang/go does with bot

[2017-08-05 15:43] #161 closed

[2017-08-05 19:22] xmudrii opened #165 "Kubernetes never come up on some clusters created on DigitalOcean"
# [Bug] Kubernetes never come up on some clusters created on DigitalOcean

## Description.

### Frequency of Occurrence.
Frequently. Today it happened 3 out of 5 times I tried to create cluster.
### What happens?
Kubernetes just never come up. At the end, it timeouts with the following error:
[code]
### How did I created cluster?
[code]
### What's the output of the command?
Here is the relevant ou

[2017-08-05 20:04] #112 closed

[2017-08-05 20:08] kris-nova commented on #165
This is the best GitHub issue I have ever seen in my life, thank you so much for submitting this. Literally **everything** I need is write here neatly organized.

I think we just need to increase our timeouts - sending a PR now

..Sometimes k8s is *extra* slow

[2017-08-05 20:32] #165 closed

[2017-08-05 20:52] MyDigitalLife commented on #146
Looks like there is still a problem here. When running `go run basiccluster.go` i get the following output:

[code]

[2017-08-05 20:55] metmajer commented on #27
@k4k and @kris-nova: I'm on it! I'll push something and ask for your feedback very soon

[2017-08-05 20:59] xmudrii commented on #146
@MyDigitalLife do you already have that tag created? It could be similar issue to the SSH keys. We should make sure that if resources such as keys and tags exists, they should be used rather than error.

[2017-08-05 21:14] xmudrii commented on #46
Closed with #53 and #147

[2017-08-05 21:14] #46 closed

[2017-08-05 21:56] MyDigitalLife commented on #142
Fixed with #170. We got about 240 warnings about name formatting, adding comments and not using under scores in names. I can easily fix the name formatting but the comments is probably something @kris-nova should fix seeing she wrote most of the existing code and knows best what this are and do.

[2017-08-05 22:02] xmudrii opened #171 "Extremely high ping between Droplets when pinged over VPN"
If I login into two Droplets created using a default bootstrap script, take IP address and ping one Droplet form another, I'll get very high ping.

Here are details:
VPN details (`ipconfig`) from the master Droplet:
[code]
VPN details from the node:
[code]
Ping Master->Node
[code]
Ping Node->Master
[code]

It's also not possible to SSH or it takes very long time to establish a connection.

`kubect

[2017-08-05 22:34] MyDigitalLife commented on #146
I had some droplets that have had the tags but they where already deleted at that point. I don't really see any existing list of tags in the web UI. In the Digital ocean documentation it does look like it has a list of tag saved and it is probably throwing the error because they already exist like you said.

I'l try and fix this tomorrow. We should first check what tags exist and use those before

[2017-08-05 22:40] xmudrii commented on #146
That's true, even when you delete a Droplet, tags are not deleted.
You have to use [this](https://developers.digitalocean.com/documentation/v2/#list-all-tags) API endpoint to list all tags and then [this](https://developers.digitalocean.com/documentation/v2/#delete-a-tag) one to delete.
Or you can use CLI - [`doctl`](do.co/doctl) to list and delete them (`doctl compute tag list`, `doctl compute ta

[2017-08-06 15:40] kris-nova commented on #171
So I think this is a case of `meshbird` being a quick and dirty solution to the VPN mesh we are trying to create..

I vote we check out the following two projects:

 - https://github.com/weaveworks/mesh
 -

and write bootstrap scripts for both of them for DO. This gives us an ability to do side-by-side testing and figure out which VPN mesh we want to use.

I think the reason it's so slow is becaus

[2017-08-06 15:42] kris-nova commented on #171
Can we please:

1. Open up an issue for the OpenVPN bootstrap script
2. Open up an issue for the Weave mesh bootstrap script
3. Point all the issues together by dropping links in comments

[2017-08-06 15:45] xmudrii commented on #171
I agree with you. Originally, I was trying to setup the following https://www.digitalocean.com/community/tutorials/how-to-install-tinc-and-set-up-a-basic-vpn-on-ubuntu-14-04

But I was stuck on two things:
1) Set subnet depending on the server https://www.digitalocean.com/community/tutorials/how-to-install-tinc-and-set-up-a-basic-vpn-on-ubuntu-14-04#tinc-configuration (as you see - every Droplet h

[2017-08-06 16:01] xmudrii opened #177 "Add WeaveMesh VPN bootstrap script for DigitalOcean"
Due to `meshbird` being not so good VPN solution (see issue #171), we need to offer multiple solutions.
WeaveMesh seems like a good solution - https://github.com/weaveworks/mesh

We need to see will it be okay for our need, create bootstrap script and test it.

Also see #178 for OpenVPN issue.

[2017-08-06 16:02] xmudrii opened #178 "Add OpenVPN bootstrap script for DigitalOcean"
Due to meshbird being not so good VPN solution (see issue #171), we need to offer multiple solutions.
OpenVPN is popular solution but we need to make it work in mesh mode so we actually get private networking. This [DO tutorial](https://www.digitalocean.com/community/tutorials/how-to-secure-traffic-between-vps-using-openvpn) and [this](https://www.digitalocean.com/community/tutorials/how-to-set-up

[2017-08-06 16:04] xmudrii commented on #171
@kris-nova created the issues #177 and #178.

[2017-08-06 18:14] kris-nova commented on #178
This is prime bash hacking territory if we have any bash hackers among us!

[2017-08-06 18:15] xmudrii opened #179 "Don't delete resource if it existing before on account"
Right now, depending on the resource, if it already exist in the account it will fail or that resource will be used.
For example, if you already had SSH key in account it would fail. That behavior was fixed in #155 - if SSH key already exist, use it.
The code checking does SSH key exist, and using it if it does can be found here https://github.com/kris-nova/kubicorn/blob/master/cloud/digitalocean/

[2017-08-06 18:17] MyDigitalLife commented on #179
In my dev environment I have the following situation:
First we do a create for the ssh key and that return a `SSH Key is already in use on your account` error.
Then knowing that a GetByFingerprint is performed. However this returns `The resource you were accessing could not be found.`.

[2017-08-06 18:20] kris-nova commented on #179
Yeah this logic needs to be improved.. and I am okay with having `kubicorn` use keys that already exist (even though we should never be abandoning resources like that)

[2017-08-06 18:24] xmudrii opened #180 "Add contributing workflow to docs"
I think we should add document that will help users to contribute to the project. Doc should explain user what we expect in PR/review process and should explain how to do some actions. In my opinion it should have:
* Link to how to build `kubicorn`.
* Formatting code (`make gofmt`).
* Linting code (`make lint`).
* Vendoring dependecies (how to install dep, how to vendor, how to update)
* Adding he

[2017-08-06 19:58] #27 closed

[2017-08-06 20:59] xmudrii commented on #179
‎‎@mydigitallife If you didn't already deleted it, save it if you're able to do so. It would be useful later to test some changes when we improve error handling. 

I plan to push something tomorrow, which should better extend godo's responses.

[2017-08-07 01:07] kris-nova commented on #180
Can we just expand this one? https://github.com/kris-nova/kubicorn/blob/master/CONTRIBUTING.md

[2017-08-07 05:03] kris-nova opened #182 "We need the bootstrap script out of the repo"
Ideally we need `bootstrap/bootstrap.go` out of version control.. the problem is that if we do that it breaks `go get`...

Open to ideas/suggestions

[2017-08-07 05:09] kris-nova opened #183 "Write the cluster API to a file instead of using inject"
So write now we are doing some hacky shit...

We set one-off key/value pairs in Go.. and then hack them into the bash script..
https://github.com/kris-nova/kubicorn/blob/master/cloud/digitalocean/resources/droplet.go#L178-L179

### The problem

We *dont* want to encourage a `text/template` pattern here, so we inject one off values
We need data from the API at runtime in these scripts

### The new

[2017-08-07 05:30] r0fls opened #184 "Question: how to troubleshoot digitalocean SSH issues?"
I added my ssh key to digital ocean, and my DO token to my environment variables (while following the instructions from https://github.com/kris-nova/kubicorn/blob/master/docs/do/walkthrough.md). However I still get the below error:

[code]

Here's my ssh key fingerprint:

[code]

And as shown via DO:

<img width="809" alt="screen shot 2017-08-06 at 10 22 43 pm" src="https://user-images.githubuserc

[2017-08-07 06:07] kris-nova commented on #184
So the profile will look in `$HOME/.ssh/id_rsa.pub` for a key, if that doesn't exist it will error like that..

Fix 1: Copy/Create a key in that location on your file system
Fix 2: Change the profile after you create it to point to whichever key you want to use

I think the docs here are a little confusing - will update and hopefully clarify a few things

[2017-08-07 06:08] r0fls commented on #184
Hmm my key is there:

[code]

[2017-08-07 06:08] kris-nova commented on #184
Can you `ls -la` the file? Are owner/permissions correct?

[2017-08-07 06:09] r0fls commented on #184
I get this:

[code]

Looks correct to me but I could be wrong...

[2017-08-07 06:10] kris-nova commented on #184
`chmod 600 ~/.ssh/id_rsa.pub`?

[2017-08-07 06:11] r0fls commented on #184
Still no love, I'm super confused... maybe should open a ticket with DO:

[code]

[2017-08-07 06:12] r0fls commented on #184
actually i guess that's probably some kind of bug since it's not even finding the key, at least based on the message 🤔

[2017-08-07 06:13] kris-nova commented on #184
Do you have a private key there as well? This is the function that is failing btw: https://github.com/kris-nova/kubicorn/blob/master/cutil/initapi/ssh.go#L30

[2017-08-07 06:13] kris-nova commented on #184
So it's looking for `$HOME/.ssh/id_rsa` as well

[2017-08-07 06:14] r0fls commented on #184
Ya, I have it:

[code]

[2017-08-07 06:14] kris-nova commented on #184
I know we had issues with larger/DSA keys in the past - is it a plain ol RSA key?

[2017-08-07 06:16] r0fls commented on #184
It's 2048 bit length but that was the default when I generated it:

[code]

[2017-08-07 06:17] kris-nova commented on #184
....this all looks completely reasonable

[2017-08-07 06:17] kris-nova commented on #184
Version of `kubicorn`? You can get the commit shaw from running `kubicorn` with no args

[2017-08-07 06:17] r0fls commented on #184
hmm wait, i'm an idiot... i think this is happening because i didn't update (i cloned this a while ago and then just reran `go get ...` but didn't reinstall or anything). Maybe I need to `go install ...` now?

[2017-08-07 06:18] kris-nova commented on #184
you can run `make all` to recompile and drop off in `$GOPATH/bin/kubicorn`

[2017-08-07 06:19] kris-nova commented on #184
Otherwise `make` will drop off in `$GOPATH/src/github.com/kris-nova/kubicorn/bin/kubicorn` and you can
[code]

[2017-08-07 06:19] r0fls commented on #184
yay! 💯 still some other errors though :) I'll troubleshoot those but I think the original issue here is solved. Thanks again!! 😄

[2017-08-07 06:20] #184 closed

[2017-08-07 06:20] kris-nova commented on #184
Closing - please open a new issue if you get snagged - and if you want to chat in slack instead of here I am always hanging in #kubicorn in gophers slack

[2017-08-07 09:24] xmudrii commented on #142
Partially fixed with #187

[2017-08-07 09:38] xmudrii opened #189 "Expand DigitalOcean API errors"
We could make godo return more descriptive errors so we know what exactly happened, and why API call failed.

[2017-08-07 11:39] metmajer opened #190 "Migrate progress indicator code into package"
In https://github.com/kris-nova/kubicorn/pull/172, we've added an anonymous function to [kubicorn/cmd/delete.sh](https://github.com/kris-nova/kubicorn/blob/2b2f39c8d2d163a42f471bdf33c73c1e0996da7f/cmd/delete.go#L112-L128), which indicates progress to a user during the execution of a long running task by repeatedly logging a symbol.

**Goals**
- Integrate this function into a package `sleeper` or s

[2017-08-07 11:39] metmajer commented on #190
Feel free to assign this to me.

[2017-08-07 11:41] xmudrii commented on #190
This sounds like a good idea to me. :+1: :smile:

[2017-08-07 14:18] MyDigitalLife opened #191 "Improve state folder location"
At the moment we save the state when running the apply command in the current directory (`./_state`). This is somewhat inconvenient in some situations. You will need to know where you where when running the apply command.

It would be more better to save the state in a folder like `~/.kubicorn/_state/`. It might also be a good idea to be able to override this folder location with a env variable.

[2017-08-07 14:20] #191 closed

[2017-08-07 15:07] MyDigitalLife commented on #179
I still have the key so i'm able to test it if you push a change.

[2017-08-07 15:10] xmudrii commented on #179
‎Sorry, it should be tonight or tomorrow, I have some work I must finish today. 

[2017-08-07 19:11] #26 closed

[2017-08-07 19:11] #128 closed

[2017-08-07 19:11] kris-nova commented on #190
Also agree - please take a stab at coding this @metmajer!

[2017-08-07 20:10] darron commented on #38
Hey @kris-nova I've been out on vacation, away from computers for a while and pretty slammed at work before I left for vacation.

I need to concentrate on other things for a while - so feel free to throw that away and start fresh.

Sorry I couldn't do more.

[2017-08-07 23:22] krisnova opened #195 "Integrate with Heptio's Ark"
@kris-nova to come up with a plan and flesh out implementation details

[2017-08-07 23:47] kris-nova opened #196 "Makefile documentation"
Can we add a markdown file in the docs directory that contains documentation on our Makefile

[2017-08-08 06:16] prateekgogia commented on #178
Hi, I can take a stab at it. Does it really have to be in bash ? I have some ideas to run openVPN in Docker containers with host networking and deploy using Kubernetes itself. Don't have the complete details yet, but if you think it will be something useful I can try to implement this.

[2017-08-08 06:45] mariomazo commented on #42
@kris-nova could you provide a sample of the ``data`` file. Is do we need some sort of parsing (remove \n and so on)

[2017-08-08 08:24] xmudrii commented on #178
Personally, I think we should stay with pure bash if that's possible. I believe that it could be easier for users to later change it per their needed with bash rather than with Docker. Also, we shouldn't mix implementations (e.g. one docker, one bash, another one something other).

[2017-08-08 12:50] xmudrii commented on #178
I'm starting with this one. Nobody else started in meanwhile?

[2017-08-08 13:09] #196 closed

[2017-08-08 13:29] kris-nova commented on #42
@mariomazo we should not alter the file in anyway, only read it to a variable.

We just need to be able to give a function a string, and it either return a byte slice `[]byte` or an error `error`.

The accepted strings are listed above, but they could be something like the following:
`~/data` should read from `$HOME/data`
`/tmp/data` should read from `/tmp/data`
`http://nivenly.com/data` should se

[2017-08-08 13:32] mariomazo commented on #42
I will do it!

[2017-08-08 13:49] kris-nova commented on #179
So I think we should **only** focus on `ssh` keys to start, also I was able to code this into the `amazon` implementation in #162

[2017-08-08 13:50] xmudrii commented on #179
@kris-nova do you want me to resolve it new PR or will we do it in #162 as well?

[2017-08-08 13:52] xmudrii commented on #179
@kris-nova will try to fix it today as well :)

[2017-08-08 14:02] kris-nova opened #203 "Implement retry package and new signal handler"
I have some ideas for a POSIX compliant signal handler, and a clever re-try package that we can use throughout the program that will respect the new signal handler, as well as make it easy to retry functions for an arbitrary amount of time.

[2017-08-08 14:02] kris-nova commented on #203
If anybody else wants to take a stab at it let me know, and we can go over the feature in more detail.

[2017-08-08 19:16] #103 closed

[2017-08-08 19:16] #156 closed

[2017-08-08 19:18] #69 closed

[2017-08-08 19:35] kris-nova commented on #63
Closing this as we have `make test` and `make ci` in #158

[2017-08-08 19:35] #63 closed

[2017-08-08 19:36] kris-nova commented on #90
Closed in #158

[2017-08-08 19:36] #90 closed

[2017-08-08 19:37] kris-nova opened #208 "Pre-release alpha `0.1.00`"
Can we start focusing on a pre-release that will serve as a stable version of our code with all of our pre-release features?

The following issues need to be complete before we can push a release:

 - #14
 - #41
 - #34
 - #42
 - #203
 - #190

And we also need general tests throughout the code base, so feel free to PR any test you can.

[2017-08-08 19:39] kris-nova opened #209 "Interupt in DO droplet creation causes error"
If you interrupt creation while creating a DO cluster we get a count-mismatch error and resources are abandoned. We need to fix the logic here.

[2017-08-08 20:47] xmudrii opened #211 "Create VPN package to handle VPN setup"
We need to create a `vpn` package that will handle creating the VPN on DigitalOcean Droplets. Currently, it's hardcoded to copy few files from the `/tmp` directory from Master to local which decreases flexibility a lot (https://github.com/kris-nova/kubicorn/blob/master/cloud/digitalocean/resources/droplet.go#L167).

See #177 & #178 for needed VPN implementations.

Edit: Plan:
Add new field here: h

[2017-08-08 20:48] aledbf opened #212 "Add a CLA to the repository"
Just in case :)

Edit: using something like https://cla-assistant.io/ (just an example)

[2017-08-08 20:48] xmudrii opened #213 "Use OpenVPN instead of MeshBird by default for DigitalOcean Droplets"
Because meshbird VPN doesn't seem like a great solution (see #171), we need to default to OpenVPN. For `0.1.00` we will implement only OpenVPN solution and once it gets released we will start working on VPN package and interface (see #211).

Relevant issues #177 & #178.

[2017-08-08 20:53] kris-nova opened #214 "API Validation"
Right now we (dangerously) accept every API that comes our way... can we start to build out API validation using this system:  https://github.com/kris-nova/kubicorn/blob/master/cutil/initapi/init.go

We need a long set of rules, with each rule wrapped in a function (similar to unit tests) and if the function fails we need to have a meaningful message, as well as the name of the function that faile

[2017-08-08 20:56] kris-nova commented on #214
We will also need tests to prove our validation works and doesn't work (happy and sad paths)

So for the tests, we will need a lot of different profiles, some good, some bad.. and check that good ones work and the bad ones don't work

[2017-08-08 20:56] kris-nova commented on #214
We will also need documentation on adding new validation rules, and how every validation rule needs a happy/sad test

[2017-08-08 20:56] kris-nova commented on #214
Once we have 1 working validation rule, documentation, and happy/sad tests for the new rule we can close this issue

[2017-08-08 20:59] kris-nova opened #215 "Implement firewalls in DigitalOcean"
In order to lock down our clusters even further, we will need to start coding in firewalls for our DigitalOcean clusters.. the infrastructure to do this is already in place - we just need a new `Resource{}` and we need to add firewalls to the model

[2017-08-08 21:05] kris-nova commented on #183
We can get rid of this crap: https://github.com/kris-nova/kubicorn/blob/master/bootstrap/digitalocean_k8s_ubuntu_16.04_master.sh#L5-L16

[2017-08-08 21:50] kris-nova commented on #212
Can we please implement the `cla-assistant` link that @aledbf mentioned? Ping me if anyone needs access/creds etc

[2017-08-09 00:23] kris-nova opened #220 "Support CentOS"
Can we create some CentOS examples and profiles?

[2017-08-09 00:24] kris-nova opened #221 "Support Arch"
Can we code up some Arch linux profiles and examples?

[2017-08-09 00:27] kris-nova opened #222 "Support Amazon Linux"
Code in support and examples/profiles for EC2 Amazon linux.. this should be fun.. we will probably have to hack the hell out of the kubelet because Amazon linux doesn't' ship with `systemd`

[2017-08-09 01:22] prateekgogia opened #225 "Failed to bring K8s cluster on DO"
Tyring to create a K8S cluster on DO followed the steps here-
https://github.com/kris-nova/kubicorn/blob/master/docs/do/walkthrough.md

VMs come up fine, however K8S node never joins Kubernetes Master. Here are the logs from the command -

./kubicorn create -n do-test -p do

./kubicorn apply -n do-test -v 4
2017-08-08T17:25:23-07:00 [✔]  Selected [fs] state store
2017-08-08T17:25:23-07:00 [✔]  Loa

[2017-08-09 01:47] kris-nova commented on #225
Are you running from head? What version of `kubicorn` is this with? I tested today and `HEAD` should be stable... until we get to our first release we have to just do the best we can

[2017-08-09 01:54] kris-nova opened #227 "Add issue template"
Can we please add an issue template to the repository?

I want it to be as short as possible! The only things I can think of to add (at this point) would be the following

[code]

[2017-08-09 02:56] boingram opened #228 "Invalid command code when running the update headers script"
$ make update-headers
    sed: 1: "./cutil/initapi/validat ...": invalid command code .

When running the update headers target after creating a new test file (cutil/initapi/validate_test.go), I received an invalid command code error when it tried to insert the header using sed. I was able to add it manually, but the error is probably worth fixing.

I linked the PR where the issue occurred below.

[2017-08-09 03:05] aledbf commented on #228
@boingram are you using osx?

[2017-08-09 03:06] boingram commented on #228
I am

[2017-08-09 03:18] #228 closed

[2017-08-09 05:30] prateekgogia commented on #225
@kris-nova Yes, I am on the master branch. This is the last commit -

commit a3cf74e6cfa3dab0c27e81880de292c7723ca84b

    Merge pull request #219 from kris-nova/makefile-help

Actually, I figured out the issue. In this file vpn/meshbirdNode.sh, this variable is missing - MESHBIRD_KEY="INJECTEDMESHKEY".
Once, I added it and recompiled, node got connected. I see in other PRs, meshbird is removed, o

[2017-08-09 06:46] MyDigitalLife commented on #225
I just checked. It looks like when i removed the meshbird bash script from the DigitalOcean files i accidentally added the `MESHBIRD_KEY` to the master script and not to the node script. It would be great if you could make a pull request for that. If not I'l do this when i'm home tonight.

[2017-08-09 07:19] #225 closed

[2017-08-09 07:36] kris-nova opened #232 "Clean up issue template (HTML Formatting)"
Right now we can see the HTML formatting for the issue template, can we please tidy this up?

<img width="633" alt="screen shot 2017-08-09 at 01 35 19" src="https://user-images.githubusercontent.com/13757818/29110202-16a288ce-7ca3-11e7-94bc-24b98c1ea024.png">

[2017-08-09 07:40] kris-nova commented on #227
Closing because of #230 and #232

[2017-08-09 07:40] #227 closed

[2017-08-09 10:56] MyDigitalLife commented on #154
With the changes we made to the scripts array to decouple meshbird this is a easy task. Just add a script and allow people to add it to there profile. Other types of monitoring could also be added easily. I'll add this tonight.

[2017-08-09 11:06] MyDigitalLife commented on #14
What actually has te be done for this issue? As far as i know semver is just a set of rules you promise to uphold. So we would just need to add a .md talking about how we want to handle releases and BC breaks and stuff?

[2017-08-09 15:06] xmudrii opened #233 "Test Bootstrap scripts in containers"
It could be awesome to offer a way to test Bootstrap scripts in containers, on the local computer.

[2017-08-09 15:21] zoidbergwill commented on #212
CLA Assistant has [this](https://gist.github.com/CLAassistant/bd1ea8ec8aa0357414e8) default CLA we could fork?

[2017-08-09 15:25] zoidbergwill commented on #157
We could easily run them both for a while and see how it goes.

It'd be awesome if GCP/CNCF in the future provided CI to all popular projects relevant to their projects.

[2017-08-09 15:38] aledbf commented on #212
That is what I did with this:

[code]

but I cannot select the `kris-nova/kubicorn` repository. Only the ownser can do that

[2017-08-09 16:27] MyDigitalLife commented on #157
I like that, no reason not to do it.

[2017-08-09 19:59] #171 closed

[2017-08-09 19:59] #178 closed

[2017-08-09 19:59] #213 closed

[2017-08-09 20:02] #157 closed

[2017-08-09 20:05] #232 closed

[2017-08-09 21:47] xmudrii commented on #209
Possibly found a root of the problem. Trying to apply fix.

[2017-08-09 22:36] prateekgogia commented on #222
@kris-nova
Do you mean kubeadm ? cz kubeadm is the one starting kubelet, using systemd.

If this is correct.
We can create a simple script name it systemctl and it can act as interface to initctl, which can be added to Amazon Linux. This script will just support these commands, which are part of the kubeadm interface and call initctl commands for us
[code]

In return, we don't end up changing Kube

[2017-08-09 22:59] xmudrii commented on #220
DigitalOcean profile is being worked on in #240

[2017-08-09 23:12] #209 closed

[2017-08-10 08:20] xmudrii commented on #221
@kris-nova DigitalOcean doesn't have Arch Linux, nor support it anymore

[2017-08-10 08:22] xmudrii opened #247 "Support CoreOS"
Would it be good idea to create profiles and support CoreOS (at least on DigitalOcean, if not available for Amazon)?

/cc @kris-nova

[2017-08-10 11:12] kris-nova commented on #214
Now we have validation #226 and docs #245 so closing!

[2017-08-10 11:12] #214 closed

[2017-08-10 11:31] kris-nova commented on #208
Closing because we are using milestones

[2017-08-10 11:31] #208 closed

[2017-08-10 11:34] kris-nova commented on #14
All we need to do is add documentation around versioning and what it means to the project

[2017-08-10 12:18] kris-nova commented on #203
@xmudrii this is all yours 😄

[2017-08-10 12:19] kris-nova commented on #44
@xmudrii you may or may not write an interface depending on how you approach the problem - close this accordingly please

[2017-08-10 17:16] prateekgogia commented on #215
WIP

[2017-08-10 17:31] metmajer commented on #233
Wouldn't [Test Kitchen](https://github.com/test-kitchen/test-kitchen) be a good platform for this? Here's an example integration test using Test Kitchen, Bash and Serverspec: [OneAgent-PaaS-S2I-Integrations](https://github.com/dynatrace-innovationlab/oneagent-paas-s2i-integrations/tree/master/test). The Test Kitchen configuration is available [here](https://github.com/dynatrace-innovationlab/oneag

[2017-08-10 18:23] prateekgogia commented on #94
@kris-nova I tried to integrate this, looks like it is already enabled for Gophers team slack and travis notifications are sent to goa-builds channel. I don't know if we can hook it up to 2 travis and send notification to separate channels. It might also flood the chat with group messages, unless we want to have a separate channel for these notifications.

[2017-08-10 21:49] mariomazo commented on #135
@kris-nova does it make sense to also add s3?

[2017-08-11 03:12] kris-nova commented on #233
If there is something that exists, we should absolutely use it. One of the main goals of `kubicorn` is that we strive for

 1. Developer empathy
 2. Operator empathy

So as long as it works well, and makes sense to an engineer we are good to go. Just want to see the implementation coded in (whatever that means) with a short/simple walkthrough on how to test a bootstrap script / scripts.. ideally i

[2017-08-11 03:15] kris-nova commented on #222
@prateekgogia you were busy today - I love seeing all the hard work! Thank you!

My concern is that `kubeadm` requires `kubelet` to be running with `systemd` and `ec2 linux` runs on good ol init... if you think you can _spoof_ `kubeadm` into thinking `systemctl` is running that might be the way to go

If you want to code this in as a bootstrap script please do, but I would be weary about bending o

[2017-08-11 03:16] kris-nova commented on #222
Also this is a relatively low priority as no one has really asked for it yet - just forward thinking on my part

[2017-08-11 03:16] kris-nova commented on #221
I am sure we can get it on other clouds tho right?

[2017-08-11 03:18] kris-nova opened #253 "FreeBSD implementation"
You heard me.

I want `kubicorn` to support running `kubernetes` on FreeBSD. It's my favorite operating system, and I will be damned if I own a project that doesn't work will with Beastie.

I can code this as docker on FreeBSD is lots of fun, but if anyone else wants to get this going feel free to!

![image](https://user-images.githubusercontent.com/13757818/29200308-7e5c0bec-7e11-11e7-9286-a20094

[2017-08-11 03:28] prateekgogia commented on #222
@kris-nova
Ok, I will keep it in the back burner and think more over. If some better solution comes to mind.

[2017-08-11 03:55] kris-nova opened #254 "We need a bank account, and a place to sell stuff"
So I have decided that we *will* in fact do integration testing for all of our profiles.

If we can cleanly demonstrate that they work in all the clouds, we can introduce much needed confidence and ease in the infrastructure layer in Kubernetes.

The caveat here... this is going to cost money. So I will commit to always covering the bills, but it would be nice if we could offset the cost of our cl

[2017-08-11 03:57] kris-nova commented on #254
Also - follow up item.. we need ideas/designs for artwork/stickers/etc...

Themes are whatever the hell you want.. just but `kubicorn` somewhere on there

[2017-08-11 04:05] kris-nova commented on #94
Okay let's close this for now and if we switch slack later we can re open then

[2017-08-11 04:05] #94 closed

[2017-08-11 04:07] kris-nova opened #255 "Maintainers Documentation"
Can we please come up with a set of standards / code of conduct for our active maintainers?

We need to answer:

- What is a maintainer
- How do you become a maintainer
- What are your responsibilities as a maintainer
- What needs to happen in order to merge

[2017-08-11 04:09] kris-nova commented on #56
Sorry @luxas just now seeing your comment.. Yes we need to change the name on each of our clusters kubeconfig - right now we don't run a `kubeadm` conf.. we call everything on the command line.. Checkout the `/bootstrap` directory [here](https://github.com/kris-nova/kubicorn/tree/master/bootstrap) for examples of what we are doing..

[2017-08-11 04:10] kris-nova commented on #142
Update? Are we linting yet? I haven't gone through and written a ton of code docs so I assume we still have at least 1 more step to go right?

[2017-08-11 04:54] kris-nova commented on #177
Any research here from anyone? Will this solve our problem?

[2017-08-11 04:58] kris-nova opened #256 "Friends of Kubicorn"
As we move forward in our ongoing journey to unite the open source Kubernetes community.. we will need a place to show off the orgs/companies that we are working with!

Can we please offer a *Friends of Kubicorn* markdown file in `/docs`  that contains a list of projects we work well with and love?

Ideally the file would have the following:

1. Explanation on how to add your project to the file
2

[2017-08-11 05:24] kris-nova commented on #179
Isn't this closed?

[2017-08-11 05:25] kris-nova commented on #146
Where are we on this? Is this still blocking?

[2017-08-11 05:50] MyDigitalLife commented on #142
The docs is definitely still a open issue and with the code of the last few days there are probably a few more now. I would love if we can handle this ASAP and then add it to Travis. This way it will be mandatory for the project to have no linting errors.

[2017-08-11 07:28] prateekgogia opened #257 "go get has external dependency"
In [quick start](https://github.com/kris-nova/kubicorn/blob/master/docs/INSTALL.md#quickstart) we mention this command to get started -  `go get github.com/kris-nova/kubicorn`

This fails if the host doesn't have  `libncurses5-dev` library, either we should fix quick install guide or find a way around this dependency. Ubuntu 16.04 doesn't have this library, which causes go get to fail.

[2017-08-11 07:45] stp-ip commented on #254
To get something setup in general aka the basics, someone could reach out to https://www.cncf.io/cluster/.

[2017-08-11 07:50] MyDigitalLife commented on #254
With a quick search if found this:
https://www.printful.com/merchandise-on-demand
https://merch.amazon.com/landing

Both options look like they allow uploading of designs and selling. Didn't look into costs.

[2017-08-11 13:41] mariomazo commented on #140
@kris-nova not sure about the "work" to be done, but I can take over writing some tests for the current implementation

[2017-08-11 14:21] bartekrutkowski commented on #253
So, where do I start? ;)

[2017-08-11 14:25] xmudrii commented on #253
@bartekrutkowski Hello and welcome to kubicorn project. :)

As for DigitalOcean, I think best places to start are pull requests #240 and #217
Bootstrap script are used to setup servers (in DO case Droplets) and they are located here https://github.com/kris-nova/kubicorn/tree/master/bootstrap
If you need any help, feel free to ping me here on kubicorn slack.

For Amazon, I don't use it so I can't h

[2017-08-11 14:46] bartekrutkowski commented on #253
@xmudrii I'm not sure I understand you - my question was particularly about the issue in question, that is, FreeBSD support :)

[2017-08-11 15:03] xmudrii commented on #253
Sorry, my bad! I thought this is about supporting FreeBSD on cloud and not getting kubicorn working with it. :sweat:

Therefore, @kris-nova will need to help you with this one. :)

[2017-08-11 15:06] kris-nova commented on #254
@stp-ip this is a great point, I will ping some of my friends in CNCF and see what we can do moving forward (we still need to sell t shirts though)

[2017-08-11 15:08] kris-nova commented on #254
@MyDigitalLife let me know if you find out anything on either of those solutions and if we want to try to build something out

[2017-08-11 15:49] metmajer opened #259 "Redesign logger implementation"
**Goal**

As discussed in https://github.com/kris-nova/kubicorn/pull/194, we should aim for a more expressive API. Therefore, we should reconsider the use of variadic parameters in `logger` to support the injection of arbitrary `io.Writer` implementations. This has been added for testing purposes only, since each logger implementation decides on its own which writer to use (unless `logger.TestMode

[2017-08-11 17:16] mzamot commented on #220
AWS WIP

[2017-08-11 19:05] kris-nova commented on #253
@bartekrutkowski here are the loose steps I had in mind to get this working

1. Pick a cloud
    a. AWS has a FreeBSD AMI in the Marketplace I have used before - it works great
    b. DigitalOcean has full FreeBSD support (I would start here)
2. Create a profile
    a. Look in the `/profiles` directory for example (I would just copy the existing DO one and start tweaking)
3. Map the profile to a f

[2017-08-11 20:20] #255 closed

[2017-08-11 20:32] CharlieRoseMarie commented on #254
I have a lot of experience in the ecommerce domain, if that would be of some help. I maintain and develop the store at my day job, and I basically rewrote it from scratch (https://www.toastmasters.org/shop if you are curious).

[2017-08-11 20:53] alexellis commented on #253
Hi nice to meet you. This sounds like a very cool thing to do. How good is the Docker/container runtime support on FreeBSD? (I haven't tried it)

The folks at Packet also have Official OS Support for FreeBSD on their [servers](https://www.packet.net/bare-metal/servers/type-0/) I read [this article](https://thenewstack.io/cncf-packet-team-provide-free-infrastructure-cloud-developers/) on the New St

[2017-08-11 22:03] prateekgogia commented on #253
I don't think Docker has official support for FreeBSD, but I could be wrong too.
If packet gives credits for opensource projects, may be we should add support for packet sooner and leverage that.

[2017-08-11 22:17] kris-nova commented on #253
It's "experimental" https://wiki.freebsd.org/Docker

Which in Kubernetes land means it's ready to go

[2017-08-11 22:17] kris-nova commented on #253
...the only way we are ever gonna get there is if we start pushing the boundaries

[2017-08-11 23:12] freebsdfrau commented on #253
Hello. I am a FreeBSD src and ports committer. You can blame me for the boot loader menu, large swaths of the installer, bsdconfig, sysrc, libdpv, dpv, libfigpar, VNET jail examples, DTrace utilities, and many more items as well as several ports including sysutils/cmocka and many others.

I am also a friend of @kris-nova -- she's awesome!

TL;DR: I'd like to help with this.

[2017-08-11 23:12] bartekrutkowski commented on #253
Everyone, few comments:

- saying "experimental" about Docker based on the quoted wiki page is a _huge_ understatement - what that page was describing was a one persons' private attempt at Docker for FreeBSD, one that was never nowhere near being finished and that haven't seen a commit in over two years
- systemd on FreeBSD is not going to happen, it hooks too deep into Linux kernel to be remotely

[2017-08-11 23:18] kris-nova commented on #253
So this isn't a troll trap - i really want to do this - and I wasn't saying the bash would be the hard part I was saying that docker, and the systemd challenges were going to be hard...

As far as `kubeadm` on FreeBSD..

[code]

ought to do the trick..

[2017-08-11 23:21] kris-nova commented on #253
Also a note on tone @bartekrutkowski please make sure to keep these technical discussions postive and helpful. Welcome to the project. https://github.com/kris-nova/kubicorn/blob/master/CODE_OF_CONDUCT.md#our-standards

[2017-08-12 01:43] #14 closed

[2017-08-12 03:39] kris-nova opened #260 "Cluster name as implicit argument"
So right now we use a cluster name to identify clusters.. but the user has to pass `-n` or `--name` in order to define the cluster such as:

[code]

Can we have an implicit `-n` for the first argument after the command so that the user can use simply type:

[code]

This also frees up the `-n` flag for the `kubicorn snap` command to be used for `-n` `--namespaces` which makes much more sense to a `

[2017-08-12 08:26] kris-nova opened #262 "Update AWS Profiles to use t2.xlarge for masters"
From master after deploying a cluster on `AWS`

[code]

So nothing is scheduling..

We need to fix this and solve integration testing sooner than later so this stops happening - we can't have master broken like this 😞

[2017-08-12 11:37] MyDigitalLife commented on #34
I'm working on the GCE implementation. I have creating and deleting of nodes working an will be starting the creation of the k8s cluster nest.

[2017-08-12 15:06] #67 closed

[2017-08-12 15:08] kris-nova opened #263 "Should our API be immutable?"
One of the lessons prescribed in my book is that whenever infrastructure is mutated the current representation of the infrastructure should be destroyed and a new representation of the infrastructure should be created.

TLDR; I tell people we should have an immutable representation of infrastructure (API)

Wondering what folks think about implementing this into `kubicorn` as it would require a gra

[2017-08-12 18:08] kris-nova commented on #253
Goals for initial bootstrapping

 - Docker 1.11 (or greater) running in FreeBSD
 - Systemd alias layer
 - configure IPFW to filter on layer 2 as documented in the ipfw(8) manpage to replace ebtables
 - Ports
    - `net/socat`

[2017-08-12 18:30] prateekgogia commented on #263
+1 for this, if it helps us add more test cases to our logic. Reconciler right now does need to be refactored, otherwise it will just keep growing.

[2017-08-12 18:36] #190 closed

[2017-08-12 19:26] kris-nova commented on #263
Completely agree

[2017-08-12 19:27] kris-nova commented on #263
CC @roberthbailey @pipejakob as this might impact their API work

[2017-08-12 21:35] freebsdfrau commented on #253
Fellow FreeBSD developer Brad Davis (brd@) adds:

[2017-08-12 21:43] freebsdfrau commented on #253
Hmmm, didn't know about socat until today. This looks cool.

I was originally thinking netgraph or epair/if_bridge with VNET:

[https://svnweb.freebsd.org/base/head/share/examples/jails/]

But socat would remove the dependency on a custom [VNET enabled] kernel.

[2017-08-13 01:10] kris-nova commented on #263
@xmudrii and @prateekgogia can we open an issue with reconciler refactors we want?

[2017-08-13 01:12] kris-nova commented on #253
@freebsdfrau as much I love compiling the FreeBSD kernel - I think it would be best to lean on `socat` thoughts?

[2017-08-13 01:17] kris-nova commented on #203
@xmudrii how is this going? Do we have any code to start looking at?

Also I wanted to add a small constraint to the project..

Which is described here: https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods

But the general message is that *when we run `kubicorn` in a pod* we will need to adhere to this standard.. meaning that our program has 30 seconds to exit cleanly *at an

[2017-08-13 06:53] freebsdfrau commented on #253
Agreed

[2017-08-13 09:47] looztra commented on #110
by "use it as advertised" do you mean that kubicorn should use "config set-cluster" and "config set-context" instead of overwritting an already existing config with potentially many contexts?

[2017-08-13 10:07] looztra commented on #110
my bad, actually, the config doesn't overwrite previous one, it seems to be appended to an existing config.

[2017-08-13 13:51] looztra commented on #110
Kubicorn cluster name in kubeconfig referenced in #56

[2017-08-13 14:16] kris-nova opened #264 "Remove /vendor"
Once we start offering releases we need to remove the vendor directory, and the documentation on `go get` as our program will no longer be `go get`able

[2017-08-13 14:18] kris-nova commented on #257
Also see #264 where we plan on offering releases instead of instructing users to `go get`

[2017-08-13 14:19] kris-nova commented on #257
But in the mean time - we should probably should fix this

[2017-08-13 17:45] xmudrii commented on #257
i sent a PR to lolgopher (kris-nova/lolgopher#14), which once vendored back to kubicorn should fix the problem

[2017-08-13 19:53] prateekgogia opened #268 "File/ string parser improvements."
Please open an issue, no matter what it is about.

If you are reporting a bug:

         - Include the git commit sha of the build you are using
         - Include logs if you can

Refer this comment - https://github.com/kris-nova/kubicorn/pull/252#issuecomment-322062673

Thank you for contributing to Kubicorn!

[2017-08-13 19:55] #42 closed

[2017-08-13 20:04] mariomazo commented on #140
@kris-nova I'll do it.

[2017-08-13 20:06] matyix opened #269 "InvalidKeyPair.Duplicate during cluster update"
I am on revision: `34a1efd4fc9a62834254c0795250591efc162389`

During cluster update using statestore I got the following error: ` Error during apply! Attempting cleaning: InvalidKeyPair.Duplicate: The keypair 'upscale' already exists.` - please find detailed logs below.

[code]

It can be reproduced with a very basic test update code when using a statestore.

[code]

Thanks.

[2017-08-13 20:41] kris-nova commented on #38
@darron okay thank you - and don't be sorry - we love all the work you did and appreciate it so much!

[2017-08-13 22:16] paulczar opened #270 "bug - ssh agent support has been broken"
The following PRs have resulted in the ssh agent support not working for passphrase enabled private keys:

[pr-162](https://github.com/kris-nova/kubicorn/pull/162/files#diff-2e2495d0054dc0c7c5159b1399dde72bR62) - the reordering of some of the bits here made the sshagent section try to fire after ssh asks for password.

[pr-66](https://github.com/kris-nova/kubicorn/pull/66/files#diff-8836282bf16b25

[2017-08-14 02:08] kris-nova commented on #269
Checking this out now, thank you so much for the report

[2017-08-14 02:15] kris-nova commented on #270
meep yes they have - i noticed SSH was broken for me the other day so I clobbered everything (which was super not okay I am so sorry)

I noticed you opened #271 that looks completely sane and should fix this.. but I really want us to get some tests that demonstrate all of these things are working as expected.

[2017-08-14 02:16] kris-nova opened #272 "SSH tests"
Can we create a testing avenue in which we run a container that has an SSH server listening, and we validate a number of SSH avenues using the `kubicorn` ssh and scp code avenues?

Primarily

- Regular private key ssh from a file
- SSH agent with a password
- Regular private key with a password

Happy/Sad paths please :)

[2017-08-14 02:17] kris-nova commented on #270
I just opened #272 regarding the tests - we can merge #271 and hope for the best until then!

[2017-08-14 08:29] roberthbailey commented on #263
How does that jive with supporting bare metal installations? Or does it only apply to IaaS environments where infrastructure resources are "infinitely" available?

On GKE we do something along these lines today with node upgrades -- when you change the k8s version on your nodes it requires creating an entirely new set of nodes. This makes it really simple to reason about the state of the nodes (th

[2017-08-14 14:41] paulczar commented on #270
I've seen a number of tools that require the use of ssh-agent for handling keys, I wonder if that might be a more sane way to handle this?  we can be "do whatever i don't care lulz just have the key in your agent" with maybe a fullback to require ( or create in _state a one shot passphraseless keypair ).

currently without agent but with a passphrase it asks what feels like a dozen times for the p

[2017-08-14 14:44] xmudrii commented on #270
I've had idea of making sort of in-memory agent that would be present only for a command session. So once command finishes, everything is discarded. That way we don't have to play with security by saving stuff ourself, yet we are not extremely annoying.  

However, I'm not sure is this possible with Go and how it can be done. Maybe I could dig something out, but there is some stuff that most be do

[2017-08-14 14:55] xmudrii commented on #270
‎Update: It could be done quite easy. I can give it a try tonight. @kris-nova WDYT?

[2017-08-14 15:01] bgeesaman commented on #262
It appears that calico-etcd is listening on the master's nodeIP (in my case 10.0.0.63), the calico config map is saying calico-etcd is on 10.96.x.x (the podIP), and the instance of calico-node on the worker cannot therefore connect to the endpoint http://10.96.x.x:6666.  I modified the calico-configmap to make the ETCD_ENDPOINT http://10.0.0.63:6666, and then killed the calico-node pod on the work

[2017-08-14 15:48] kris-nova opened #276 "Implement Digital Ocean Cloud Controller for DO clusters"
Can we please implement the following with digital ocean clusters:

https://github.com/digitalocean/digitalocean-cloud-controller-manager

[2017-08-14 15:52] xmudrii commented on #276
‎TIL this is official project. +1
I could be doing it once I finish with signals, if somebody doesn't take before me.

[2017-08-14 17:06] paulczar commented on #270
unless its incredibly easy I'd consider sticking with using ssh-agent under that whole "do one thing and do it well" philosophy.

[2017-08-14 18:22] MyDigitalLife commented on #146
I just tested this and found a few problems. I don't the error i was getting before. But i did find these 2 problems:

- Meshbird does not work anymore. The changes to make openvpn broke the code for meshbird
- Deleting of droplets does not work. Its just giving `Droplet count mis-match, trying query again`

[2017-08-14 21:53] ellenkorbes commented on #38
I'm on it :)

[2017-08-14 22:59] #270 closed

[2017-08-14 23:04] kris-nova opened #279 "Use public key hash for key name"
Right now we have an issue with flipping out public keys and using the same cluster name as defined in #274

Can we please start changing how we name keys? Ideally we would take an `md5` (or some other algorithm I really don't care which) of the public key fingerprint and use that for the name of the key.

[2017-08-14 23:07] #260 closed

[2017-08-14 23:28] mzamot commented on #220
AWS #280

[2017-08-15 01:49] kris-nova commented on #269
I think we are addressing this #279 here correct? Can you please take a look @matyix?

[2017-08-15 03:25] kris-nova commented on #262
@bgeesaman tested and confirmed - intermittent on `t2.medium`s... I recently bumped our DO base install because load average was well over 12 during bootstrap..

Can we please bump our profiles to run `t2.xlarge` for masters?  I know it seems like a lot - but it's the first CPU bump in the tier

Changing issue title to reflect this action item, thanks for your discovery @bgeesaman :heart_eyes:

[2017-08-15 04:59] matyix commented on #269
Looks good. Let me try with that tomorrow and get back to you. Thanks.

[2017-08-15 05:00] kris-nova commented on #182
We need to use `go generate` instead of having this in the makefile.. this now high priority as this is the most annoying part of the PR cycle

[2017-08-15 16:48] mariomazo commented on #279
@kris-nova Maybe I misunderstood, but as I see it ,and my experience with hashicorp packer
is that at the end of the day you end with 200 resources, in this case 200 keypairs named as a hash. Doing the cleanup (in some sort of automatic way) is really difficult and potentially dangerous.

[2017-08-15 16:53] kris-nova opened #285 "Force remove SSH keys"
Right now we hard code `force=false` for deleting keypairs. This means that we will always orphan a keypair in AWS if a user creates a cluster with a unique keypair and then destroys it after.

Can we please expose this flag via an environmental variable, document the environmental variable in `/docs/envvar.md`, and patch this?

Suggested variable name: `KUBICORN_FORCE_DELETE_KEY`

The system as i

[2017-08-15 16:58] mariomazo commented on #285
I will take over this one!

[2017-08-15 16:58] #268 closed

[2017-08-15 19:31] CharlieRoseMarie commented on #254
As per @kris-nova 's request, I'm copying the contents of an email correspondence we had. :)

[2017-08-15 19:50] CharlieRoseMarie commented on #254
I have a quick mockup for the logo on the back. Decided to have some fun with the color options. If we have an image for the logo in the uberprints link, then we could probably get a few other fun designs.
(Also, had some fun with the color options)
The logo is on the back right now.

[kubicorn-shirts.zip](https://github.com/kris-nova/kubicorn/files/1226206/kubicorn-shirts.zip)

[2017-08-15 20:09] rtyler commented on #253
I have been making steady progress on bringing the older Docker daemon patches [up to speed with Docker v17.05.0-ce](https://github.com/moby/moby/compare/17.05.x...rtyler:current-17.05) which should enable Kubicorn to run on FreeBSD.

I'm hoping to [meet up with others](https://twitter.com/agentdero/status/897538605265993728) who are interested in this work on Sept. 5th (tentatively) in Berkeley (

[2017-08-15 23:59] ganlaksh commented on #262
I dont think there is an issue with the calico kube specification. I just had to open port 6666 on the security group of the master for the calico node to come up.

calico-etcd has hostNetwork=true and hence i believe its gets the pod ip as the master node's ip.
The calico-node config is trying to use the service or cluster ip of etcd which is 10.96.232.136

kube-proxy has this iptable rule to for

[2017-08-16 02:58] bgeesaman commented on #262
I took a look at your calico.yml and it appears to spin etcd without the protection of TLS certificates.  I'd caution the exposure of calico-etcd on the master to pods in worker nodes unless you plan on implementing a networkpolicy to block that traffic from non-kube-system pods.  Otherwise, a compromised pod means it's easy to pull down a calicoctl binary and read/modify/disable those policies th

[2017-08-16 12:57] stp-ip commented on #212
Gitlab and a few other open source projects add a paragraph to their contributing.md, to clarify that all contributions fall under the CLA (individual + corporate): https://gitlab.com/gitlab-org/gitlab-ce/blob/master/CONTRIBUTING.md#contributor-license-agreement

icla: https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/legal/individual_contributor_license_agreement.md
ccla: https://gitlab.com

[2017-08-16 14:58] matyix commented on #279
@kris-nova @mariomazo It wont be necessary to create unique key names - especially because of the cleanup related problems. The #269 now is sort of unrelated and it was due the fact that
[code]
never returned `true`, though the keys were identical, and `output, err := Sdk.Ec2.ImportKeyPair(input)` was always called and caused #269 although the keypair was already imported on AWS and could have bee

[2017-08-16 15:05] matyix commented on #279
@kris-nova There is another unique constraint, though - for SecurityGroup names within one VPC.

[code]

For this I am adding a time ordered UUID generator (under cutil package) and appending/using  this as the name of the security group. Are you OK with that? The generator looks stg like this - though can use any other UUID generator, should you suggest one - it's just the timer ordered the help

[2017-08-16 15:11] matyix opened #286 "Use unique name (within VPC/region) for a security group"
SecurityGroup names within one VPC or region should be unique - currently we are using the name of the cluster, which makes deploying a cluster with the same name/or upscaling the cluster impossible due to duplicate name conflicts. From the AWS constraints lists:

[code]

For this I am suggesting a time ordered UUID generator (under cutil package) and appending/using  this as the name of the secur

[2017-08-16 16:06] stp-ip commented on #212
Sidenote:
Due to this issue I felt the need to finally have a base open source repo to make it easy for a project to have the essentials (CoC, LICENSE, contributing guides, CLA etc.) any feedback or PRs are appreciated.
(Just a first draft for now, but hope that might help reduce friction for other projects in the future)

https://github.com/osstemp/base

[2017-08-16 18:21] prateekgogia opened #288 "Refactor Cloud provider implementations for better tests and integration"
The `Reconciler` interface is good.. but we think we will need to move the `Reconciler` logic up a level so that it is globally used for each of the cloud provider implementations. After this is done a cloud provider will have to offer the following two components

1. A model (Note: we will need to structure the new cloud provider implementations to support multiple models)
2. A set of resources t

[2017-08-16 18:34] prateekgogia opened #289 "Harden our bootstrap process and define where our support starts/stops."
We would like to redesign the way bootstrapping is working in `kubicorn` to use a server side staticly linked binary to bootstrap Kubernetes. By design `cloud-init` will hang for the binary to complete and will fail if the binary exits non-0.

## Action Items

#### The new way of bootstrapping

We will run a small shell script to download the binary based on arch. The binary will run with the inje

[2017-08-16 18:45] prateekgogia commented on #195
## Take a snapshot.

1. Create a cluster using Kubicorn.
2. Deploy Applications.
3. Take a snapshot using Kubicorn.
   a. Take a snapshot of the cluster using `GetActual`.
   b. Take a snapshot of the application using `Ark`.
   c. Push to state store.

## Edit a snapshot
1. `kubicorn edit `
   a. Read the snapshot from the state store.
   b. Write the snapshot to the local fs.
   c. Open the file

[2017-08-16 18:47] prateekgogia opened #290 "kubicorn edit command"
As defined in the `ark` integration here https://github.com/kris-nova/kubicorn/issues/195#issuecomment-322863670 we will need a way to easily edit a cluster configuration in a local text editor. The workflow of the process should look like:

## kubicorn edit
a. Read the snapshot from the state store.
b. Write the snapshot to the local fs as a tmp file
c. Open the file in user's text editor
d. Save

[2017-08-16 18:53] kris-nova commented on #286
The proposal looks good - I just ask that we combine the cluster name with the UUID such as:

[code]

Are you interested in implementing this change?

[2017-08-16 18:53] MyDigitalLife opened #291 "Refactor clusters for cloud provider ids."
Cloud providers like Google want you to do API calls to a project id. At the moment for the GCE implementation the Cluster name is used to provider this project id to the API. This should be 2 different fields: A `kubicorn cluster name` and a `cloud resource id`. Not all cloud providers will need a cluster resource id so this should be something that is optional but required when choosing provider

[2017-08-16 19:05] kris-nova commented on #288
We also need  docs and tests on all of this :smile:

[2017-08-16 20:35] MyDigitalLife opened #292 "Refactor GCE implementation to use managed instance groups"
Will need to do a Refactor the GCE implementation to use Managed Instance Groups.

[2017-08-16 20:37] MyDigitalLife opened #293 "GCE implementation networking options"
ATM the GCE implementation has no possibilities of setting networking options. This need to be a option.

[2017-08-16 21:03] kris-nova opened #294 "Add Google computer walkthrough docs to main README.md"
At the bottom of the main `README.md` there is a documentation section.. can we please add Google there?

[2017-08-16 21:13] xmudrii commented on #34
Closed by #266

[2017-08-16 21:13] #34 closed

[2017-08-16 21:17] #99 closed

[2017-08-16 21:23] #294 closed

[2017-08-16 21:28] kris-nova commented on #257
PR Merged https://github.com/kris-nova/lolgopher/pull/14

[2017-08-16 21:31] kris-nova commented on #253
I'll bring kubicorn shirts to the meetup to say thanks

[2017-08-16 22:47] prateekgogia commented on #264
Why do we want to remove the vendor, any reasons except CGO failures ?
Removing causes pain to get started with the project, any new comer will have to go through the pain of fetching third party packages, before compiling.

[2017-08-16 23:18] #285 closed

[2017-08-16 23:45] freebsdfrau commented on #253
I'll bring Smule shirts too ;D we can have a swag exchange, teehee. I'm a medium T-Shirt size (preferably in women's if they are non-unisex). Anyone else want to chime-in on T-Shirt sizes? If not I'll plan to bring a mix of sizes (our shirts are unisex)

[2017-08-17 00:32] ellenkorbes commented on #256
Idea: Have the website check that folder whenever it rebuilds and auto-add those projects there.

[2017-08-17 04:45] ganlaksh commented on #262
@kris-nova I wil take this one..

[2017-08-17 07:43] kris-nova commented on #262
@ganlaksh don't go too crazy just yet - I am doing a fairly major refactor in #299 and that might impact this PR

[2017-08-17 07:44] kris-nova commented on #262
You are of course always welcome to open the PR, and I can cherry pick/rebase as needed - but just giving you a heads up

[2017-08-17 17:37] prateekgogia commented on #215
Fixed by #297

[2017-08-17 17:37] #215 closed

[2017-08-17 20:00] kris-nova opened #303 "Prompt for missing credentials and cache them"
In an attempt to make kubicorn even easier to use can we prompt the user for credentials if they are not configured properly?

For instance if we need an API key and we can't find it anywhere simply prompt the user for input (and maybe even offer a link to documentation on where to find it).. and we have validated that new secret works.. can we cache to disk and make `kubicorn` smart enough to alw

[2017-08-17 20:04] xmudrii commented on #303
@kris-nova I agree on this one but about last part. Is it smart idea to cache credentials our self?
It's okay to ask user for credentials and link them to docs, but does we want to take it on ourself to store it? You know the error, it will not fail, but we will let you store wherever you want. :)

I had same idea for SSH and SCP - create `sshagent` package and store key in in-memory agent (if sys

[2017-08-17 22:35] prateekgogia commented on #288
[]Resource{} (slice of Resource) ?

[2017-08-17 22:39] prateekgogia commented on #303
We shouldn't cache the credentials, rather create it as a secret in Kubernetes ? If that can help.

[2017-08-17 22:43] #263 closed

[2017-08-17 22:43] #269 closed

[2017-08-17 22:43] #288 closed

[2017-08-17 22:45] kris-nova commented on #303
Being that we are in the creating kubernetes from scratch biz - there might not always be a kubernetes cluster available to store it in

[2017-08-18 18:26] MyDigitalLife commented on #254
So i did some more research on how we could sell shirt with the following conditions:

- No self hosting of the shop (would take a lot of time and maintenance)
- Can print the shirt or other things for us.
- Can do fulfillment for us.
- Does not have huge up front cost.

And to my surprise its possible to do this :D
We can use [Printful](https://www.printful.com/landing/etsy-print-products-fulfill

[2017-08-18 21:31] kris-nova opened #310 "kubicorn apply !!"
Can we please have kubicorn cache the most recent cluster created in a file on the local filesytem.. maybe in `~/.kubicorn` or something?

Then can we code in a feature into the `apply` cmd that will allow a user to use the Unix parlance `!!` after a `kubicorn apply` such as

[code]

[2017-08-19 00:02] #44 closed

[2017-08-19 00:02] #203 closed

[2017-08-19 00:02] #8 closed

[2017-08-19 04:36] #291 closed

[2017-08-19 09:49] xmudrii commented on #77
Closed in #121

[2017-08-19 09:49] #77 closed

[2017-08-19 11:42] xmudrii commented on #126
Duplicate of #180

[2017-08-19 11:42] #126 closed

[2017-08-19 11:43] xmudrii commented on #146
Closed by #148

[2017-08-19 11:43] #146 closed

[2017-08-19 11:53] xmudrii commented on #310
@kris-nova We can't use Unix parlance `!!` as it will be expanded to the previous executed command before command execution (on both Bash and ZSH).
So if previous command was `kubicorn create test`, and you execute `kubicorn apply !!`, shell will execute `kubicorn apply kubicorn create test`, instead of `kubicorn apply !!`, therefore we can't check did someone provided `!!`.

That could be a good

[2017-08-20 15:29] kris-nova opened #321 "Integration test for ASG"
Can we have the integration tests for AWS test that we can scale a cluster up/down as defined in #301

[2017-08-20 15:32] #257 closed

[2017-08-20 17:01] #180 closed

[2017-08-20 17:31] matyix commented on #321
@kris-nova I am happy to contribute this.

[2017-08-21 00:13] #290 closed

[2017-08-21 00:51] kris-nova commented on #32
# Changing the issue title as I think there is tangible work that needs to be done here:

1) Improve the error message when a state store already exists, with information on how to overcome the error

2) Add in an environmental variable that will allow users to **always** force overwrite state stores if set.

[2017-08-21 00:52] #36 closed

[2017-08-21 00:53] kris-nova commented on #38
@ellenkorbes thank you so much for picking this up - let us know if chat how we can help

[2017-08-21 00:54] kris-nova commented on #56
I'll follow up on this in our next sig call :heart_eyes:

[2017-08-21 00:57] kris-nova commented on #91
closed with #299

[2017-08-21 00:57] #91 closed

[2017-08-21 01:02] ellenkorbes commented on #38
I'll share the final sketches tomorrow so y'all can help iron out the last details, then we can get to jekyll-ifying it during the week :)

[2017-08-21 01:16] kris-nova commented on #131
Marko,

I trust you to own this issue if you want to take care of it. We just need to make sure that we remember that `kubicorn` is intended to be a library

[2017-08-21 01:17] kris-nova commented on #154
I think with the new direction of offering our own bootstrap scripts with the ability for users to pass in their own at runtime this issue is closed.. please re-open or correct me if this is not the case!

Thanks everyone

[2017-08-21 01:17] #154 closed

[2017-08-21 06:36] luxas commented on #56
Happy to review a PR for this; should be pretty lightweight :+1:, can yet get into v1.8

[2017-08-21 08:09] xmudrii commented on #131
I'm assigning this issue to myself. :)

[2017-08-21 18:42] kris-nova opened #324 "Implement --set for overriding API objects during create/apply"
Borrowing the idea from [helm](https://github.com/kubernetes/helm) I would like for us to implement a `--set` option during the `create` and `apply` commands in kubicorn.

The `--set` flag would accept a query string, and if the query was valid would flip the values out at runtime.

For instance.. Given an API that looked like

[code]

A user could run the following command

[code]

and expect tha

[2017-08-21 18:47] kris-nova commented on #321
Take it away!

[2017-08-21 20:53] MyDigitalLife commented on #272
@kris-nova Do you have a plan of how we should be able to do this? Is it possible to start a container in travis so we can test ssh into it? Or will we just need to actually deploy a server to test the functionality?

[2017-08-21 21:25] xmudrii commented on #272
I think that creating a container with SSH keys in it (we can use not password protected keys for start) should do the job. Deploying a server could be too much, as we can get the same result by using container.

I was trying this already but gave up due to lack of the time. I was trying to customize [this](https://docs.docker.com/engine/examples/running_ssh_service/) to accept SSH keys but I fail

[2017-08-21 22:51] #140 closed

[2017-08-22 07:55] mariomazo commented on #160
@kris-nova there are tests with the package itself (as today for fs and json). The packages are properly captured by ``CI_PKGS=$(shell go list ./... | grep -v /vendor | grep -v test)`` so I think we can delete/close this issue as  #325 addresses this.
P.D: tests for json are already there

[2017-08-22 20:29] stp-ip commented on #254
Just ran into: https://opencollective.com/
Might be interesting in general too.

[2017-08-22 20:46] prateekgogia commented on #254
Thanks @stp-ip, looks promising.
Just glanced over it, may be we can add Kubicorn project.  I will go through this, if there is anything in _fine print_ 👍 .

[2017-08-23 13:28] matyix commented on #262
A workaround is to add this to your cluster description:

[code]

which allows all `TCP UDP ICMP` traffic from the `node` subnet. @kris-nova what was the reason behind using two different subnets for `master` and `node`? In Kops it's in the same subnet - not suggesting we need to change, just wondering if there is a specific reason.

[2017-08-23 14:59] itsdimetrio commented on #262
@bgeesaman
There is another thing from [calico documentation](https://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/kubeadm/):
`--pod-network-cidr` must be specified on kubeadm init command

[2017-08-23 16:36] matyix commented on #279
@kris-nova I think this can be closed now, as updates are not trying to re-create/upload a new key pair but can reuse an existing one.

[2017-08-23 18:18] #220 closed

[2017-08-23 19:02] ncdc opened #328 "[GCE] kubicorn apply deleted an unrelated VM during backtrack/cleanup"
git commit: 7ad088608cc5312e2e88e8f970fde691131ae9fd

I was trying to do a simple GCE cluster. Here's the commands & output:

[code]

I never saw `test1-master-0` show up in the GCE web console, and after waiting a while, it ended up deleting a VM I had created by hand (`dev1`) instead!

[2017-08-23 19:04] ncdc commented on #328
Note, the failure to create the `test1-master-0` is because my service account didn't have sufficient permissions to do so:

[code]

[2017-08-23 19:05] prateekgogia commented on #328
ping @MyDigitalLife

[2017-08-23 20:56] ncdc commented on #328
@MyDigitalLife thanks, I was able to use my custom service account by granting it `roles/compute.instanceAdmin` and adding it as a member to the default service account with `roles/iam.serviceAccountActor`. Everything seemed to go ok after that, although I had to edit the GCE firewall rules to allow access to port 443 from anywhere (the kubelet was trying to talk to the apiserver pod using the VM'

[2017-08-23 21:17] prateekgogia commented on #328
Looks like there are 2 issues -

- Removing existing VM in the GCE project.

- Adding 443 firewall port for API server access.

@MyDigitalLife Can we use this bug for tracking issue 1. I will open another issue for other bug.

[2017-08-23 21:19] prateekgogia opened #329 "[GCE] Allow port 443 for API server access in firewall during setup"
Refer https://github.com/kris-nova/kubicorn/issues/328#issuecomment-324459998

[2017-08-23 21:19] ncdc commented on #328
Yeah I certainly don't want to conflate!

[2017-08-23 21:20] ncdc commented on #329
I think there may be 2 things here:
1. The kubelet is trying to talk to the apiserver using the apiserver's public IP address (i.e. the external IP of the VM). Would it make more sense to have the kubelet talk to the VM's internal IP?
1. If you want to access the apiserver from outside of GCE (e.g. on your laptop), then yes, the GCE firewall does need to allow you to talk to port 443

[2017-08-24 11:48] matyix commented on #321
@kris-nova Submitted this [PR](https://github.com/kris-nova/kubicorn/pull/331) first to allow run tests at a considerable cheaper price.

[2017-08-24 19:28] MyDigitalLife commented on #328
@ncdc Can you list what permission you are using in you custom service account? I would like to document this.

[2017-08-24 19:31] ncdc commented on #328
@MyDigitalLife I ended up spinning up some VMs by hand + using kubeadm. In the GCE console, I granted the default service account compute read/write for the VM and that seemed to be sufficient. (I also gave it storage read/write, but that was for testing out some stuff I'm doing in heptio/ark).

[2017-08-25 05:47] matyix commented on #324
@kris-nova Like the idea - was going to ask something similar, like reusing a VPC. It's quite common that people already have their own network settings configured and would like to have the cluster deployed inside that. During create if a valid VPC name is submitted than instead of creating/or launching in the default one we can use that. Would this issue intended to address these kind of change/

[2017-08-25 05:49] #286 closed

[2017-08-26 00:12] ellenkorbes opened #334 "We need to enable GitHub Pages"
Just do:

Settings tab > GitHub Pages section > Source: master branch /docs folder

You're gonna get a message saying ` Your site is published at http://URL/`, I need to know what that URL is so I can update the `_config.yml` within the website. That's so all the `{{ relative_url }}` links will work.

[2017-08-26 00:37] ellenkorbes commented on #256
There's a section for it on the website now. Do we have any friends we wanna add there off the bat, or should I hide the section for now?

[2017-08-26 00:38] ellenkorbes opened #336 "Are we gonna have any social media in addition to twitter and github?"
^  Title

[2017-08-26 00:40] ellenkorbes opened #337 "What do we put on the website's footer?"
Here:

![screenshot_20170825_213940](https://user-images.githubusercontent.com/25550091/29737037-f63bc58a-89dd-11e7-8169-c8ce17618468.png)

Ideas?

[2017-08-26 00:45] ellenkorbes opened #338 "Do we want an author section at the bottom of our docs?"
This:

![screenshot_20170825_214113](https://user-images.githubusercontent.com/25550091/29737090-a1d7844c-89de-11e7-8616-78da0b284808.png)

I think it'd work for posts or articles, but for documentation I'm not sure.

[2017-08-26 00:49] ellenkorbes opened #339 "Add the external links from README.md to the website"
These:

| **Kops vs Kubicorn**                 | Blog about kubicorn with comparison table                   | [nivenly.com/kubicorn](https://nivenly.com/kubicorn)                            |
| **AWS Video**                        | A step by step video of using Kubicorn in AWS               | [video](https://www.useloom.com/share/a0afd5034e654b0b8d6785a5fa8ec754)         |
| **DigitalOcean Video

[2017-08-26 08:44] xmudrii commented on #338
‎I would remove it from the website. Docs are contributed by many of us, and will probably be articles and posts as well (because it's generated of the md files in repo, right?). So, I think we can go without it.

[2017-08-26 08:47] xmudrii commented on #336
Hmmm.. I'm not sure we need ‎something beside it - Facebook is... well Facebook, and Insta, I'm not sure there's a lot pics to post there. Maybe it's not bad for advertisement, but still I guess Twitter and GitHub do the great job.

I'm not sure did I forgot some major media tho :D

[2017-08-26 17:21] paulczar commented on #142
Here's a PR to enable bash script linting: https://github.com/kris-nova/kubicorn/pull/340

[2017-08-27 21:17] #328 closed

[2017-08-27 22:12] ellenkorbes commented on #336
If we look at e.g. kubernetes.io they have links there for Slack and Stack Overflow too.

Stack Overflow is easy enough, it just links to a search results page containing questions tagged as `kubernetes`. Easy and interesting, but `kubicorn` doesn't have any results yet so it'd be a bit of a moot point to have it.

And Slack, hmm, I'm not sure, can we link to our specific channel within `gophers.s

[2017-08-27 22:14] xmudrii commented on #336
Hmmm... `kubicorn` doesn't have any question of SO, but it would make much more sense. `kubernetes` would show nothing relevant.

About Slack, maybe link to invite? I'm not sure what would be a smart idea :/

[2017-08-27 22:14] ellenkorbes commented on #338
We can have documentation *and* a separate section for posts or articles. For the latter I think this would look good. But yeah, okay, I'll remove it from the docs.

[2017-08-27 22:15] ellenkorbes commented on #336
Not sure about Slack either.

I'll add the link for SO :)

On Sun, Aug 27, 2017 at 7:14 PM, Marko Mudrinić <notifications@github.com>
wrote:

[2017-08-27 23:04] kris-nova commented on #337
Link to our code of conduct?

[2017-08-28 00:19] kris-nova commented on #334
Kubicorn.io

[2017-08-28 00:19] #334 closed

[2017-08-28 01:36] kris-nova commented on #338
I think if someone wanted to author a blog or a tutorial it would make sense, but I would vote no author on docs for the reason @xmudrii mentioned.

[2017-08-28 01:37] kris-nova commented on #337
can I PR this? how do I make a change?

[2017-08-28 01:47] ellenkorbes commented on #337
Sorry, it's already bed time for me. You can do it, yes.

The file is https://github.com/kris-nova/kubicorn/blob/master/docs/_includes/footer.html

It's a three column layout. To put stuff in each column just add them...

[code]

[2017-08-28 01:53] kris-nova commented on #336
I would add a link to the invite page so users can join gophers slack - we can also move over to Kubernetes too if we want

[2017-08-28 09:52] MyDigitalLife commented on #329
Regarding point one:
Where already using the internal ip, check [here](https://github.com/kris-nova/kubicorn/blob/master/cloud/google/compute/resources/instancegroup.go#L185). Are there any specific error you can show us?

Regarding point 2 this should not be a problem by default. GCE has a few firewall rules by default that can be applied to instance. This is being done [here](https://github.com/

[2017-08-28 14:05] #337 closed

[2017-08-28 14:08] #336 closed

[2017-08-28 14:15] ellenkorbes opened #345 "Close burger tray on menu link click"
https://twitter.com/r6by/status/902164950294171649

[2017-08-28 15:32] ellenkorbes commented on #345
Also this:
![img_20170828_171129](https://user-images.githubusercontent.com/25550091/29780649-e91e9eac-8bec-11e7-8864-7924b56413e4.png)

[2017-08-28 17:24] #338 closed

[2017-08-28 17:25] kris-nova opened #347 "Spot Price Validation"
Can we validate the spot price only is validated with AWS?

[2017-08-28 17:29] ellenkorbes opened #348 "Random problems on the home layout"
- Bottom margin for the `Concepts` and `Friends of Kubicorn` div is too small
- Enclose all mentions of "kubicorn" in `<code>` tags for consistency

[2017-08-28 18:49] ganlaksh commented on #347
@kris-nova : I can work on this one..

[2017-08-28 19:45] MyDigitalLife commented on #292
@kris-nova can be closed. Fixed by #326

[2017-08-28 20:05] matyix opened #354 "Handling cloud provider specific API changes"
Currently we have a lean and generic API - as we move towards supporting more and more use cases we hit the differences between cloud providers.

An example is #331 where we introduced Spot price support (currently for AWS, but the GCP implementation will follow shortly) - and had an API change. A new feature I am about to introduce is IAM support (for AWS, and later for GCP) - it's the same as ab

[2017-08-28 20:06] matyix commented on #347
@ganlaksh I was working on #331 but currently away for a few days - please go ahead if you find the time to add the validation. Thank you.

[2017-08-29 01:33] ganlaksh commented on #347
submitted PR #355 for this change

[2017-08-29 21:32] kris-nova commented on #354
Ugh this is such a great issue. I think about this all the time. The two main approaches I have been toying with..

## 1 Cloud specific structs

In the API we could have nullable cloud specific configuration such as

[code]

## 2 Make them optional

[code]

## My opinion

Go with option 1. I think it allows users to start coding in a ton of features and offers flexibility for clouds to grow.

####

[2017-08-29 21:50] xmudrii commented on #347
Closed by #355

[2017-08-29 21:50] #347 closed

[2017-08-29 22:23] kris-nova opened #359 "kubicorn explain"
Using the reconciler pattern we can pull data about what is **Actually** running and what is **Expected** to be running...

Being able to run `kubicorn explain` and get a list of resources for each **actual** and **expected** would be handy!

We can output them as a table `-o table`
or as json `--output json` `-o json`
etc
etc

If you'd like to learn more about `kubicorn` project, you can read [Th

[2017-08-30 02:40] kris-nova commented on #32
Should this be closed? I think so. Re open if necessary

[2017-08-30 02:40] #32 closed

[2017-08-30 02:41] kris-nova commented on #38
Kubicorn.io is a thing - closing 😍😍

[2017-08-30 02:41] #38 closed

[2017-08-30 05:59] MyDigitalLife commented on #354
I also like option 1.

[2017-08-30 08:00] matyix commented on #354
Sounds good. Will refactor the spot feature and consider option 1 (which I prefer as well) when adding IAM support.

[2017-08-30 21:00] kris-nova opened #363 "Friends of kubicorn"
## Ark

Thanks to the fantastic works from our friends at Heptio, we can easily help you snapshot and recreate your entire `kubernetes` platform using Heptio's [Ark](https://github.com/heptio/ark)

![heptio-ark 1024px](https://user-images.githubusercontent.com/13757818/29894635-398dc41a-8d93-11e7-8101-b73336986bea.png)

## Calico

We use [Project Calico](https://www.projectcalico.org) to make **CN

[2017-08-30 21:03] kris-nova commented on #363
Actually - let's only put the project we are using and reference the company... so only use the project logo and leave the company ones out please!

[2017-08-30 21:05] xmudrii opened #364 "Change site title and add favicon"
I think we could change site title from `kubicorn` to something more descriptive, such as `kubicorn - Building Simple Kubernetes Infrastructure`.

Also, we could generate favicons from the project logo and add it to the site.

[2017-08-30 21:14] xmudrii opened #365 "Enable HTTPS for kubicorn.io once site is finished"
We should enable for HTTPS for kubicorn.io. One way, and probably the most easiest way would be to use CloudFlare free tier, as [GitHub Pages doesn't support SSL for custom domains](https://help.github.com/articles/securing-your-github-pages-site-with-https/).

There is a tutorial how it can be done https://blog.cloudflare.com/secure-and-fast-github-pages-with-cloudflare/

[2017-08-31 21:51] ellenkorbes commented on #363
What copy should I use next to the logo? `We use Heptio's Ark for our snapshots. And we would love to give Heptio and Ark credit.`?  Or something else?

[2017-08-31 22:05] ellenkorbes commented on #364
I've done the changes, but I used an automated favicon generator and I'm not sure it looks too well. Lemme know if you wanna try something else.

[2017-08-31 22:07] xmudrii commented on #364
@ellenkorbes let's get it in and see how it looks

[2017-08-31 22:07] #364 closed

[2017-08-31 22:31] ellenkorbes commented on #345
PR above solves the issue mentioned on twitter.

For the burger misalignment on the screenshot, I cannot reproduce it on any desktop browser, so I can't find out what's causing it. Ideas anyone?

[2017-08-31 22:46] ellenkorbes commented on #339
Any ideas about how we wanna present these?

New section at the start page? One document for each on the documentation with a brief description and then the link to the external resource? One big document with links to all the videos? Just put the links within one of the existing sections? (And if so, which section?)

[2017-09-01 03:24] #345 closed

[2017-09-01 06:53] kris-nova commented on #363
See original message (I edited) but ideally we should all be able to make a change to the website and understand/know what goes where

[2017-09-01 13:58] Noirbot opened #372 "Use `~/.aws/credentials` file for Amazon's credentials"
I'm running into an issue with using Kubicorn to set up a Kube cluster in AWS, due to the fact that the account I'm trying to set up the cluster in is one I don't have a specific key/secret for. Instead, I have a key/secret for one account, and then that account has permissions to assume a role in the account I want to create the cluster in.

Because of this, my AWS CLI credentials looks like this

[2017-09-01 20:43] #363 closed

[2017-09-01 22:52] prateekgogia commented on #254
@kris-nova I tried to add Kubicorn to opencollective, looks like owners can do this only. So, need your help in adding the Kubicorn project. This looks the best option so far.

[2017-09-02 18:42] xmudrii commented on #179
This should be closed with Reconciler refactor we done in the past.

[2017-09-02 18:42] #179 closed

[2017-09-02 21:03] xmudrii opened #378 "Fix footer width and floating on 404 page"
![image](https://user-images.githubusercontent.com/18719127/29998732-f0e6fbda-9032-11e7-8386-c8ab6b26a9cf.png)

[2017-09-03 01:25] kris-nova opened #379 "Add pre-release badge to kubicorn.io"
Can we please have some sort of noticable warning on the page that let's users know we are pre-release but working hard to get to `1.0.0`

We could add it to the [main page](http://kubicorn.io). [Here is the HTML file for the home page](https://github.com/kris-nova/kubicorn/blob/master/docs/_layouts/home.html).

If you'd like to learn more about `kubicorn` project, you can read [The Project Walkth

[2017-09-03 01:53] kris-nova opened #380 "Something is echoing a pointer in `kubicorn create`"
On master if you run a `kubicorn create` you get some bogus output..

[code]

[2017-09-03 01:54] kris-nova opened #381 "--set doesn't seem to be working"
Trying to tinker with the new `--set` flag

If I do

[code]

I get no results

[2017-09-03 02:35] kris-nova commented on #256
le closed - great job @ellenkorbes

[2017-09-03 02:35] #256 closed

[2017-09-03 02:35] kris-nova commented on #41
Any volunteers to write this?

[2017-09-03 02:55] anuaimi opened #382 "unable to create cluster on DigitalOcean -"
when I try and create a cluster on digitalocean it is able to create the master but then hangs.

[code]

any help appreciated

[2017-09-03 02:56] anuaimi commented on #382
I'll add that I'm able to ssh into the droplet so the ssh key is correct

[2017-09-03 02:57] anuaimi commented on #382
A related issue is that if I try and delete the cluster, the command hangs because the count is wrong (1 vm rather than 2??)

[code]

[2017-09-03 06:45] xmudrii commented on #381
@kris-nova IIRC `--set`‎ is implemented only for `apply` command. Flag exist for `create` as well but logic beside it isn't there.

Should be easy fix. I didn't have time last evening to thinker with it as it was quite late. ‎

[2017-09-03 06:48] xmudrii commented on #382
‎Hi. Thanks for reporting the bug. Can you please tell me what the type of key is so I can reproduce the bug? Thanks

[2017-09-03 10:55] xmudrii commented on #381
Obviously I'm wrong. Will look into this.
‎

[2017-09-03 11:40] MyDigitalLife commented on #272
This is fixed when #360 is merged. There is however a problem that another test not related to the SSH is now failing for no good reason. Check this [here](https://travis-ci.org/kris-nova/kubicorn/jobs/271364670#L925). I am not able to reproduce this problem locally so can't really fix it. Can somebody else have a look at this?

[2017-09-03 12:37] anuaimi commented on #382
Can you clarify what you mean by type of key?  If you mean the ssh key, its just a normal one (ie no password or anything)

I tried it again and found on the master, kubernetes & docker are running so the two bash scripts run.  There is also a `~/.kube/config` which is the last part of the digitalocean setup script.

When I grep for 'Hanging for VPN IP', it looks like it tries to scp the file `/tm

[2017-09-03 16:33] xmudrii commented on #381
@kris-nova it requires us to use names from Go Struct rather than from config file.
What does this means? In config file `_config.yaml`, field is called `location`, but in appropriate profile Go file, field is called `Location` (capital L).
If you use `kubicorn create knova -p azure --set Location=uswest` it would work.

I don't like this behavior, but I'm pretty much busy today. If nobody takes a

[2017-09-03 20:48] anuaimi commented on #382
OK, I figured out the problem.  The code is using ssh-agent and assumes that the user has added their private key to the agent.  I don't use ssh-agent so it did not have my private key.

I resolved the problem by running `ssh-add ~/.ssh/id_rsa`.

This should probably be documented

[2017-09-03 21:01] anuaimi opened #384 "DELETE command removes incorrect kubectl cluster"
Before running kubicorn, I had minikube installed.  I then created a cluster with kubicorn and then deleted it.  When I reviewed my local `~/.kube/config`, the minikube details had been removed but the details for the cluster that kubicorn create were still there

[2017-09-03 21:31] xmudrii opened #385 "Refactor SSH and SCP implementations"
In the past, we had many problems with SSH and SCP implementations. The most recent issue, #382, explains one of them. For example, if SSH agent exists, but key is not in the agent, applying would fail on copying files from cluster.

We need to totally refactor implementations.

Our current implementation is spanned across three packages:
1) [`kubeconfig`](https://github.com/kris-nova/kubicorn/blo

[2017-09-03 21:34] xmudrii commented on #382
@anuaimi thanks for reporting the bug! I created issue #385 for this problem. If you don't mind, I'll close this issue to make tracker cleaner and to prevent duplicate issues.

[2017-09-03 21:34] #382 closed

[2017-09-04 07:45] matyix commented on #372
Are you planning to work on this or it's more like a feature request? Asking because I have a sketch version for IAM roles already but needs tiding up before sending in a PR.

[2017-09-05 19:34] metmajer commented on #372
+1

[2017-09-06 14:05] MyDigitalLife commented on #272
@kris-nova Can you have a look at #360?

[2017-09-07 17:54] MyDigitalLife commented on #380
Haven't been able to reproduce this. Might be a platform specified thing or where you in a other branch then master?

[2017-09-07 18:00] xmudrii commented on #380
Neither me, I tried with multiple profiles but nothing echoes pointer. @kris-nova do you have whole command?

[2017-09-07 19:37] #292 closed

[2017-09-07 20:25] #272 closed

[2017-09-08 00:59] prateekgogia opened #388 "We need a getting started doc / asciinema"
Except `concepts` in Readme, we don't have any other way for a new user to start using Kubicorn. Some `gif` in Readme or getting started `doc` should help user getting started.

If you'd like to learn more about `kubicorn` project, you can read [The Project Walkthrough](http://kubicorn.io/documentation/readme.html).
If you have any question, comment on the issue, join us on the `#kubicorn` channel

[2017-09-13 02:20] boingram opened #392 "Can't run pods on Digital Ocean"
I've tried a few different pods/deployments/whatnots and can't get them to run when running the Ubuntu Digital Ocean profile using master.

As far as I can tell, it looks like Calico on the node gets stuck in a crash loop, preventing kube-dns from starting along with any other pods -- they all end up stuck in ContainerCreating.

When looking at Calico's logs (specifically the calico-node container

[2017-09-13 04:11] boingram opened #393 "CentOS Digital Ocean unable to bootstrap"
Running on master, I'm unable to successfully complete a `kubectl get nodes` for both master and worker. About six minutes after I'm told the cluster has applied successfully, the bootstrapping script on the worker will fail during kubeadm initialization. Afterwards (and sometimes during), I'm able to run `kubectl get nodes` and I see
[code]

In /var/log/cloud-init-output.log on the worker (the sc

[2017-09-14 08:53] xmudrii commented on #393
@boingram is everything working okay after #395 ? can i close this?

[2017-09-14 14:15] boingram commented on #393
yep, I'll go ahead and close it.

[2017-09-14 14:15] #393 closed

[2017-09-15 19:22] xmudrii opened #396 "Remove VPN from DigitalOcean bootstraping"
Currently, DO bootstrapping is very slow, mostly due to OpenVPN tasks.
As far as I know, OpenVPN is here to make Private Networking truly private. By implementation, DO Private Networking is possible to be reached from any other Droplet in the data center, including ones that we don't own.

I suggest totally removing VPN implementation and using [Cloud Firewalls](https://www.digitalocean.com/produ

[2017-09-18 17:50] MyDigitalLife opened #399 "Implement go-prompt"
To make the Kubicorn experience even better we can implement [go-promp](https://github.com/c-bata/go-prompt). Basically it will add auto completion and some other fancy stuff with not a lot of effect I think.

[Implementation idea](https://github.com/kris-nova/kubicorn/issues/399#issuecomment-333397923):

Here's the my implementation idea:

[2017-09-18 18:06] xmudrii commented on #399
It looks good, but does we know about portability between terminals and OSes? Would it work good on Windows?

About the completions, we have Bash and ZSH completions. This one looks better, but the I don't see does it work with every shell.

[2017-09-18 18:19] MyDigitalLife commented on #399
Good question, looks like windows support is still in the works https://github.com/c-bata/go-prompt/pull/2. We will have to wait unit this works before implementing. We should not kill windows support just for some fancy options.

[2017-09-18 18:33] xmudrii commented on #399
Sounds good to me. Let's leave this issue open, it's definitely good idea once they add Windows support. We definitely have at least one Windows user, so it wouldn't be good idea to drop support for it :joy:

[2017-09-19 15:32] riggs- commented on #253
How did the Docker hack day go?

[2017-09-19 17:59] xmudrii opened #401 "go get shows errors"
When you run `go get -u github.com/kris-nova/kubicorn/...` you will get some errors related to tests:
[code]

However, sources are obtained and `kubicorn` is installed:
[code]

[2017-09-20 15:02] joedborg commented on #105
I'm happy to help with this too.  Closest thing, that I'm aware of, is Juju.

[2017-09-21 20:14] matyix commented on #392
@boingram I had similar problems on AWS - had to switch to Weave + and add ingress like this https://github.com/kris-nova/kubicorn/blob/master/profiles/centosamazon.go#L83. Note that the AWS profile on Master is not correct, as the ingress source CIDR is wrong - there is a [fix](https://github.com/kris-nova/kubicorn/pull/387) for this, though not merged yet. Applying the same for DO might make it

[2017-09-22 18:01] xmudrii opened #403 "'Install guide' link on the website is redirecting to the non-existing location"
For some reason, the 'Install guide' link is redirecting to `http://kubicorn.io/docs/INSTALL.md` instead of `http://kubicorn.io/documentation/install.html`.

This link:
![image](https://user-images.githubusercontent.com/18719127/30757963-d940a316-9fd0-11e7-80d3-82d4c99d72e1.png)

/cc @ellenkorbes

[2017-09-22 18:23] #403 closed

[2017-09-23 22:06] #348 closed

[2017-09-24 12:03] kris-nova commented on #392
@boingram @matyix

I think @matyix is right here and we will need a PR similar to #387 for DO.. Can somebody volunteer to code that please?

[2017-09-24 12:05] xmudrii commented on #392
‎@kris-nova _raises hand_
Looking from the mobile, will #407 do the job?

[2017-09-24 12:08] #401 closed

[2017-09-25 18:58] xmudrii commented on #392
@boingram @matyix is someone able to test this with the latest changes?

[2017-09-25 18:59] xmudrii commented on #380
@kris-nova let's close this as we can't reproduce the issue anymore. if you still have it, please re-open the ticket :)

[2017-09-25 18:59] #380 closed

[2017-09-25 19:15] kris-nova commented on #380
Thanks!!

[2017-09-26 00:31] boingram commented on #392
works for me now, I'll go ahead and close

[2017-09-26 00:31] #392 closed

[2017-09-26 13:43] matyix opened #411 "Hang during cluster delete (Resetting TimeOut counter.)"
PR #404 introduces some signal handling fixes and a new bug which made the cluster hang during delete.

[code]

[2017-09-26 13:48] matyix commented on #354
Closing as PR was merged.

[2017-09-26 13:48] #354 closed

[2017-09-26 13:56] xmudrii commented on #411
Fixed with #412

[2017-09-26 13:56] #411 closed

[2017-09-26 14:03] xmudrii commented on #262
Fixed with #332

[2017-09-26 14:03] #262 closed

[2017-09-26 14:05] #189 closed

[2017-09-26 14:10] xmudrii commented on #43
Fixed with #162

[2017-09-26 14:10] #43 closed

[2017-09-26 14:14] xmudrii commented on #279
With Reconciled and API refactor, this seems fixed.
@kris-nova if not, please reopen the issue :)

[2017-09-26 14:14] #279 closed

[2017-09-26 15:05] matyix commented on #279
@xmudrii @kris-nova yes, this is fixed.

[2017-09-28 20:14] xmudrii commented on #324
Will close and open new issue instead of this one.

[2017-09-28 20:14] #324 closed

[2017-09-28 20:19] xmudrii opened #414 "Implement S3/Spaces as State stores"
It would be useful to have S3 and Spaces as possible State stores.
[An State Store is defined as the interface with the following functions...](https://github.com/kris-nova/kubicorn/blob/master/state/interface.go).
State Stores are located in the [`state`](https://github.com/kris-nova/kubicorn/tree/master/state) package.

Currently, we have two implementations which you can use as example:
* [YAML

[2017-09-28 20:24] #396 closed

[2017-09-28 20:27] xmudrii opened #415 "Replace OpenVPN with WeaveNet in DigitalOcean implementation"
This issue is in-place of the old issue #177.

One of the biggest reasons we implemented VPN for DigitalOcean is to additionally secure Private Networking. By implementation, every Droplet in the same Datacenter (even Droplets we don't own) can communicate with our Droplets via DO Private Networking. We want to prevent this and therefore additionally secure our cluster.

The problem with OpenVPN (

[2017-09-28 20:39] xmudrii opened #417 "Improve --set flag and implement it for the apply command"
Currently, we have `--set` flag only implemented for the `create` command. We would like to have it for `apply` command as well.

But there as an bug in current implementation, which should be fixed before. As reported in the issue #381, current implementation is case sensitive, so if you execute:
[code]
It would fail. But if you execute
[code]
It would work. It should work as expected with lower

[2017-09-28 20:39] xmudrii commented on #381
Duplicate of #417

[2017-09-28 20:39] #381 closed

[2017-09-28 20:46] xmudrii commented on #396
Take a look at #417

[2017-09-28 20:57] #41 closed

[2017-09-29 14:56] bfosberry opened #418 "Reduce scope of AWS IAM role"
Currently in order to use AWS you are required to hand over full access to EC2 for your account. In order to effectively use this at a larger org the scope of this access must be reduced, for example, to a single VPC.

* Gather user stories and requirements around how this application might be used inside a larger AWS account
* Allow additional parameters to be injected allowing effective use of a

[2017-10-01 05:11] matyix commented on #418
Thi is related to #372 - @kris-nova or @xmudrii would you like to consolidate the two? I intend to work on these - I know very well what orgs are needing (I started the [Cloudbreak](https://github.com/hortonworks/cloudbreak) project) but currently got sucked into a longer surfing trip ... I assume, though this should be cloud agnostic somehow, reusing similar features/concepts across providers (e.

[2017-10-01 14:06] dpraburaj commented on #177
My understanding of k8s' networking(and networking in general) is very rudimentary but wonder if enabling WeaveNet's encryption(https://www.weave.works/docs/net/latest/concepts/encryption/) would make a VPN mesh like Meshbird unnecessary.

As far as I understand, the control plane communication happens securely in kubeadm clusters by default and enabling weave net encryption(if one's using weave f

[2017-10-01 15:15] xmudrii commented on #177
Duplicate of #415

@dpraburaj I'll close this issue, as we have new one for this, #415
Basically, the biggest reason why we have VPN for DO is because Private Networking is not really "private".
Every Droplet from that Datacenter (even Droplets we don't own) can send/access our Droplets. So we wanted to increase security and we implemented VPNs.
However, with #407, we increased security by impleme

[2017-10-01 15:15] #177 closed

[2017-10-01 18:50] xmudrii commented on #399
Let's implement `go-prompt` for non-Windows OS-es. It looks very good, and it would be awesome to have something like this for kubicorn.
Here's the my implementation idea:
1) Add `prompt.go` file to `cmd` package which will contain the code.
2) Add `prompt_windows.go` to `cmd` package which will show not available error for Windows.
3) Instead of defining everything manually, use `cobra` to obtain

[2017-10-01 19:59] xmudrii opened #421 "Support Debian"
It would be useful to support creating Debian clusters as well.

Bootstrap scripts are located [here](https://github.com/kris-nova/kubicorn/tree/master/bootstrap). Beside adding scripts, you will have to code an profile. Profiles are located in the [`profile`](https://github.com/kris-nova/kubicorn/tree/master/profiles) package and you can use any existing as the template (e.g. [Ubuntu @ Amazon](ht

[2017-10-01 20:19] xmudrii commented on #372
I agree on this, thanks for the idea! I've updated the issue's title to include more context. I'll also add the following text in the issue's description.

To implement this, you'll have to create AWS parser package which will read `~/.aws/credentials` and convert it to some Go struct. The best place for that package is the [`cutil`](https://github.com/kris-nova/kubicorn/tree/master/cutil) package

[2017-10-01 21:18] danicat commented on #135
@kris-nova the link to the project walkthrough in the issue description is broken (small typo on the `project` word) http://kubicorn.io/documentation/projetct-walkthrough.html -> http://kubicorn.io/documentation/project-walkthrough.html

[2017-10-01 21:19] danicat commented on #417
@xmudrii the link to the project walkthrough in the issue description is broken (small typo on the `project` word) http://kubicorn.io/documentation/projetct-walkthrough.html -> http://kubicorn.io/documentation/project-walkthrough.html

[2017-10-01 21:20] xmudrii commented on #135
@danicat thank you very much for reporting this. I'll go ahead and update all the links.

[2017-10-02 19:18] aledbf commented on #212
Maybe this app can help https://github.com/apps/dco

[2017-10-05 06:31] Ch3ck commented on #379
HI @kris-nova @xmudrii I'll love to work on this issue

[2017-10-05 07:35] xmudrii commented on #379
@Ch3ck Sounds great to me! If you need any help, feel free to ping me or @ellenkorbes here, or on the Slack.

[2017-10-06 08:41] zoidbergwill commented on #399
I'm having a try at this, will make a WIP PR when I've got something useful.

Busy trying to see if I can generate it similarly to how Cobra generates zsh and bash completions.

[2017-10-06 18:55] xmudrii opened #425 "Include few lines about the website in our Project Walkthrough"
We have the Project Walkthrough explaining everything newcomer contributors should know about the project.
I think we should include the several lines about the website's structure, e.g. which directories exist, where is the index page, where is the documentation and how everything should look like.

/Assigns @ellenkorbes

[2017-10-07 11:10] recollir commented on #421
I will give it a try if this is still up for grab.

[2017-10-07 11:13] xmudrii commented on #421
IIRC somebody is working on this one, but I'm not sure neither I can check it right now 

[2017-10-07 11:18] recollir commented on #421
Thx.

[2017-10-07 19:07] adnxn commented on #421
hey yea i'm taking a look at this one

[2017-10-08 01:42] Ch3ck commented on #372
@xmudrii I'll like to fix this one. Do I need a running AWS instance to properly test this?

[2017-10-08 01:44] Ch3ck commented on #221
@kris-nova Will Google Cloud work for this? I've not used in a while; guess It should have some support for arch Linux. Guess I'll spin some VMs and see.

[2017-10-08 05:50] m4ns0ur commented on #417
@xmudrii you are using `swalker` dependency, which is case sensitive.
I don't no what is the edge cases here, but an easy fix is changing [L153](https://github.com/kris-nova/kubicorn/blob/master/cmd/create.go#L153) to this:
[code]

[2017-10-08 08:16] mohanarpit commented on #399
@xmudrii I just opened a PR #428 for this. Since this is my first contribution to a Golang project, I'd appreciate some feedback on the code quality. If something is not written in idiomatic Go, I'd be happy to change that.

[2017-10-08 08:45] xmudrii commented on #372
@Ch3ck It would be easier for you, but it's not required. You can push the PR and we'll test it if it's needed.

[2017-10-08 08:47] xmudrii commented on #417
@m4ns0ur that could work, would you like to open a PR?

[2017-10-08 09:27] m4ns0ur commented on #417
@xmudrii sure! Is there any related test on this file, to be updated?

[2017-10-08 09:28] xmudrii commented on #417
@m4ns0ur nope, we don't have `cmd` related tests

[2017-10-08 09:59] #417 closed

[2017-10-08 12:32] #399 closed

[2017-10-08 16:51] matyix commented on #372
@Ch3ck @xmudrii has anyone checked whether this parser is needed at all - by default the AWS SDK will source credentials automatically from its default credential chain which is ENV, Shared Credentials file (~/.aws/credentials) and EC2 Instance Role Credentials. I suspect this will work out of the box, we are just short-circuiting it after ENV check.

[2017-10-09 17:15] xmudrii commented on #160
Seems already fixed by the #325 and #281

[2017-10-11 04:28] dlipovetsky opened #432 "Rolling Update of ServerPools"
Let's say I deploy a cluster "daniel" in AWS with two ServerPools: " daniel.master" and "daniel.node-original" Later, I want to update the instance of the nodes.

Here's one way I can make this happen:
1. Add a third ServerPool ("daniel.node-new") to my profile
2. Change the MaxCount of the "daniel.node-original" to 0
3. `kubicorn apply`

The downside is that the original nodes are not replaced gr

[2017-10-12 13:18] matyix commented on #372
I have fixed this in PR #433

[2017-10-12 18:44] #379 closed

[2017-10-12 20:11] Ch3ck commented on #119
I'm looking at this issue @k4k @kris-nova @xmudrii What's required to complete this? I'll look at #69 and #116 and see what I can come up with

[2017-10-14 13:18] matyix commented on #372
@Noirbot, @kris-nova or @xmudrii  can you please close this issue - done by #434

[2017-10-14 13:41] xmudrii commented on #372
@matyix @Noirbot `envar.md` table is rendering perfectly for me. You can see it here -- http://kubicorn.io/documentation/envar.html

About the second issue, I'll create a new one.

[2017-10-14 13:41] #372 closed

[2017-10-14 13:50] xmudrii opened #440 "Add `--aws-profile` flag for selecting profile from the `~/.aws/credentials` file"
In the PR #433, we've done several changes to allow usage of the `~/.aws/credentials` file. Parsing of the file is handled automatically, by the [`aws-sdk-go`](https://github.com/aws/aws-sdk-go). However, we have another problem now -- we can't specify the profile name, so it'll use the `default` profile every time.

[This document](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configu

[2017-10-14 13:51] xmudrii commented on #372
@Noirbot @matyix I've created issue #440 with implementation idea.

[2017-10-14 15:48] fntlnz opened #442 "[AWS Walkthrough] Update with the new way for obtaining credentials"
In [Authenticating](https://github.com/kris-nova/kubicorn/blob/master/docs/_documentation/aws-walkthrough.md#authenticating), the AWS walkthrough only refers to `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`.

This behavior has changed in #433 - also when #440 is done this document will need to be updated to reflect the new ways to pass the `--aws-profile` option.

[2017-10-14 15:50] xmudrii commented on #442
Do you want to update it in the PR or to open new PR yourself?

Here are relevant files:
https://github.com/kris-nova/kubicorn/blob/master/docs/_documentation/aws-walkthrough.md
https://github.com/kris-nova/kubicorn/blob/master/docs/_documentation/envar.md

[2017-10-14 15:58] fntlnz commented on #442
This has already been done in https://github.com/kris-nova/kubicorn/pull/434/files - sorry for duplicating. Did not notice, the `docs/docs_old` folder confused me 😕

[2017-10-14 15:58] #442 closed

[2017-10-14 16:11] #119 closed

[2017-10-14 16:41] Ch3ck commented on #440
@xmudrii I'll like to work on this issue, I currently see some PRs related to this issue. Is there anything in particular I should be looking at?

[2017-10-14 16:42] xmudrii commented on #440
@Ch3ck #441 will close this once I merge it, so no, there's nothing needed around this issue.

[2017-10-15 00:19] fntlnz commented on #177
Another valid alternative could be wireguard: https://www.wireguard.com/

[2017-10-15 08:46] xmudrii commented on #177
@fntlnz It looks good, however it looks like WeaveNet is better optimized for running on Kubernetes stack. I'll look around, this could be useful as well -- it seems like it's very easy to set up and configure it. Thanks a lot for the recommendation.

[2017-10-15 17:59] boingram opened #445 "Better documentation around cloud ID"
The cloud ID variable that's required for GCP is pretty mysterious, we could use some better documentation on what it is/what it should be

[2017-10-15 19:48] Ch3ck commented on #135
@xmudrii @kris-nova I'll like to work on this

[2017-10-15 19:50] xmudrii commented on #135
@Ch3ck sounds good to me. Do you need some help?

[2017-10-15 19:52] xmudrii commented on #445
Closed by #446

[2017-10-15 19:52] #445 closed

[2017-10-15 21:12] Ch3ck commented on #135
Not yet, I'll look through the notes from @kris-nova and let you know if I need anything else

[2017-10-16 22:47] ramin opened #448 "Panic when attempting kubicorn apply for cluster using aws profile"
Following the AWS walkthrough and only got as far as `Query existing resources` with a `runtime error: invalid memory address or nil pointer dereference` related to

`kris-nova/kubicorn/cloud/amazon/public/resources/launchconfiguration.go`

It looks like an appropriate state file was generated (happy to share if helpful).

- go version go1.9.1 darwin/amd64 (also upgraded from 1.8 using brew in deb

[2017-10-17 20:00] xmudrii commented on #385
WIP. I'm currently working on implementing this thing. :)

[2017-10-18 03:10] #448 closed

[2017-10-18 03:11] #183 closed

[2017-10-18 03:17] kris-nova commented on #432
We would love a sketch if at all possible, I think this would be a huge win for the project.

[2017-10-18 03:18] kris-nova commented on #425
Yes I would love this as even I get confused... Maybe in the `README.md` in `/docs/`?

[2017-10-18 03:19] kris-nova commented on #418
@matyix if you are willing to work on these issues we trust you to divide the work as you see best fit.

[2017-10-18 03:21] ellenkorbes commented on #425
I was actually looking into this today but [stuff] got in the way. Will do
it first thing in the morning.

On Wed, 18 Oct 2017 at 01:18 Kris Nova <notifications@github.com> wrote:

[2017-10-18 13:17] xmudrii commented on #135
/cc @Ch3ck @kris-nova

I'll try to sketch out implementation for Git state store in this comment. Here's the idea...

We want to store states in an Git repo. For now, let's focus just on pure Git, so no GitHub APIs and similar stuff, just pure git. Here's an sample repo -- https://github.com/kris-nova/example-state
As you see, it has multiple states in one repo.

So, let's look for [FS JSON implem

[2017-10-18 13:41] xmudrii opened #452 "Automatically create Firewall for GCE"
This is addition to PR #422. Once this gets merged in, users will have to manually create [Firewall Rule](https://github.com/kris-nova/kubicorn/pull/422/files#diff-ac797711234d2cde684840feddda76a8R63) in order to use K8s Cluster.

Some resources that could be helpful to us:
https://cloud.google.com/compute/docs/vpc/firewalls
https://cloud.google.com/compute/docs/vpc/using-firewalls
https://cloud.g

[2017-10-18 13:48] #425 closed

[2017-10-18 14:01] xmudrii opened #453 "Reorganize profiles"
Currently, [profiles](https://github.com/kris-nova/kubicorn/tree/master/profiles) are located all in the same directory, with format of `<os><provider>.go`.

That's not so easy to follow and as we add more stuff, it'll be hard to trace everything.
We could split them in directories, such as:
[code]

If you're working on this one, make sure to update appropriate code and tests as well.
I know this

[2017-10-18 14:08] gar commented on #453
I'll take this, if that's okay?

[2017-10-18 15:29] xmudrii commented on #453
Feel free to take it, sounds good to me

[2017-10-18 17:17] dlipovetsky commented on #432
Thanks for the feedback!

What I have in mind right now is to shamelessly crib from how an [update to a Deployment](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#updating-a-deployment) is applied. Simply put, the Deployment spec is edited, and the Deployment controller orchestrates the rolling update itself.

Because kubicorn is a tool rather than a service, an explicit app

[2017-10-18 22:06] krol3 commented on #388
I will try to write some getting started doc

[2017-10-19 08:27] samanthakem commented on #453
@gar are u working on this still?

[2017-10-19 08:38] gar commented on #453
@samanthakem yes, and I hope to have a PR for it soon

[2017-10-19 11:55] gar commented on #453
@xmudrii I've just opened a PR for this issue. Let me know if you have any comments or suggestions for changes I should make. Thanks! :)

[2017-10-19 16:47] nicbet opened #458 "Reconcile fails if cluster name contains "." with DigitalOcean profile"
## Steps to reproduce

1. Create a new cluster
[code]

2. Run apply
[code]

[2017-10-19 17:21] xmudrii commented on #458
I'll be taking over this one. Dots are not supported in tag names but maybe I can find some workaround.

[2017-10-19 23:18] Ch3ck commented on #135
Perfect @xmudrii this clarifies everything I had in mind.

[2017-10-20 19:50] #385 closed

[2017-10-21 10:26] jnardiello opened #459 "Location/Zone ignored when creating clusters on AWS"
When trying to create a new cluster, the location specified in `_stata/cluster.yaml` for the subnets seems to be ignored.

To reproduce:
1. `kubicorn create test --profile aws`
2. `kubicorn apply test`

Expected output:
I would expect that VPC subnets would reflect the `location` field as in `cluster.yaml` right after the create. Instead, this field seems to be not used during `apply`.

A few test

[2017-10-21 10:29] jnardiello opened #460 "minCount and maxCound are removed from post-application cluster.yaml when creating cluster on AWS"
The `cluster.yaml` file resulting after the `apply` does not contain anymore the `minCount` and `maxCount` fields.

Because of this we can't use `kubicorn getConfig`

[2017-10-21 14:00] #453 closed

[2017-10-23 16:45] xmudrii opened #461 "Updating state store for cluster seems much slower than it was before"

[2017-10-23 17:00] gar commented on #182
It looks like this issue was resolved with 0916979cb468692677f6135043c31cd43fec7ce1. I think it can be closed?

[2017-10-23 17:07] xmudrii commented on #182
@gar yep, thanks :)

Closed by #455.

[2017-10-23 17:07] #182 closed

[2017-10-24 20:48] kris-nova opened #467 "Only use [✔] when mutating infrastructure successfully"
Right now we are using the [✔] log level inappropriately https://twitter.com/Kris__Nova/status/922927367244406785

Can we please fix this instance and update the logger's docs to explain this rule?

[2017-10-25 05:31] dlipovetsky opened #468 "AWS: Unable to find Master IP within timeout"
I created a cluster from the `aws` profile. Twice, I was unable to `apply` the cluster because the Master IP was not found within the default 120 seconds:
[code]
[code]
I increased the timeout from 120 to 180 seconds by increasing [MasterIPAttempts](https://github.com/kris-nova/kubicorn/blob/e0d71f66fd1816f7c6dfa2b681ea9f2fb30978a3/cloud/amazon/public/resources/launchconfiguration.go#L47) from 40

[2017-10-25 12:19] #378 closed

[2017-10-25 21:39] lukasmalkmus commented on #461
Can confirm. I created a cluster on DigitalOcean with the default configuration on Monday and it worked perfectly. Today updating the cluster store timed out and failed. I will investigate further.

[2017-10-26 10:02] joedborg opened #470 "Make releases to make easy to package"
Hey!

Was looking to package this into Homebrew.  To make discrete releases, one seems to need GitHub releases.  I can then also do a Snap package for Linux.

[2017-10-26 10:11] xmudrii commented on #470
We're planning to release the first GitHub release soon. We've got to check out some bugs and that should be it for the 0.1.00. Then, we can look into the integrating with Homebrew, Snap and probably AUR.

[2017-10-26 10:11] #470 closed

[2017-10-26 10:13] joedborg commented on #470
Thanks @xmudrii!  If you remember, could you drop a comment on here when that is and I'll finish the two packages that I've started?  I'll keep watching too.

[2017-10-26 10:17] xmudrii commented on #470
@joedborg No problem, I'll put a comment once it's released :)

[2017-10-27 05:25] dlipovetsky commented on #432
# Rolling ServerPool Update Design Proposal

## Motivation
Replace instances in one ServerPool with instances from another incrementally, maintaining constant cluster capacity while instances are replaced. Replacing instances is necessary to change instance type or operating systems.

## Process
1. `kubicorn edit mycluster`
1.a. Add a ServerPool with `name` equal to `newPool`
1.b. Set `newPool.min

[2017-10-27 09:57] kris-nova opened #471 "Use new community Cluster API"
This is a big one and I will probably do it, unless somebody else wants to get themselves into some crazy Go work!

But basically the Kubernetes community has been coming together and working towards a standardized **Cluster API** which can be found [here](https://github.com/kubernetes/kube-deploy/tree/master/cluster-api)

We need to support the new API in Kubicorn and move towards making this off

[2017-10-31 20:20] matyix commented on #418
@kris-nova please see #472. Half of the issue is done now, for the reuse there is a partial code, however I'd like to discuss it through as it can affect other providers and a path in the codebase which is frequently used. As an example - if the cluster is reusing an existing VPC, when it's deleted and the user has an appropriate role the delete process will remove the VPC as well, as it has no no

[2017-11-05 23:00] robjloranger opened #473 "Documentation Grammar and Errors"
I was reading the documentation and noticed a few little grammar errors like a missing `s` or `the`. An apostrophe, or spelling mistake.

Also in the walkthroughs for azure and google, the profile name is `do` not `azure` or `google`. I assume these should be corrected?

I've already started a fork and gone over almost all the docs so if this is of interest let me know or just assign me.

[2017-11-06 10:26] #473 closed

[2017-11-06 18:08] nrb opened #475 "GCP instancegroupmanagers don't appear to be created"
When I try applying the following state to a GCP cluster, following [the docs](http://kubicorn.io/documentation/google-walkthrough.html) it fails when waiting for the master IP.

[code]

The `apply` call:

[code]

If I let Kubicorn create the instance templates, then create an instancegroupmanager via the `gcloud` client, it creates just fine.

[code]

I have a project in GCP, and I have tcp:443 f

[2017-11-06 19:25] nrb commented on #475
Also, deleting the cluster that I manually spun up appears to work just fine. It reports things are fine on the CLI, and the resources are gone on my console.

[code]

[2017-11-06 21:37] xmudrii commented on #388
Closed by #463

[2017-11-06 21:37] #388 closed

[2017-11-06 23:09] jnardiello opened #477 "AWS ExternalLoadBalancer not supported"
I've setup a cluster on AWS. I'm trying to expose a simple service with `--type=LoadBalancer`. The service is created but the loadbalancer isn't actually created, doing a `kubectl get services` will show that the service is stuck in `pending`

Debugging a bit, the log of the `ControllerManager` on the master is:
```{"log":"E1106 22:45:48.491273       1 core.go:67] Failed to start service controlle

[2017-11-07 11:10] xmudrii commented on #477
Hi there. The biggest problem for now is `kubeadm`, which doesn't support Cloud Provider Integrations out-of-box. There are workarounds, and I planned to (try to) code it in `kubicorn`, however I can't really promise when. I'll try my best to make it out soon.

If you're interested, you can take over it, but be prepared for some serious bash hacking. :D Also, we need to find out what would be the

[2017-11-07 11:11] xmudrii commented on #421
This issue is available for work again.

[2017-11-07 14:59] nrb commented on #475
After finding the StackDriver logs on my GCP console, I noticed I was getting these errors when Kubicorn was running:

[code]

After some experimentation, I found I needed to add the *Service Account User* role to my account; the Service Account Admin mentioned in the original comment apparently means that the account can manage other service accounts, but cannot act as one.

So in the end, it was

[2017-11-07 15:02] xmudrii commented on #475
‎Thank you so much for checking this for us!! We really appreciate it.

If you find some time and willing to help, it would be great idea to document what are required permissions in order to create cluster on GCP. We would highly appreciate it.

[2017-11-08 07:43] xmudrii commented on #359
Working on this one :)

[2017-11-12 05:11] robjloranger commented on #264
I think it's just to remove the vendor directory? That way the repo is lighter and people can update the dependencies from the manifest after cloning.

[2017-11-12 19:45] xmudrii commented on #264
@robjloranger Actually, it's a downside that repo is lighter. Removing `/vendor` would "disable" `go get` as dependencies are missing. This is a good thing actually, as it's forcing users to use releases instead of development versions. Development versions could be buggy, while released one are not that buggy.

But there's a downside.. In order to get ready to develop stuff, you need to run `dep

[2017-11-13 02:23] robjloranger commented on #264
@xmudrii `dep ensure` is pretty quick on my machine, but it is a bit new and I know too well not everyone has a quick development machine.

So is this something to hold off on?

[2017-11-14 15:41] vielmetti commented on #139
Happy to help. @mhausenblas or @kris-nova do you have a suggested plan of attack for this?

[2017-11-15 16:43] vielmetti opened #480 ""how to add new cloud" Reconciler README is incomplete"
Reference https://github.com/kris-nova/kubicorn/blob/master/cloud/README.md

### What I expected to see

Summary documentation on how to add a new cloud provider

### What I actually saw

Truncated README file; some history in the commit stream of previous text, which is gone now and it's not clear why

### What I'm trying to do

Get a new cloud provider scoped out for Packet, see #139 for that tr

[2017-11-16 00:55] #467 closed

[2017-11-18 15:20] kris-nova commented on #440
Can we update he docs here too please?

[2017-11-19 14:54] vielmetti commented on #480
@deitch wrote the summary doc (thanks) so this can be closed.

[2017-11-19 14:54] #480 closed

[2017-11-19 14:54] vielmetti commented on #139
@deitch wrote summary documentation for a plan of attack in #483, let's see how that moves forward.

[2017-11-19 14:58] deitch commented on #139
It is in progress. I have about half of it done on a local branch. Figuring out some of the API and should be good.

[2017-11-22 05:47] vielmetti commented on #139
@deitch has a PR in https://github.com/kris-nova/kubicorn/pull/486 that adds support for Packet.

[2017-11-25 08:31] matyix opened #489 "Add more options to fetch the bootstrap scripts"
As we have now moved away from `bindata` generated bootstrap to a more flexible ways to fetch the scripts I'd like to have more options (beside fs or github) to get the bootstrap files. [Go-getter](https://github.com/hashicorp/go-getter) allows to fetch from few different sources - is there interest beside of what we have now? If so @kris-nova @xmudrii put this on me and will send a PR.

[2017-11-25 08:33] xmudrii commented on #489
This looks awesome! If you want to work on it, feel free to take it, we would appreciate it. 

[2017-11-25 08:34] matyix commented on #489
OK - you can assign this to me. Thanks @xmudrii.

[2017-11-26 09:10] xmudrii commented on #139
Closed by #486 #491 #492

[2017-11-26 09:10] #139 closed

[2017-11-28 08:50] deitch opened #496 "kubicorn apply messes up existing kube config"
If I run `kubicorn apply`, it does the right thing by adding the cluster/user/context to my `~/.kube/.config`.

But it does it by adding a brand-new entire set of yml to the end of the file. This means that I lose all of my existing unless I manually delete it.

I don't know if it always does it, or if it has a hard time with certain structured kube config files.

[2017-11-28 09:40] xmudrii commented on #496
@deitch Thank you very much for reporting the issue. There're some reported problems with deleting kubeconfig already (#384). I'll look into it once I get some free time.

[2017-11-30 00:54] Ch3ck opened #498 "Go Dep Vendoring Error"
Currently having issues updating and adding new dependencies with `dep`. Here is the error I get:
[code]
Is there any fix to this? I"m on Go 1.9 on Fedora 26

[2017-11-30 13:33] Ch3ck commented on #498
Fixed!

[2017-11-30 13:33] #498 closed

[2017-12-02 04:23] adnxn commented on #421
@xmudrii ubuntu's amazon template is now [here](https://github.com/kris-nova/kubicorn/blob/master/profiles/amazon/ubuntu_16_04.go). link in the description 404s.

[2017-12-07 15:19] bradylove opened #501 "kubicorn panics on apply for DigitalOcean"
I installed kubicorn from master (7bcb550) with `go get` and exported my `DIGITALOCEAN_ACCESS_TOKEN`. When running `kubicorn apply` I am getting a panic for `invalid memory address or nil pointer dereference`.

[code]

[2017-12-07 15:24] xmudrii commented on #501
Hi, thanks for reporting the issue.

This is a known issue and I already submitted PR fixing this (#493). However, I can't merge without @kris-nova, but she's out for Kubecon.

I believe it should be merged soon, but in the meanwhile, you can build of the [`signals-hotfix` branch](https://github.com/kris-nova/kubicorn/tree/signals-hotfix). I'll rebase it right now.

[2017-12-07 15:27] xmudrii commented on #501
@bradylove The branch is re-based now, so you can use it in the meanwhile. Thanks once again.

[2017-12-07 15:41] bradylove commented on #501
@xmudrii thank you for you quick response.

I rebuilt master with the `-race` flag and tried again, it appeared to work this
time, however there were 6 data races detected. I pulled the `signals-hotfix`
branch and also built it with the `-race` flag. Apply worked again and the
data races still exist.

`kobol apply <cluster name>` from master (7bcb550) see [here](https://gist.github.com/bradylove/d

[2017-12-07 15:54] xmudrii commented on #501
@bradylove Thank you very much for analysis! This sounds strange.
I'll try to look into it as soon as I can, however I'm quite busy right now.

Signals are being handled from the `cloud` package; the relevant file is [`atomic_reconciler.go`](https://github.com/kris-nova/kubicorn/blob/master/cloud/atomic_reconciler.go).

I believe the problem is that we're creating 4 signal handlers while reconcili

[2017-12-08 23:39] kris-nova opened #503 "Panic while no internet connectivity"
If you try to run a `kubicorn` apply while not connected to the internet you get a nasty panic.

CC @stealthybox

[code]

[2017-12-08 23:39] stealthybox commented on #503
I'll take a look at this :+1:

[2017-12-08 23:40] xmudrii commented on #503
‎‎@kris-nova I believe this is related to signals. Check out my PR.

[2017-12-08 23:41] xmudrii commented on #503
‎Also, check out #501, it contains some important details.

[2017-12-11 21:11] #135 closed

[2017-12-11 21:29] stealthybox commented on #496
Related to solving this issue: #110

[2017-12-13 15:18] ellenkorbes commented on #421
Which description? @adnxn

[2017-12-13 15:31] xmudrii commented on #421
‎`Ubuntu @ Amazon` link is broken (the package has been moved). I'll fix this tonight.

[2017-12-13 15:34] ellenkorbes commented on #421
Ohhhhh here in the issue. Okay, fixed :)

[2017-12-20 22:56] xmudrii commented on #359
Submitted PR #509 that should fix this issue

[2017-12-21 09:48] xmudrii commented on #414
Working on this one :shipit:

[2017-12-21 11:33] xmudrii commented on #461
Works okay for me now. I'll close the issue. If anybody gets the problem, feel free to create new issue.

[2017-12-21 11:33] #461 closed

[2017-12-21 11:34] xmudrii commented on #414
#510 will fix the issue.

[2017-12-21 11:34] xmudrii commented on #503
Duplicate of #501, I'll close this one.

[2017-12-21 11:34] #503 closed

[2017-12-21 11:36] xmudrii commented on #501
Same happens when you apply cluster without internet connection -- see #503.

[2017-12-21 20:31] xmudrii opened #511 "Integration/E2E Tests for Kubicorn using heptio/sonobuoy"
We should create E2E tests to make sure our code is working as intended always.
That will cost money as will run this stuff on the real providers.

@kris-nova's and my plan was to use heptio/sonobuoy as it's easy to run tests using it.
My plan of attack is:
* Create and Apply K8s Cluster using Kubicorn
* Apply Sonobuoy test file
* Wait for the results
* Download them using `client-go` and parse th

[2017-12-22 15:38] ulrichSchreiner opened #512 "How to scale"
hi,

i wonder how to scale the number of nodes of a created cluster? So i created a cluster with digitalocean and everything ok. but now i simply entered the same command again and i thought that nothing happens: a `kubicorn apply myk8s` should reconcile the local `_state/..." yaml file with the current cluster running.

but ... kubicorn tried to create a new cluster with the same name and tags ..

[2017-12-22 16:48] kris-nova opened #513 "Ubuntu bootstrap scripts not respecting kubernetes version"
Looks like it might be a bug in `kubeadm` https://github.com/kubernetes/kubeadm/issues/612

Place holder issue regardless, can provide more details if needed

[2017-12-22 21:42] #415 closed

[2017-12-22 21:42] #211 closed

[2017-12-22 21:47] xmudrii commented on #513
Working on the fix

[2018-01-06 22:55] adnxn opened #518 "dynamically consume new profiles"
currently we have to edit `cmd/create.go` to add new or replace existing profiles. it would be nicer to be able to consume this dynamically using only the `--profile` flag from the command line.

this would improve the user experience when adding new profiles.

[2018-01-12 20:57] nrb commented on #477
@jnardiello This should be working as of https://github.com/kris-nova/kubicorn/commit/79d42702e1b58684bb465f91579999473cfb2def (and some subsequent typo fixes). My primary use case was supporting EBS-backed PVs, so I didn't try ELBs in depth.

[2018-01-12 21:04] nrb commented on #56
fwiw, the kubeadm config files are now being written with https://github.com/kris-nova/kubicorn/commit/79d42702e1b58684bb465f91579999473cfb2def.

I haven't  confirmed that the kubeconfig cluster name matches, though.

[2018-01-12 21:06] nrb commented on #131
@kris-nova

I know  there's #482 that mentions some of this, but could you expand on this a little bit? Is the intention to deploy kubicorn itself into the cluster?

[2018-01-15 09:48] stealthybox commented on #131
@nrb that's what I got out of the PR.

The main use-case for Cluster-API is to use k8s API objects to manage machines.
ie: `kubectl apply -f machine.yaml` would create a Machine object in kubernetes, and a controller would realize that object into an actual node that joins the cluster.

Figured `kubicorn controller` would run as a daemon, either inside or outside the cluster.

[2018-01-15 10:32] xmudrii commented on #131
@kris-nova @nrb @stealthybox I guess the idea for running `kubicorn` in a pod is something similar to [this](https://www.nivenly.com/i-ran-terraform-in-kubernetes/).

What I thought about this PR is to create ability for `kubicorn` to handle configuration files. The priority would be Flags > Env Vars > Configuration file. The plan was to use `spf13/viper` but for some reason that didn't worked out

[2018-01-16 18:39] stealthybox commented on #511
I have some helpful notes on how to reproduce and parse Sonobuouy results in the readme for the kubeadm conformance submission:
https://github.com/cncf/k8s-conformance/tree/master/v1.9/kubeadm#reproduce-conformance-results

[2018-01-16 19:04] xmudrii commented on #511
@stealthybox Thank you so much! I'll take a look. I think this is what I've needed.
I'm planning to wrap up something soon, hopefully even tomorrow. I'll ping you if I need some help. :)

[2018-01-17 00:29] stealthybox commented on #511
sure thing -- lmk if you wanna pair on anything 👍

[2018-01-17 14:05] xmudrii commented on #511
Here's what I've thought of:

Create Go package (that would be under `kubicorn/test` or `kubicorn/e2e`) that contains logic for each provider. The procedure would be as usual:
* Create cluster, get reconciler and reconcile it.
* The bootstrap script would contain Sonobuoy YAML file.
* Check are all nodes up and ready.
* Get Pod's logs and wait for the last log (there's special one in case of Sonob

[2018-01-17 16:16] stealthybox commented on #511
Only thing I can think of is we'll also need to automate generating version.txt since Sonobuouy doesn't output it:
https://github.com/cncf/k8s-conformance/tree/master/v1.9/kubeadm#generate-versiontxt

This should either be an exec into the running e2e pod (which we can wait for using selectors), or a one time run of the same e2e image.

I'm not positive about vendoring client-go :/

[2018-01-17 16:22] xmudrii commented on #511
@stealthybox I've seen that one, I guess that's not a big problem (beside `exec` part, but I'll look into it once I successfully vendor `client-go`).

What I'm thinking more and more about.. is to use Bash scripts for testing. I don't know how good or bad idea is it, but I would like to know what do you think about it.
That would totally be Bash hacking. It's harder to parse data, but it's it's ea

[2018-01-18 16:39] xmudrii opened #523 "Add a flag or an environmental variable to choose between local and remote bootstrap script"
Currently, when we apply a state, remote script (from GitHub) is used to reconcile the cluster. This is not always convenient, especially when modifying and testing scripts.

For example, we can add an environmental variable, such as `KUBICORN_DEVELOPMENT_MODE` and check for it when we parse state's bootstrap script in the `parser` package. If it's set, use the local script, if not, get it from th

[2018-01-24 03:39] adnxn commented on #523
I think a flag would be a better UX in this case since we're explicitly passing it in when running the `apply` command. What do you think?

[2018-01-24 03:42] adnxn commented on #471
Yes please.

@kris-nova,  Do you have any thoughts on a path forward? Or suggestions for where to start looking first?

[2018-01-24 11:52] xmudrii commented on #471
@adnxn @kris-nova is already working on this one, and she's actually near the end. You can track the progress in #482.

[2018-01-24 11:56] xmudrii commented on #523
@adnxn We can go with both. If you want to take over this one, I would be happy to instruct you what's needed to be done. :smile:

[2018-01-24 15:42] adnxn commented on #471
@xmudrii ah gotcha sounds good 😄

[2018-01-24 15:43] adnxn commented on #523
@xmudrii, That would be great. Let me know please

[2018-01-24 15:46] adnxn commented on #421
@ellenkorbes, We're good to remove the `Amazon` label from this issue now, but also add a GCP one please. Thanks 😄

[2018-01-24 17:16] xmudrii commented on #421
@adnxn Updated. 😄 Do you want to try for GCP and DO too?

[2018-01-24 18:45] adnxn commented on #421
ya ill take a look at those two as well

[2018-01-26 01:19] #440 closed

[2018-01-27 21:17] xmudrii commented on #523
@adnxn Sorry for the late update. I had to fix this, so I can rework and the DigitalOcean support. The fix is included in #527.

I would be happy to help you if you want to get started with any other issue! Just ping me on GitHub or Slack.

[2018-01-28 11:33] xmudrii commented on #56
Currently, it doesn't seem possible to configure cluster name using `kubeadm`. Relevant issues and PRs: kubernetes/kubeadm#416, kubernetes/kubernetes#52470.

[2018-01-28 12:03] xmudrii opened #528 "Civo Cloud implementation"
[Civo Cloud](https://www.civo.com/) is new and upcoming, offering many features such as Bandwidth pooling, True Private Networking and much more. It's getting very popular among developers located in UK and EU, so I believe it would be a great idea to support it.

The provision process should be similar to DigitalOcean, so we can use DO's bootstrap scripts as a template.

[2018-01-28 13:00] alexellis commented on #528
👍 would love to see this happen. The 25 second provision times are awesome.

[2018-01-29 01:31] adnxn commented on #131
@xmudrii I'll pick this one up, lmk what you had in mind.

[2018-01-29 20:15] xmudrii commented on #131
@adnxn SGTM.

I believe it's the best idea to use [`spf13/viper`](https://github.com/spf13/viper) to handle configuration files, mostly because it provides a good interfaces, is working very well with [`spf13/cobra`](https://github.com/spf13/cobra) (we're using it for CLI), and it's somewhat okay documented.

You would need to implement it for the [`cmd`](https://github.com/kris-nova/kubicorn/tree

[2018-01-29 21:24] #523 closed

[2018-01-31 05:00] adnxn commented on #131
@xmudrii, just checking - are we good on this order of priority?

[2018-01-31 11:37] xmudrii commented on #131
@adnxn yep. As Kris said above:

So, flags and env vars are most important, but if none are present, we can use config file value.

[2018-01-31 15:56] xlucas commented on #105
Has any progress be made on this subject ? Are you still looking for help ?

[2018-01-31 17:54] kris-nova opened #529 "Rename `/cutil` to `/pkg`"

[2018-02-02 12:46] xmudrii commented on #529
@kris-nova check out #530

[2018-02-03 16:11] roysG opened #532 "public ip not getting on digital ocean"
The scripts works well, but when i do the command to see the public ip, it is not coming.

[2018-02-03 16:13] xmudrii commented on #532
@roysG Hello there, thanks for reporting the issue.

Because I'm not able to trace it, can you please provide the command you used to obtain Public IP? That would help me a lot.

[2018-02-03 16:14] roysG commented on #532
ok, one moment.

[2018-02-03 16:46] roysG commented on #532
I tried to repreduce the problem again, but now i stack on another problem.
The setup soppouse to take so long time??

 kubicorn apply myfirstk8s
2018-02-03T18:39:26+02:00 [ℹ]  Selected [fs] state store
2018-02-03T18:39:26+02:00 [ℹ]  Loaded cluster: myfirstk8s
2018-02-03T18:39:26+02:00 [ℹ]  Init Cluster
2018-02-03T18:39:26+02:00 [ℹ]  Query existing resources
2018-02-03T18:39:28+02:00 [ℹ]  Resolvin

[2018-02-03 16:50] xmudrii commented on #532
@roysG Setting up VPN takes several minutes, so it's normal.

Make sure you have the latest version of Kubicorn because we've changed the bootstrap scripts and logic behind it. As of #527, VPN is disabled by default.

Once you get the latest version (you can use `git pull origin master` and `go install`), create the new profile and then apply it. If you have problems again, make sure to post logs

[2018-02-03 16:53] roysG commented on #532
Is this the last version?

kubicorn version

Kubicorn version:  {"Version":"","GitCommit":"","BuildDate":"2018-02-03 16:52:39.603661 +0000 UTC","GOVersion":"go1.9.3","GOARCH":"amd64","GOOS":"darwin"}

[2018-02-03 16:56] xmudrii commented on #532
@roysG It doesn't show anything at all because `kubicorn version` is not really working (we still haven't started rolling out the releases). The best way to verify is to pull the latest changes and install kubicorn again (as explained above, `git pull origin master` and `go install`).

[2018-02-03 17:33] roysG commented on #532
Ok, i upgraded the version and successfully installed :)

Now i want to run nginx and need to deploy it to public ip.

So i am trying to do:

kubectl run my-nginx --image=nginx --replicas=1 --port=80
kubectl expose deployment my-nginx --port=80 --type=LoadBalancer

root@axx-master-0:~# kubectl get svc
NAME         TYPE           CLUSTER-IP    EXTERNAL-IP   PORT(S)        AGE
kubernetes   ClusterIP

[2018-02-03 17:55] xmudrii commented on #532
@roysG This is expected behavior. Type `LoadBalancer` is not supported on every cloud provider. Under the hood, it creates a Load Balancer on the cloud provider and then exposes that IP address.

Currently the `LoadBalancer` support is shipped with K8S on providers such as AWS, GCP and Azure.

For DigitalOcean, you'll need to apply CCM, which can be found in [`digitalocean-cloud-controller-manager

[2018-02-03 19:32] roysG commented on #532
Thanks for your comment, i just did not understood if there is any way by your repo to setup the servers with the option to apply the "CCM"

[2018-02-03 19:34] xmudrii commented on #532
@roysG Not at this point, but I'm planning to take on it quite soon. I'll close the issue now. If you have any additional questions, feel free to reopen it or create a new one.

[2018-02-03 19:34] #532 closed

[2018-02-03 19:35] roysG commented on #532
Ok, thanks

[2018-02-04 09:33] adipascu commented on #512
I am facing similar issues, it looks like the DigitalOceal reconciling process is not working.

[2018-02-04 10:34] gedw99 opened #533 "teleconsole and telehost"
do you think that putting in telehost as a bastion in the cluster makes sense ?

I like it allot

[2018-02-05 08:01] xmudrii commented on #512
Currently, scaling is not implemented at all. I've seen @ulrichSchreiner PR implementing this, but we're doing major API refactor and then we'll get back to the PR backlog.

@adipascu Do you have problems only when trying to upscale the cluster or when creating for the first time?

[2018-02-05 08:33] adipascu commented on #512
I am having this issue when I run the create command twice. I expected it to be a NOOP, but it crashed instead.

Scaling and switching VM types would be a nice feature to have.

[2018-02-05 10:47] xmudrii commented on #276
I'm taking on this one

[2018-02-05 11:07] xmudrii commented on #512
Yep, running apply/create mulitple times doesn't work at all. I hope we'll get it working soon

[2018-02-06 04:07] adnxn opened #534 "vendor: dep status, dep ensure warnings"
currently `dep status` returns:
[code]

and `dep ensure` returns:
[code]

we should update Gopkg.toml to address these warnings.

[2018-02-06 13:43] xmudrii commented on #534
Closed by [#535/comment](https://github.com/kris-nova/kubicorn/pull/535#issuecomment-363425703).

[2018-02-06 13:43] #534 closed

[2018-02-08 11:06] #529 closed

[2018-02-08 22:31] kris-nova opened #539 "ssh is broken"
So we keep changing the code to *assume* that a user has an ssh-agent

I do not have an ssh-agent, and wont be using one.

Kubicorn is broken for me, and we need to stop assuming that every user uses an ssh-agent

[2018-02-09 14:45] roysG commented on #468
2018-02-09T16:40:54+02:00 [✖]  Error during apply of atomic reconciler, attempting clawback: Unable to find Master IP

Also i get error:
2018-02-09T16:41:02+02:00 [✖]  Unable to commit state store: Nil cluster spec

Any update?

[2018-02-12 22:41] xlucas commented on #105
I've started working on an Openstack implementation.

[2018-02-16 22:11] krisnova opened #541 "kubicorn creates ELB in the wrong zone"
On TGIK we tried to create an ELB and it was created in the wrong zone - can we look at the cloud provider impl here?

[2018-02-22 22:19] nrb opened #545 "Apply a consistent tag to resources"
In order to keep track of resources in an account, it would be helpful to have all Kubicorn resources tagged with something consistent. That way, an administrator could query their cloud provider for a single tag and see all Kubicorn-managed resources easily.

I'm not 100% sure what would be a good tag; maybe `creator: kubicorn`?

This may have to be implemented per cloud provider.

[2018-02-22 22:21] nrb commented on #545
Something like AWS's newer [resource groups](https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html) could take advantage of this.

[2018-02-22 22:27] xmudrii commented on #545
I believe this is something like tags on DigitalOcean. We tag all resources with the cluster name + role, so you can make difference between stuff.

[2018-02-22 22:41] nrb commented on #545
Yeah, there's some of that; I think having 1 that identifies all resources (in addition to KubicornMaster and KubicornNode) would be helpful.

In AWS some are applied ([example](https://github.com/kris-nova/kubicorn/blob/2f67b7aa28ac21d1542c0ee8bbda3103ac3290d5/cloud/amazon/public/resources/routetable.go#L78)), so it should be a matter of adding additional entries for the different resource types.

[2018-02-22 23:02] nrb commented on #545
So I think I was mistaken - I think I can use the `KubernetesClusterName` tag to do this.

I did notice, however, that some resources don't have a `tag` function. [AWS security groups](https://github.com/kris-nova/kubicorn/blob/master/cloud/amazon/public/resources/securitygroup.go) don't have it, but [AWS VPCs](https://github.com/kris-nova/kubicorn/blob/master/cloud/amazon/public/resources/virtual

[2018-02-23 16:01] davecaplinger commented on #496
Writing the config to a different local file path (which is what I think #500 allows?) seems like the wrong approach to fix this issue (in my opinion, of course).  For example, I have multiple cluster configs in `~/.kube/config` so I can easily switch with `kubectx` and as @deitch indicated, the new cluster info that kubicorn added got written to the right file; just not the right place in that fi

[2018-02-24 00:22] stealthybox commented on #496
Thanks @davecaplinger,
I think we can all agree on your suggested approach.

We recently vendored kubernetes/client-go in anticipation of this (as well as other efforts)
The current implementation literally copies kubeadm's kubeconfig, so we'll need to write one that is struct aware.

There are more linked issues here as well: https://github.com/kris-nova/kubicorn/issues/56

[2018-02-27 05:44] #539 closed

[2018-02-28 16:10] alejandroEsc commented on #459
I cant seem to repro this problem, has this been resolved?

[2018-03-01 05:38] #359 closed

[2018-03-01 05:46] #414 closed

[2018-03-01 22:23] kris-nova commented on #511
Note from @detiber that we should wait and rely on the CLI after `0.11`

[2018-03-01 22:24] krisnova opened #554 "Create a bot that reads labels"
A bot to perform arbitrary tasks if a given label is present on a pull request

Maybe we can't use travis (we have some circleCI support in already)

[2018-03-01 22:48] xmudrii opened #556 "Support Barebones clusters"
I think it would be nice to support barebones clusters in the future.

We could support creating them on KVM/QEMU, or something like that. That could be pretty useful.
It's definitely not easy to accomplish, but I believe there're some libs out there to help us.

This issue is a starting point, so please discuss it.

[2018-03-02 07:31] danderson commented on #556
So, I think there's two general categories of "bare metal" clusters we could consider supporting.

First, "bare metal" meaning virtualized on-premises. This shouldn't be _too_ hard to support. Libvirt and libvirtd are the standard environment for that, and digitalocean has a Go library to connect to libvirtd and tell it what to do. So... In theory, it's a Simple Matter of Programming. Of course, i

[2018-03-02 09:50] xmudrii commented on #556
I think it should be possible to support both categories of clusters. The first one is easier, due to libraries such as [`digitalocean/go-libvirt`](https://github.com/digitalocean/go-libvirt) and [`digitalocean/go-qemu`](digitalocean/go-qemu), but that doesn't mean we can't create something for the second category.

About the second category.. I think it's totally okay to choose one solution. For

[2018-03-02 17:35] stealthybox commented on #511
also, IMO, sonobuoy should output the `version.txt` as a test result
not sure if there is an upstream issue for this

[2018-03-02 23:24] xlucas commented on #105
I guess this issue can be closed now :)

[2018-03-02 23:25] xmudrii commented on #105
@xlucas thanks for the update! Closing

[2018-03-02 23:25] #105 closed

[2018-03-07 17:19] stealthybox commented on #556
Really happy to see this brought up!
We should break this out into multiple issues -- sounds like the libvirt provider is actionable.

For some clarification, I believe we're talking about **On-Premises**.
[Bare Metal](https://en.wikipedia.org/wiki/Bare-metal_server) environments are not virtualized.

[2018-03-08 08:09] hunter commented on #556
I'm with @danderson on the second category. Its an area that hasn't seen as much focus as the cloud deployments for any of the kubernetes installers.

As for if Kubicorn is the right place for it, I'm not entirely sure. It is certainly a great tool and perhaps well suited as a library. I've not dug in enough to know if there is anything that is assuming a VM based infra (as some of the other deplo

[2018-03-08 12:06] joedborg opened #565 "AWS provider won't scale once running"
Hey all,

It seems that changing the `minCount` and `maxCount` primitives breaks a running AWS cluster.

Added like
[code]
If added to running cluster, on `apply`:
[code]

[2018-03-08 18:23] stealthybox commented on #556
For Bare Metal,
I think a simple provider that takes these params could be a good start?
- IP's/DNS
- SSH credentials
- Node classification

We could depend on a base OS like ubuntu or debian -- The provisioning scripts would fetch kubeadm and the necessary kubernetes packages.

Internet connectivity could be assumed by default, but we could provide env vars to change the repos for packages and do

[2018-03-09 17:32] detiber opened #569 "Switch tests that require external services (ssh/minio) to integration tests"
Tests accessing external services should be run as separate integration tests, rather than as unit tests.

It would also be beneficial to not require pre-configured and running external containers to provide these services, but rather to spin up services as part of the test or test harness setup.

[2018-03-09 19:42] xmudrii opened #570 "Enable CircleCI builds for forks"
[Here're docs for enabling builds for forks](https://circleci.com/docs/1.0/fork-pr-builds/). I think @kris-nova has to do it, as she's owner.

[2018-03-12 07:05] kris-nova opened #573 "AWS InstanceProfile fails if already exists"
If the InstanceProfile already exists in AWS an application fails. Can be simulated by running a kubicorn apply with an instance profile that kubicorn attempts to create.

CC @nrb @detiber

[2018-03-12 07:05] #141 closed

[2018-03-12 07:06] kris-nova commented on #70
Duplicate of https://github.com/kubicorn/kubicorn/issues/195

[2018-03-12 07:06] #70 closed

[2018-03-12 07:06] #289 closed

[2018-03-12 07:08] kris-nova commented on #468
I think having this logic as a flag makes sense - does anybody want to take a stab at creating a pull request?

[2018-03-12 07:08] #489 closed

[2018-03-12 14:03] nrb commented on #573
Is this still an issue since https://github.com/kubicorn/kubicorn/commit/77df4f64d3750b3c42211134063ad5ac66a0fc3b ?

[2018-03-12 14:48] kris-nova commented on #573
Ah yeah - this addresses if the InstanceProfile exists but the InstanceRole does not (I think I gave it a bad name)

I was able to hit this after a few bad kubicorn apply's last night and this small change did the job

https://github.com/kubicorn/kubicorn/pull/572/files#diff-076559565382c39ccea2396aa04a67faR230

[2018-03-12 17:08] ulrichSchreiner opened #577 "User has to enter passphrase although key is loaded in ssh-agent"
hi,

kubicorn uses `ssh` to connect to the master node of a cluster and query the kube-configuration. It uses the  key specified in the `SSH.publicKeyPath` from the configuration file. If the corresponding private key of this public key has a passphrase the user has to enter the phrase.

It is annoying for people using `ssh-agent` to enter this passphrase if the private key is already in the keyri

[2018-03-13 17:53] #1 closed

[2018-03-13 17:53] #460 closed

[2018-03-13 17:53] #471 closed

[2018-03-13 17:53] #565 closed

[2018-03-13 17:53] #573 closed

[2018-03-13 20:10] kris-nova opened #578 "CRD State Store Implementation"
- Create a new State Store called `crd` that lives [here](https://github.com/kubicorn/kubicorn/tree/master/pkg/state)
- Use the functions from this package [here](https://github.com/kubernetes/kube-deploy/blob/master/ext-apiserver/pkg/client/clientset_generated/clientset/typed/cluster/v1alpha1/cluster.go) in the kubicorn code for a new state store

[2018-03-13 20:12] krisnova opened #579 "Rename the import to ext-apiserver"
Right now we are vendoring an older version of `kube-deploy` [here](https://github.com/kubicorn/kubicorn/blob/master/apis/cluster/cluster.go#L22)

We need to use the new API [here](https://github.com/kubernetes/kube-deploy/blob/master/ext-apiserver/pkg/apis/cluster/v1alpha1/cluster_types.go)

[2018-03-13 20:12] kris-nova commented on #578
Depends on #579

[2018-03-13 20:14] kris-nova opened #580 "We need to create new controller profiles"
We need to create new profiles for the new kubicorn controller that do the following

- bring up a control plane
- save the cluster definition as a CRD
- install the kubicorn controller

We need these profiles for the following:

- Amazon
- Google
- Packet
- Openstack
- DigitalOcean
- Azure

[2018-03-13 20:24] kris-nova opened #581 "Move bootstrap scripts to their own repository"
Create a new repository and move the bootstrap scripts there. We can then point kubicorn at different branches there based on the version number.

[2018-03-13 20:27] kris-nova opened #582 "Change version to `pre-release` and pull bootstrap scripts from github.com/kubicorn/bootstrap (pre-release branch)"

[2018-03-13 20:29] kris-nova opened #583 "Get Azure working without VMSS"
After the controller code is in place - can we create a very simple Azure integration?

[2018-03-13 20:31] kris-nova commented on #569
I agree - we should move all integrations tests out of the main repo and not as unit tests

[2018-03-14 20:48] #577 closed

[2018-03-15 04:57] adnxn commented on #545
@nrb @xmudrii, if no one is picking this up, i can comb through the resources and add tags functions where necessary.

[2018-03-15 11:13] xmudrii commented on #545
@adnxn I'm not working on this one. If @nrb is not working on it as well, feel free to take it :)

[2018-03-15 14:58] nrb commented on #545
@adnxn Go for it! I'll be happy to review/test.

[2018-03-15 20:13] ulrichSchreiner opened #586 "AtomicReconciler semantically incorrect"
hi,

in the code of the `AtomicReconciler` you can see the pattern:
[code]
where `model.Resources()` returns a `map[int]Resource`.  The upper code only works, if the map is really an array, so the key's in the map are identically to the list of `0..len(r.model.Resources())`.

Suppose you have a map like:
[code]
if you use the upper loop, you will loop from 0..1 and use these two numbers as keys in

[2018-03-15 20:32] kris-nova commented on #586
Hi, so this is a reflection of our migration strategy and not our inability to understand Go.

We know it's weird, and we are working on refactoring it. #572 was the first step in this effort.

[2018-03-15 21:23] xmudrii opened #587 "[Umbrella issue] Problems with DigitalOcean clusters"
Currently, you can't create DigitalOcean clusters because of several bugs.
This issue is an umbrella issue for collecting what problems are currently present.

* [x] Firewall gets created before Droplets, so tags are not created, causing `kubicorn` to fail.
[code]
Temporarily, this can be resolved by creating tags using API, or CLI (e.g. `doctl compute tag create <name>`).
* [x] Actual and Expecte

[2018-03-17 14:40] majst01 opened #588 "Packet: 422 You must specify a valid facility parameter"
Hi,

im following the packet instructions from here:
http://kubicorn.io/documentation/packet-walkthrough.html
I didnt modify the created _state/nameofproject/cluster.yaml

But
[code]

ends with:
[code]
looking at the very beginning of the verbose log output already shows an empty Location:

[code]

Any hints to dig into this are welcome, i try to figure out where this error starts, but up to now i

[2018-03-17 14:51] majst01 commented on #588
Update:

[code]

With this it works as expected, so somewhere the configuration from cluster.yaml --> providerConfig --> location gets lost. Digging further.

[2018-03-17 18:13] xmudrii commented on #588
Fixed by #589

[2018-03-17 18:13] #588 closed

[2018-03-17 20:27] Vad1mo opened #590 "Rollout on OVH fails"
I try kubicorn on OVH and got an error while applying :
Some Value is too short but I don't know which.

[code]

[2018-03-17 20:30] xmudrii commented on #590
As of #572 some cloud providers got broken, but we're trying to get it sorted out.

In meanwhile, if you would like to get your hands on it, I can give you some pointers where to look for the error. :)

[2018-03-17 20:31] Vad1mo commented on #590
Sure, where should I look at.

[2018-03-17 20:43] xmudrii commented on #590
There're (probably) two relevant packages:
* [`cloud/openstack/operator/ovh/resources/`](https://github.com/kubicorn/kubicorn/tree/master/cloud/openstack/operator/ovh/resources),
* [`cloud/openstack/operator/generic/resources`](https://github.com/kubicorn/kubicorn/tree/master/cloud/openstack/operator/generic/resources).

First thing you should be looking for is if you find something like:
[code]
I

[2018-03-18 19:00] xmudrii opened #593 "Improve GetVersion() logic"
Once we start publishing releases, current [`GetVersion()`](https://github.com/kubicorn/kubicorn/blob/master/cmd/version.go#L67) is not going to work, because this assumes users have installed and configured Go environment, and they have `kubicorn` cloned.

A potential solution to this is to compile-in version using compiler flags when we build binaries.

[2018-03-18 19:21] xmudrii commented on #587
#592 fixes this issues.

[2018-03-18 19:26] xmudrii commented on #579
#591 will fix this issue.

[2018-03-18 19:28] xmudrii commented on #513
kubernetes/kubeadm#612 is closed as this is not assumed as a bug.
We're already explicitly telling `apt` what version to install, so I think it's okay to close this issue.

@kris-nova If you still have problems, please re-open the issue. :)

[2018-03-18 19:28] #513 closed

[2018-03-18 21:40] bscott opened #595 "Using DO Provider does not yeild a Kubectl config"
When building a cluster with provider of DO, a config is not generated and `getconfig` does not work.

[code]

[code]

[2018-03-18 21:44] xmudrii commented on #595
Hello @bscott!

What Kubicorn version are you running (you should be able to check this by running `kubicorn version`)?
We had some API changes in #572, and currently DO is not working with the latest version.

I've submitted #592 to fix those problems, and once it's merged, DigitalOcean should start working as expected.

If you want to test this right now, you can use the `digitalocean-hotfix` br

[2018-03-18 22:55] bscott commented on #595
Hi @xmudrii

[code]

[2018-03-18 23:13] xmudrii commented on #595
This doesn't contains the `GitCommit`, so I can't really tell on what revision are you.

Can you use `git log` or something to check what's the latest commit?

If you're before #572, you can set the `KUBICORN_ENVIRONMENT` environment variable to `LOCAL` and then to give it a try.

[2018-03-19 07:33] bscott opened #596 "Can't complete cluster creation using provider AWS"
Tried creating a cluster a few times from different machines and accounts and getting following:

**Creating Cluster:**

[code]

**Getting Config:**

[code]

**Version:**

[code]

[2018-03-19 11:39] ulrichSchreiner opened #597 "Keypair's not removed when deleting cluster"
hi,

i created a cluster named "testk8s" on AWS with my ssh-key "id_rsa". everything fine. then i did a `kubicorn delete testk8s` and the servers and clusters have gone.

after that i created a new cluster with the same name, but now i changed the `publicKeyPath` in the state file. when apply'ing everything is created but now kubicorn cannot fetch the configuration, because (at least at aws) there

[2018-03-19 12:18] xmudrii commented on #597
‎‎As far as I know, SSH Keys are intentionally not removed, because they can be used by other resources on your account. There should be an environment variable to force key deletion, such as `KUBICORN_FORCE_DELETE_KEY`.

However the error shouldn't happen, and I can take a look to see what's going on. Currently there're some bugs with `getconfig` but I hope we'll be able to solve them as soon as

[2018-03-19 20:36] #587 closed

[2018-03-19 21:11] kris-nova commented on #597
Agree with @ulrichSchreiner - anybody care to PR this?

[2018-03-19 21:16] kris-nova commented on #596
What does your initial configuration file look like?

Also hi 👋

[2018-03-19 21:21] kris-nova commented on #595
This brings up a good point - right now our version is respecting the `VERSION` file (good) but we aren't updating the file - maybe we should add something to `make` to write this in?

[2018-03-19 21:35] xmudrii commented on #595
‎I've created an issue for tracing the `VERSION` problem -- #593