[2018-03-19 22:21] #570 closed

[2018-03-20 03:01] bscott commented on #596
@kris-nova Hi!

The output I posted are from the initial Create and Apply commands, the last few lines of output. I can paste the yaml if you like.

[2018-03-20 05:26] kris-nova commented on #596
Yes please - just trying to replicate this on my end

[2018-03-21 20:36] bscott commented on #596
@kris-nova

[code]

[2018-03-21 23:19] kris-nova commented on #596
Thanks for sharing - #599 should take care of this

[2018-03-22 06:23] #595 closed

[2018-03-22 06:23] #596 closed

[2018-03-22 18:26] kris-nova commented on #578
I can take this one - will start on it today

[2018-03-22 20:17] #593 closed

[2018-03-25 03:28] #580 closed

[2018-03-25 03:47] bscott opened #605 "invalid memory address or nil pointer dereference at Apply command"
Installed Kubicorn with latest commit at the time: f7d601ffbff374db3101071fcacc0538b4799cc3

[code]

After Deleting my existing state from issue #596,  and creating new state yaml. Issue was resolved.

[2018-03-25 05:52] #578 closed

[2018-03-26 02:50] #605 closed

[2018-03-26 19:57] xmudrii opened #607 "DigitalOcean Master Firewall is not deleted by the `delete` command"
When you delete your cluster using the `delete` command, the master firewall will not get deleted.

[2018-03-27 21:25] xmudrii commented on #581
Fixed by kubicorn/bootstrap#1 and kubicorn/bootstrap#2.

[2018-03-27 21:25] #581 closed

[2018-03-28 13:52] grillz opened #609 "`kubicorn ssh` cli command"
Kubicorn is looking nice nowadays =D I love that you echo out the command to shell into the nodes on creation, however if I don't write that command down its hard to figure out how to do it again.

I propose a `kubicorn ssh` command that just shell execs the needed command for you to make it easy to connect into the nodes.

[2018-03-28 18:14] kris-nova commented on #609
great idea :)

[2018-03-28 21:26] #582 closed

[2018-03-28 21:34] xmudrii commented on #609
:+1:

This is a great idea :)

[2018-03-29 13:55] grillz opened #611 "`kubicorn profiles` cli command"
I like the abstraction of the profile, but its difficult to know whats available from the command line. I propose a `profiles` command that simply echos out available profiles with a brief description, along with a pointer to some docs on how to add a profile.

[2018-03-29 13:58] grillz commented on #611
nvm I didn't see that was a part of the `help` command for create

[2018-03-29 13:58] #611 closed

[2018-04-04 15:03] xmudrii opened #617 "Decide do we want to keep non-mandatory flags (e.g. for S3 state store)"
We need to decide do we want to keep non-mandatory flags, e.g. for S3, or we just want to use environment variables to change those values.

Relevant PR #598

[2018-04-04 21:54] xmudrii opened #618 "Deleting DigitalOcean Clusters doesn't work as expected"
Currently, deleting DigitalOcean clusters doesn't work as expected. It takes a lot of time to complete and for some reasons shows the `Droplet count mis-match, trying query again` error.

@ulrichSchreiner mentioned that the state store file contains more than expected machineSet entries (in this case 5, while expected is 3 (1 master + 2 nodes)). [This could be a good starting point for further res

[2018-04-10 20:40] xmudrii commented on #617
From the Kubicorn Developer call, we think it's best to just use environment variables for this use case.

[2018-04-10 20:41] xmudrii commented on #541
@kris-nova is working on this one

[2018-04-10 20:44] xmudrii commented on #458
Possible fix to this: Add validation to check is there ".". We think we shouldn't replace "." with anything other .

[2018-04-13 21:16] xmudrii opened #626 "Make sure the `--set` is working as expected and add several examples to docs"

[2018-04-13 21:28] xmudrii commented on #56
kubernetes/kubernetes#60852 is merged, allowing us to use the `clusterName` directive in the `kubeadm` config file to change the cluster name.

This is not available before the next release, but we can implement it as soon as new release comes out.

[2018-04-13 22:05] xmudrii opened #627 "Amazon Controller Profile is using Kubernetes 1.10.1 instead of 1.8.x"

[2018-04-14 20:07] xmudrii commented on #627
To be closed by kubicorn/bootstrap#12 and kubicorn/bootstrap#13

[2018-04-15 14:28] ghubcoder opened #628 "Rebooting nodes - new mac address acquired which breaks weave net"
I'm using the latest version of kubicorn with digitalocean which gives me the following versions of weave.

[code]

After hard resetting my nodes, to test what happens during a failure I end up with pods unable to start, stuck either in an error state or starting state.

You can see this if you run the following command after rebooting:

```kubectl exec -n kube-system {MASTER_NODE_WEAVE_POD_ID} -c

[2018-04-15 15:51] xmudrii commented on #628
Hi there, thank you for reporting the issue!

Can you please share the steps you followed to hard reset nodes?

This is strange. I've tried power-cycle and reboot options, but I'm not able to reproduce this.

If you share the steps you followed, I can try to reproduce the issue or contact DigitalOcean to see is it known bug/is there a fix. Thank you!

[2018-04-15 16:15] apobbati opened #629 "Use kubicorn to deploy a cluster to existing hosts"
Is kubicorn able to provision a cluster if I have existing machines? How would I go about implementing a provider to be able to accomplish this?

[2018-04-15 16:17] xmudrii commented on #629
Currently not. We have plans for the `adopt` command for existing clusters, but it's on hold. We'll have more information about the command as we get kubicorn/controller more stable and fully-switch to the new cluster API.

[2018-04-15 16:40] ghubcoder commented on #628
@xmudrii

This happens if I go to Power -> Power cycle in the Digital Ocean web interface for a droplet.

At least for my current cluster, it's fairly vanilla though. The main change is that external-storage has been added to the cluster to allow persistent volumes.

I could try again from a purely vanilla cluster and report back to see if it does the same.

[2018-04-15 16:43] xmudrii commented on #628
@ghubcoder Thanks for the follow up!

I've tried Power Cycle on my already-existing cluster, but I can't reproduce the issue. I'll give a try to the new cluster now.

Have you reset all nodes in the cluster or only master/nodes? I've also checked with DO Support Team in meanwhile, and they confirmed MAC address change every time you reset node is not expected behavior.

[2018-04-15 16:51] xmudrii commented on #628
@ghubcoder Noticed the edit. This is strange. I'll take a look to see can I reproduce the issue and find the root of the problem.

Do you have any additional logs from Weave pods that could be helpful?

[2018-04-15 17:51] ghubcoder commented on #628
@xmudrii Just tried it again with a new cluster, only things I installed was tiller, kubernetes-dashboard and a docker-registry. I rebooted the nodes a few times, at first, it seemed to handle it ok. However it did show unreachable nodes when running:

[code]

But it did seem to be able to recover the first few times whilst still showing unreachable nodes, so maybe its not related?

After continui

[2018-04-15 20:50] xmudrii commented on #628
@ghubcoder Thank you so much for the follow up and such detailed report! We really appreciate it!

I've tried to reproduce the issue with the new cluster. I was not able to reproduce a total cluster disaster, but I had many restarts and CrashLoopBackOffs for Weave pods. After several minutes, the cluster continued to work as expected.

Also, when you create the cluster, the cluster starts with Wea

[2018-04-20 16:34] apobbati commented on #629
Thanks for the update! I'd like to contribute. Please point me in the right direction.

[2018-04-24 11:07] duythongle opened #632 "OVH fails"
I followed OVH walkthrough and got an error while applying:
[code]

[2018-04-27 17:42] mattmoyer opened #634 "Deleting AWS keypair fails with "Unable to delete keypair resource without ID" error"
I'm using the default `aws` profile with a one-off SSH keypair name and setting `KUBICORN_FORCE_DELETE_KEY=true`.

`kubicorn apply` works fine, but when I `kubicorn delete`, Kubicorn is able to clean up 99% of the cluster resources but fails to delete the keypair with an error:
[code]

When I check my `cluster.yaml` before deleting, I don't see any reference to the SSH keypair name. Is that expect

[2018-04-27 20:48] zepouet opened #635 "[ Digital Ocean ] Fail to create the firewall"
Hello,

I am using kunicorn on Mac OSX Sierra (10.12.6) on Digital Ocean.

Digital Ocean API seems incompatible at first view.
Thanks a lot for your awesome work !

Best regards,
Nicolas
[code]

[2018-04-27 20:56] xmudrii commented on #635
Hello Nicolas! Thank you for the issue! This is a known one and we're working with DigitalOcean to resolve it as soon as possible.

In meanwhile, after several minutes, try creating cluster again. It should work. Maybe you'll have to create new cluster using the `kubicorn create` command.

If problem persists or you have any other questions, let us know. :)

[2018-04-29 11:57] xmudrii commented on #629
Hi @apobbati! I'm happy to hear you'd like to contribute to the project! Sorry for my late response, it has been a very busy week.

This is a large issue, so we want to make sure we plan it right. Before I give you some directions on how to do it and where to look into, I would love @kris-nova to let us know what does she thinks about the problem and is it good time to solve it now, or after we fu

[2018-05-01 05:55] #458 closed

[2018-05-01 07:48] #607 closed

[2018-05-01 07:48] #618 closed

[2018-05-03 22:40] abdelhalim2012 commented on #632
I encounter the same issue..

[2018-05-07 09:03] GuillaumeBibaut commented on #253
Any news about this support? I'm using FreeBSD as my fav OS as well. Really interested in the kubernetes, and so in kubicorn. (This is not really helping, but I can't think another way to contact)

[2018-05-07 19:49] apobbati commented on #629
@xmudrii @kris-nova Sounds like a plan! I'm a little new to Golang but I've provisioned Kubernetes clusters with other installers, so at this point i'm wondering what is the Kubicorn way to solve this problem.

[2018-05-08 23:20] krisnova opened #637 "Ticking Time Bomb"
Can we add an optional small kubicorn pod to a cluster rollout that will self destruct the cluster after a given time?

Useful for temporary clusters, ephemeral clusters, and testing clusters.

[2018-05-12 20:46] xmudrii commented on #365
GitHub Pages now supports out-of-box HTTPS. In order to enable it, we need to point our domain to IP addresses listed on [this page](https://help.github.com/articles/troubleshooting-custom-domains/#dns-configuration-errors). Then, we can just enable HTTPS from Settings page of the repository.

[2018-05-14 03:46] hh commented on #627
+1 are these good to merge?

[2018-05-18 04:44] gclyatt commented on #475
thanks for this
i'm new to gcp and got stuck with the same issue

[2018-05-23 11:41] pushthat opened #638 "Add hetzner cloud as a provider"
I would be good to add this provider.

[2018-05-23 11:53] xmudrii commented on #638
@pushthat Hello! As mentioned on the Slack channel, I'm okay with this. It would be nice to have one more Cloud provider supported.

If you didn't, make sure to check our [Project Walkthrough](http://kubicorn.io/documentation/readme.html) to learn more about the project, and its structure.

Adding new cloud provider is contained of the following five main points:
1. Adding logic for creating and m

[2018-05-24 07:55] sorenmat commented on #628
We are also experiencing this, for us it can happen on a cluster that has been running for weeks.
Not sure what causes is though :(

[2018-06-01 08:41] xlucas commented on #632
I'm currently working on this issue, changes introduced to the provider broke the key name resolution.

[2018-06-01 08:43] xlucas commented on #590
Sorry didn't have much time to allocate to this recently but it's a WIP now.

[2018-06-01 08:43] xlucas commented on #632
Related to #590

[2018-06-01 13:04] f-minzoni commented on #590
I just finished a refactoring of the OpenStack integration, basically to use the last version of Gophercloud (the Go SDK for OpenStack). https://github.com/kubicorn/kubicorn/pull/639
I don't have an OVH account, but the "new" implementation has been tested with another OpenStack based provider (entercloudsuite.com). What I see is OVH implementation doesn't use some Neutron resources like routers a

[2018-06-01 14:31] xlucas commented on #590
@f-minzoni Great! Then I guess issues with OVH with partly or almost completely be solved with the changes you introduce in your PR. Yes, OVH doesn't use floating IPs, it attaches instances directly to ext-net.

[2018-06-03 15:17] pushthat commented on #638
I will keep that updated :

- [x] Adding logic for creating and managing resources to the cloud package
- [x] Adding the appropriate profile(s) to the profile package. A profile defines how a cluster will be created and provisioned (how many instances, what scripts will be used, firewall rules,..). You can take a look at others to get sense about it.
- [ ] Once the profile is added, you need to re

[2018-06-05 16:14] kris-nova opened #640 "Port To GitLab"
Can we move to project over to GitLab please? I created the kubicorn group - just DM me if you need creds.

[2018-06-06 21:12] stealthybox commented on #640
https://gitlab.com/kubicorn

[2018-06-13 18:52] licarth opened #641 "kubicorn apply on OVH fails with "no suitable endpoint""
Hi, I try to get kubicorn setup a cluster on my OVH public cloud.

I get the following :
[code]

I did check `OS_AUTH_URL` :
[code]
but it seems correctly set from the execution of `source openrc.sh`.

I did not change anything in `cluster.yaml`.

Anyone encountered that kind of problems before ?

[2018-06-13 19:17] licarth commented on #641
Regions need to be the same in `cluster.yaml` and in `openrc.sh`.
It seems that it is not possible to download an `openrc.sh` for the current default region in `cluster.yaml` (`BHS1`). It has to be edited manually in one of the 2 files.

![image](https://user-images.githubusercontent.com/5550241/41372963-2054a97a-6f4f-11e8-913d-854f4ae78a47.png)

Closing this.

[2018-06-13 19:17] #641 closed

[2018-06-13 21:55] xmudrii commented on #635
DigitalOcean Support team informed me that this issue is fixed on their side. I believe everything should work as expected now.

I'm going to close the issue. If you still have problems, reopen the issue or create a new one, and we'll try our best to fix the problems.

[2018-06-13 21:57] xmudrii commented on #632
Thanks for reporting the issue! We believe this issues should be fixed by #639.

As this is duplicate of #590, and it contains some more details, I'm going to close this issue. If you have any questions, let us know!

[2018-06-13 21:57] #632 closed

[2018-06-16 17:41] pushthat opened #643 "failed to create the firewall err: POST https://api.digitalocean.com/v2/firewalls: 422"

[2018-06-16 17:41] #643 closed

[2018-06-28 21:01] mattmoyer opened #644 "Install fails because of kubelet<>API version mismatch"
I am seeing a failure using kubicorn `master` (currently 5914f8b1ee8beb76b1a64a28a44203f5b1d4becd). The symptom is that when I spin up a fresh cluster using the `aws` profile with no modifications, all my pods are stuck in `Pending` status:
[code]

I tracked this down to a version incompatibility between the control plane running Kubernetes v1.8.4 and the Kubelet, which since yesterday's Kubernete

[2018-06-28 21:08] stealthybox commented on #644
@mattmoyer, I suppose you were intending to deploy a `v1.8.4` cluster?
The kubelet package should definitely be from the same minor version as the kubeadm package.
I believe if you deploy with those updates to the bootstrap script, it should address your problem.

[2018-06-28 21:12] xmudrii commented on #644
@mattmoyer @stealthybox There're two PRs in kubicorn/bootstrap that should fix this issue. Let me update them for v1.10 (as I can't test with v1.11 now), and then we can merge them.

As @mattmoyer mentioned, the problem here is that kubelet is version 1.11, while kubeadm is 1.8, and kubeadm is setting up 1.8 cluster with 1.11 kubelet. That can cause problems and version mismatches.

I'll update wh

[2018-06-28 21:31] #627 closed

[2018-06-28 21:52] xmudrii commented on #644
@mattmoyer @stealthybox All branches in [the kubicorn/bootstrap repository](https://github.com/kubicorn/bootstrap) are now updated to use the latest bootstrap scripts. If there are any issues, let me know and I'll try my best to fix them.

[2018-07-01 14:44] pirix-gh opened #645 "Cannot clone repo"
When using `go get github.com/kubicorn/kubicorn` it stops at

[code]

Then if I go check whats wrong in **home/go/src/git..../kubicorn**
`git show a83ebae7bb515e12620b66d7601f697f5406c603`
[code]

[2018-07-01 15:41] xmudrii commented on #645
Thank you so much for reporting the issue!

I think the problem is that this commit doesn't exist anymore, as we had to rebase the `pre-release` branch to include the latest changes from master.

I've merged #646 which should fix the issue.

If problems persists, let me know and I'll do my best to fix the issue. Thank you once again!

[2018-07-01 15:48] pirix-gh commented on #645
Thanks, everything works fine again :+1:

[2018-07-01 16:57] pirix-gh opened #647 "Not deploying on OVH"
Using OVH
Ubuntu 16.04
Machine B2-7

[code]

Seems to communicate well to GRA5 but fails with the API

[2018-07-01 17:14] xmudrii commented on #647
I think this is related to #639, which should fix the issue, but is still not merged.

Also, #642 is a docs update which states some additional requirements for OVH (that PR is already merged).

If you're willing to test it, you can checkout from #642 and try to get it running. If it works for you, I'll happily merge the PR. I currently don't have access to OVH, so I can't give it a try, but I bel

[2018-07-01 17:21] xmudrii commented on #647
@pirix-gh I've merged #639 as well. I think that should fix OVH/OpenStack issues.

Before creating the cluster, you need to update Kubicorn, which you can do using `go get -u github.com/kubicorn/kubicorn`.

If you have any problems, let me know and I'll try my best to resolve the issues. Thanks!

[2018-07-01 17:28] xmudrii commented on #644
This should be fixed with updates to the kubicorn/bootstrap repository, so I'm going to close the issue. If problem persists, please re-open the issue or open a new one.

[2018-07-01 17:28] #644 closed

[2018-07-01 17:55] pirix-gh commented on #647
Tested & it's got a SegFault
[code]

[2018-07-01 20:02] pirix-gh commented on #647
@xmudrii Yes, I deleted everything and started from the beginning
http://kubicorn.io/documentation/ovh-walkthrough.html

[2018-07-01 20:04] xmudrii commented on #647
Okay, thanks for the response. It's late over here right now, but I'll try to fix it tomorrow if I can. I'll post the update here once I have some more information about the problem and fix.

[2018-07-02 12:42] benpriestman opened #648 "Default AWS provider - worker nodes fail to join cluster"
[code]

Trying out the `aws` provider, no worker nodes are brought up.

Looking at the cloud-init logs on the worker node, I see:
[code]
Adjusting the launch configuration' s user data to use the switches used in https://github.com/kubicorn/bootstrap/blob/0602657f00474e8e4ec34d29aaf504463315ebbd/amazon_k8s_debian_stretch_node.sh#L52 and respawning a node, I now have a worker node and can deploy a

[2018-07-02 13:57] #648 closed

[2018-07-02 14:02] xmudrii commented on #648
Hi there!

Thank you so much for reporting the issue! I have merged kubicorn/bootstrap#17 and kubicorn/bootstrap#18 which should fix the issue. If problems persists, re-open the issue or create a new one.

About the local scripts, it's possible to use scripts from your local machine by setting the `KUBICORN_FORCE_LOCAL_BOOTSTRAP` environment variable, such as: `KUBICORN_FORCE_LOCAL_BOOTSTRAP=1 kub

[2018-07-02 14:54] benpriestman commented on #648
Wow! That was fast!
Thanks for the info on the FORCE_LOCAL flag.
I've got some general questions about using profiles, but they might be better on Slack.

[2018-07-02 17:43] mattmoyer commented on #644
Thanks @xmudrii! I also ran into https://github.com/kubicorn/kubicorn/issues/648 but I see you just just merged the fix for that as well. So fast!

[2018-07-03 19:14] stealthybox commented on #644
he's a maniac!  he's going for speeeeeddd!

[2018-07-05 04:12] mbround18 opened #649 "Issue while deploying to OVH"
Hello all,

So i performed a fresh install of go 1.10 and kubicorn but when i launch my profile it yields an error.

`cluster.yaml` file:
[code]

Error:
[code]

[2018-07-05 13:50] xmudrii commented on #649
Hello @mbround18. Thank you for reporting the issue!

We're aware of the issue and we'll try our best to fix it as soon as possible. It's bit harder as I don't have OVH access, but I'll try my best to put up a fix. I hope I'll be able to fix it over the weekend.

Thanks once again!

[2018-07-11 15:43] pbarker opened #651 "intermittent failures"
Hey folks, we are seeing intermittent failures running kubicorn in a pipeline.

[code]
do we need a retry loop there?

[2018-07-12 13:34] mattmoyer commented on #651
Here are a couple more similar intermittent failures we've seen (I work w/@pbarker):

- Internet gateway does not exist yet (need to retry on the attachment):
[code]

- Route table does not exist (need to retry route table mapping):
[code]

[2018-07-12 13:38] pbarker commented on #651
thanks @mattmoyer, the common thread here is that they are all 400's. I mention https://github.com/kubicorn/kubicorn/pull/652#issuecomment-404248970 that the default retryer doesn't retry on 400's, this looks like sufficient reason to implement a custom retryer.

[2018-07-17 01:48] ianwalter commented on #635
I've run into the same issue a few times today.

[2018-07-23 10:09] licarth opened #655 "Cannot apply OVH"
When trying to apply my OVH config, I get this :

[code]

I've tried various versions of kubicorn, and older ones fail for different reasons.
I don't think this is the same problem than those described in other open issues.

Anyone having the same issue ?

[2018-07-25 02:29] texasmichelle opened #656 "Cannot create load balancer in AWS"
I'm seeing the following error when installing Kubeflow on a cluster generated with Kubicorn:

[code]

The user I created to run kubicorn has IAMFullAccess.

[2018-07-27 16:58] tk999 opened #657 "using ovh profile and "invalid memory address or nil pointer dereference""
TKs-MacBook-Pro:~ tk$ kubicorn apply myfirstk8s
2018-07-27T09:55:17-07:00 [ℹ]  Selected [fs] state store
2018-07-27T09:55:17-07:00 [ℹ]  Loaded cluster: myfirstk8s
2018-07-27T09:55:17-07:00 [ℹ]  Init Cluster
2018-07-27T09:55:18-07:00 [ℹ]  Query existing resources
2018-07-27T09:55:20-07:00 [ℹ]  Resolving expected resources
2018-07-27T09:55:20-07:00 [ℹ]  Reconciling
2018-07-27T09:55:21-07:00 [ℹ]  Usi

[2018-07-27 19:14] stevenoctopus commented on #656
I'm not using kubicorn but I just ran into this today walking through the Getting Started with Amazon EKS guide. I followed the same exact steps I did last week, where I did not receive this error.

I was able to get around it by attaching a new policy to the role I assigned to my EKS cluster but I wonder what changed?

[2018-07-27 19:22] ashish-amarnath commented on #496
The problem here is that the `GetConfig` function reads the kubeconfig from remote and writes into a local file kubeconfig file without parsing the bytes it read as kubeconfig. For the same reason, it will not be able to store configs for multiple clusters.

I can see two potential fixes here:
1.  Create a kubeconfig file per cluster and
2. Parse the bytes read from the remote kubeconfig and appen

[2018-07-27 19:22] ashish-amarnath commented on #496
/assign

[2018-07-28 09:50] xmudrii commented on #496
@ashish-amarnath I can't assign you to the issue for some reason (possibly because you're the first-time contributor, so GitHub isn't allowing it), but I have applied WorkInProgress label to the issue.

This sounds great. I've seen the PR and it is shaping nicely.

For now, parsing the bytes and merging it with the existing kubeconfig is a great solution. We could possibly add some flag if user wa

[2018-07-29 00:50] texasmichelle commented on #656
@stevenoctopus Which policy fixed the issue?

[2018-07-29 01:02] stevenoctopus commented on #656
I created a new policy, which allowed the service role I created for eks to perform iam:CreateServiceLinkedRole on the AWSServiceRoleForElasticLoadBalancing role in my account, and then attached that to the eks service role.

However, I don't think that is correct to do. I found out AWS automatically created the AWSServiceRoleForElasticLoadBalancing role if you created a load balancer before Janua

[2018-07-29 09:06] xmudrii commented on #590
The problem described in this issue seems to be resolved, however another one appeared.

To make it easier to track the progress on fixing issues, I'm going to close this issue in favor of #655, as it is the most recent one and contains details about the latest found issue.

Thanks a lot for reporting the problems!

[2018-07-29 09:07] xmudrii commented on #647
The problem described in this issue seems to be resolved, however another one appeared.

To make it easier to track the progress on fixing issues, I'm going to close this issue in favor of #655, as it is the most recent one and contains details about the most recent problem found.

Thanks a lot for reporting the issues!

[2018-07-29 09:08] #647 closed

[2018-07-29 09:08] xmudrii commented on #649
The problem described in this issue seems to be resolved, however another one appeared.

To make it easier to track the progress on fixing issues, I'm going to close this issue in favor of #655, as it is the most recent one and contains details about the most recent problem found.

Thanks a lot for reporting the issues!

[2018-07-29 09:08] #649 closed

[2018-07-29 09:14] xmudrii commented on #657
Hi @tk999, thank you so much for reporting the issue!

The stack trace is very useful here, but I'm having hard time debugging it as I don't have access to OVH. Anyways, I will try my best to it and will let you know once it is ready for test.

To make the issue tracker and the progress of fixing the issue easier to track, I'm going to close this issue in favor of #655, as it describes the same pr

[2018-07-29 09:14] #657 closed

[2018-07-29 09:17] xmudrii commented on #655
@licarth Hello, thank you so much for reporting the issue!

I can confirm the problem and I'm working on fixing it. It is going little bit slower as I don't have access to OVH, but I will try my best, and will update you once I have some news.

Thank you!

[2018-07-29 11:32] xmudrii commented on #655
@licarth I've deployed a fix in #659 that could fix the problem. I don't have access to OVH, so I can't test it.

You need to update to the latest version of `kubicorn` using `git` or `go`, such as:
[code]

Before applying the cluster, you have to remove the cluster state and create a new one, as there are some changes in the file structure.

If you still have problems, please post the error or st

[2018-07-29 11:32] xmudrii commented on #657
@tk999 I've deployed a fix in #659 that could fix the problem. I don't have access to OVH, so I can't test it.

You need to update to the latest version of `kubicorn` using `git` or `go`, such as:
[code]

Before applying the cluster, you have to remove the cluster state and create a new one (`kubicorn create`), as there are some changes in the file structure.

If you still have problems, please po

[2018-07-30 13:31] licarth commented on #655
Hey @xmudrii ! Thank you so much for your quick reaction. I just tried, and I get the following error :
[code]

Seems to fail earlier now.

[2018-07-30 13:45] xmudrii commented on #655
I guess this is still a progress. :sweat_smile:

I've merged #660 which may or may not fix the problem. To get the changes, update kubicorn like described above and recreate the state store file. Then, try to apply the cluster again.

If you get the panics or any other errors again, please post the output here.

Thanks a lot!

[2018-07-30 13:58] licarth commented on #655
Clearly it is ! Here is the new stacktrace :) :sweat_smile:

[code]

[2018-07-30 14:03] xmudrii commented on #655
@licarth Merged #661. If you can give it a try, let me know does it work for you. Also, if not, stack traces appreciated :wink:

Thank you so much!

[2018-07-30 14:04] licarth commented on #655
When debugging I get `InternetGW:<nil>`.

[2018-07-30 14:13] xmudrii commented on #655
In that case, the fix will probably not fix anything for now. I could try to apply another one, but this is getting really ugly. Let's do it anyways :D

[2018-07-30 15:07] stevenoctopus commented on #656
No luck deleting the role and trying again. I get the same error even when the AWSServiceRoleForElasticLoadBalancing role doesn't exist in my account. Very strange.

There is a [post](https://forums.aws.amazon.com/thread.jspa?threadID=286810&tstart=0) about this in the AWS forums that I am also watching.

[2018-07-30 15:07] licarth commented on #655
:unicorn:

[2018-07-30 15:09] stevenoctopus commented on #656
[code]

Here is a policy you can attach to the EKS service role as a workaround for the time being. I subbed in the correct account ID for you already.

[2018-07-30 19:37] xmudrii commented on #496
Fixed by #658

[2018-07-30 19:37] #496 closed

[2018-07-30 19:37] ashish-amarnath commented on #496
@deitch  This is now fixed. Mind giving it a try and letting us know if it works for you?

[2018-07-30 19:59] xmudrii commented on #56
The change has made it into Kubernetes 1.11. We'll be slowly fixing this issue as we upgrade to newer Kubernetes version.

The issue has been already fixed for DO Ubuntu clusters (xref: https://github.com/kubicorn/bootstrap/pull/22).

[2018-07-30 21:42] kris-nova commented on #651
@pbarker @mattmoyer feel free to ping me if you need help getting this through - im not combing the issue tracker like I once was

[2018-07-30 22:09] texasmichelle commented on #656
Thanks for posting the additional context. Is `iam:CreateServiceLinkedRole` not covered by `IAMFullAccess`?

[2018-07-30 22:44] stevenoctopus commented on #656
It is, but it would be unwise to give EKS IAMFullAccess as it could
possibly delete/modify existing IAM services.

On Mon, Jul 30, 2018, 6:09 PM Michelle Casbon <notifications@github.com>
wrote:

[2018-07-30 23:08] texasmichelle commented on #656
Makes sense - this particular example is for a demo, so I'm less concerned for now & can reduce the scope once it's all working. The service account I created for kubicorn already has IAMFullAccess, so I'm not sure I understand how to apply this workaround.

[2018-07-31 07:45] deitch commented on #496
I can confirm that it is fixed. It keeps me existing config and adds the new one.

FYI, when I delete a cluster with `kubicorn delete`, it does _not_ remove it from `kubeconfig`, which it probably should. I assume this already has been reported though?

[2018-07-31 11:30] kir4h commented on #475
In my case, I was only able to make it work when using the `Compute Engine default service account` . Whenever I create a new service account, in theory replicating the same permissions as the default one, it fails. But I'm a newbie in GCE so probably missing something.
Could someone shed some light?

[2018-07-31 18:36] xmudrii commented on #496
@deitch 👍 could be an interesting feature.

the only problem we could have is what if user renames the cluster in kubeconfig, but I guess in that case we can just skip it.

[2018-07-31 19:46] ncdc opened #667 "AWS: validate user data doesn't exceed 16kb limit"
If the generated user data bootstrap script exceeds 16kb (before being base64 encoded), AWS will reject it like this:
[code]

It would be nice if Kubicorn validated the size before attempting to talk to AWS.

[2018-08-02 15:31] stealthybox commented on #496
I haven't run across tooling that automatically deletes kubeconfig entries when deleting infrastructure. This seems dangerous unless kubicorn includes unique id's in the kubeconfig objects.

Would be good if there are examples of other tools doing this.

[2018-08-02 22:31] ashish-amarnath commented on #496
I haven't seen tools do this.. but the setup I have seen, creating clusters using terraform driven by `make`, we purge the kubeconfig on cluster delete. I think it would be ideal behavior, esp, if you are constantly trying to create and destroy clusters. I started a PR to implement the purge functionality but isn't hooked up to the cluster delete scenario. This is what I have so far... https://git

[2018-08-03 03:20] seadiaz opened #670 "Azure: choose resource group name to create multiples cluster inside the same one"
When I was creating my first cluster on Azure, I could not create it because my application did not have permission to create a new resource group and I realized that kubicorn create a new resource group for the cluster with the same name that the cluster by default.

It will be great to add the capability to set the resource group, thus we could create multiples cluster within the same resource g

[2018-08-06 21:30] #651 closed

[2018-08-13 21:31] damianesteban opened #672 "Packet setup fails"
After following the directions on the website for setting up a cluster on Packet I get the following error:

[code]

[2018-08-15 20:06] xmudrii commented on #672
@damianesteban Hi, thank you so much for the reporting the issue!

This is a known issue and we're working on fixing it. It is going bit harder as we don't have access to OVH, but we'll do our best to fix as soon as possible.

As far as we found so far, there are problems with how OVH handles OpenStack routers.

The issue #655 contains the history of the problems and tried fixes. We're updating th

[2018-08-15 20:06] #672 closed

[2018-08-17 03:57] damianesteban commented on #672
Thanks, I'll take a look.

[2018-08-23 07:46] Raffo commented on #628
I believe that this is not related to kubicorn and not to the individual CNI provider. I've seen this in kops, i.e. https://github.com/kubernetes/kops/issues/3575

[2018-08-28 13:52] ncdc opened #673 "Unable to set numeric properties with --master-set, --node-set, --set"
[code]

The `swalker` library doesn't handle string-to-numeric conversions when setting.

Any thoughts on how to proceed? Should we try to do a PR to `swalker`, find another library, or write our own?

@kris-nova

[2018-08-28 15:26] ncdc commented on #673
I have a potential fix in #674

[2018-08-29 19:10] #673 closed

[2018-09-02 02:25] nikolay opened #675 "Simple test fails"
[code]

[2018-09-06 06:56] harshvkarn opened #676 "panic: runtime error: invalid memory address or nil pointer dereference"
`kubicorn apply kubicorn-cluster`
[code]

[2018-09-21 05:50] nikolay opened #678 "Support Debian on Digital Ocean"

[2018-09-21 05:50] nikolay opened #679 "Support Container Linux on DigitalOcean"

[2018-09-26 02:57] justinliew commented on #556
So I just set up a bunch of raspberry pi machines at home and am hoping to do a bunch of manual Kubernetes work to get more familiar with the underlying tools and concepts. Possibly one of my iterations would be to get kubicorn working nicely with this kind of setup.

[2018-09-26 03:01] justinliew commented on #640
Is this still on the docket? Any specific reasons for the change? Do we want to take advantage of CI stuff there?

[2018-09-29 20:10] adrianog commented on #556
I have another use case: dedicated servers (OVH / Hetzner - especially the latter).

At the moment I'm thinking of using Openshift Okd with their ansible playbooks to bootstrap, but I'm not convinced, I don't see anybody having installed Openshift on clusters of dedicated servers either at OVH or Hetzner. The example are all "all-in-one" installations on one box.

I appreciate that kubicorn has a

[2018-09-29 20:14] adrianog commented on #629
Has there been any progress on this?

[2018-09-29 22:57] xmudrii commented on #629
@adrianog As far as I know there's still no progress on this issue.

[2018-10-04 05:41] epic9x commented on #635
@xmudrii - first time using kubicorn tonight and I've run into this issue too.

- installed via go get into a docker container built on base golang
- generated a new ssh key and api key
- exported the digital ocean API key as an environment variable

`
kubicorn version
{"Version":"master","GitCommit":"","BuildDate":"2018-10-04 05:41:01.699694154 +0000 UTC","GoVersion":"go1.11.1","GOOS":"linux","GO

[2018-10-04 11:28] xmudrii commented on #635
@epic9x Thank you for reporting the issue!

I believe this is issue with DigitalOcean API, as we had the the same issue in past, but DigitalOcean resolved it.

This issue is temporary, i.e. if you wait several minutes, create a new state store and try to apply it the create call should pass successfully.

I'm going to check out with DigitalOcean about this issue and will update this one once I hav

[2018-10-14 14:01] pbarker opened #682 "Intermittent failures fetching kubeconfig on AWS"
In our build pipelines we are seeing `Unable to write kubeconfig: Timedout writing kubeconfig` on roughly 3/4 builds recently. The pipeline is using commit https://github.com/kubicorn/kubicorn/commit/10d6984afccb9e747d90601c6c80bb153a14ba47. Our build history goes back to the 10th of October, but it may have preceded that. I was also able to replicate this locally with the latest master branch htt

[2018-10-17 18:36] salaxander commented on #678
Hey! I'm looking to get involved in this project. Mind if I tackle this one?

[2018-10-17 20:50] salaxander commented on #635
I've been seeing this error today too. Gave it some time to resolve and it seems to be persistent (should add that this is my first time using Kubicorn)

λ kubicorn.exe apply ubuntu
2018-10-17T13:47:53-07:00 [ℹ]  Selected [fs] state store
2018-10-17T13:47:53-07:00 [ℹ]  Loaded cluster: ubuntu
2018-10-17T13:47:53-07:00 [ℹ]  Init Cluster
2018-10-17T13:47:53-07:00 [ℹ]  Query existing resources
2018-10

[2018-10-18 06:31] xmudrii commented on #635
@salaxander Can confirm it is persistent, thanks for reporting! I'm currently debugging this and will be creating a ticket with the Support team to check why it returns error 500. I will keep the issue updated as soon as I receive a response.

[2018-10-18 14:59] salaxander commented on #635
@xmudrii Sounds good! I've got code ready for Issue #678 but I'll wait until this is resolved before opening a PR on that one :)

[2018-10-22 21:48] teq0 commented on #676
I was having this problem, and it was caused by clusterAPI::spec::providerConfig being empty. The panic is caused by ProviderConfig().SSH being nil here - https://github.com/kubicorn/kubicorn/blob/master/pkg/initapi/ssh.go#L29. If you fix the code to check for nil you still don't get very far because everything else is missing.

I haven't figured out what yet, but something appears to be blanking

[2018-10-25 04:03] teq0 commented on #676
I've now played with this a bit more and traced through it many times, and I must be missing something because I can't see how it ever worked. Has anyone successfully deployed an Azure cluster in the last few months?

The thing I can't understand is that, as per my previous comment, [resourcegroup.immutableRender()](https://github.com/kubicorn/kubicorn/blob/master/cloud/azure/public/resources/reso

[2018-10-25 15:50] salaxander commented on #635
@xmudrii Any update from DO on this one?

[2018-10-25 16:00] xmudrii commented on #635
@salaxander Sorry, I'm OOO this week, so was not able to follow up with them. I will try to update as soon as possible! 🙂

[2018-10-27 06:59] balchua commented on #635
I noticed that this error 500 occurs when the firewall API is called while the Droplet is being created. I made a temporary delay prior to the creation of the firewall, and so far it hasn't failed me with this approach.

[2018-11-05 23:10] xmudrii commented on #276
This issue is fixed by https://github.com/kubicorn/bootstrap/pull/23

[2018-11-05 23:10] #276 closed

[2018-11-05 23:41] xmudrii commented on #635
Hello everyone,

First, I'm so sorry for such a long wait! I was very busy over here.

Big thanks to @balchua for finding a solution to this problem!! I have confirmed that it works and created a PR to check are all Droplets in the cluster active, and if not to wait before creating a firewall.

The PR is merged and deployed to master. Before trying to create a new cluster, make sure to update Kubi

[2018-11-26 09:41] duythongle commented on #655
I can confirm this. Got same issue today

[2018-12-10 17:38] salaxander commented on #670
This seems like it would be a useful feature. I'm happy to work on adding in. I work on Azure so I've got some familiarity there :)

[2018-12-12 20:15] moimart1 commented on #655
Exactly the problem here, What is the updates ?

[2018-12-13 09:12] Xorkle commented on #655
Geting the same issue here. :(

[2019-02-22 10:57] anp0 commented on #655
just got the same issue, any updates on this?

[2019-02-22 11:07] aslafy-z commented on #655
OVH [wasn't supporting](https://community.ovh.com/en/t/openstack-routers-on-ovh/846/2) the OpenStack Router API that kubicorn needed.

It looks like they are currently trying it, it might already work in some regions. See https://labs.ovh.com/public-cloud-l3-services

[2019-02-27 17:18] joedborg opened #686 "Submodule is using ssh rather than https"
Just wondering if this is done intentially?  I’m trying to build a snap package and I don’t want to have to generate ssh keys for that build node.

[2019-03-29 09:40] cpanato commented on #365
I would like to help. where is the repo for the kubicorn.io?

[2019-06-23 21:31] abhishekjiitr opened #691 "AWS Walkthrough needs IAM Access Permissions"
The AWS walkthrough states the only required policies are EC2FullAccess, AutoscalingFullAccess & AmazonVPCFull Access.
However, the AWS Walkthrough fails with the following message:

[code]
However, it runs fine after adding IAMFullAccess to the account. If this is a genuine issue, I can open up a PR to add this to the documentation.

[2019-06-23 21:42] abhishekjiitr commented on #468
Faced the same issue today even after trying multiple times, which worked after increasing MasterIPAttempts from 40 to 60 as @dlipovetsky suggested.

[2019-08-02 16:59] dminca commented on #686
Confirming this one, I've just did a `go get github.com/kubicorn/kubicorn` and it failed:

[code]

[2019-08-03 08:41] #686 closed

[2019-10-02 08:14] jekakm opened #695 "DigitalOcean not work at all"
First time I tried to create cluster in sfo1 region, and it just stuck at "Hanging while fetching kube config" (I waited 30 minutes)

[code]

After it I tried to create cluster in FRA1 region, unsuccessfully:

[code]

[2022-10-21 02:46] sudlo opened #701 "Unable to install Kubicorn on AWS"
Hello

I have followed the article [http://kubicorn.io/documentation/aws-walkthrough.html](url)

I get the following error message

`go: finding module for package k8s.io/kube-deploy/cluster-api/api/cluster/v1alpha1
go: finding module for package k8s.io/kube-deploy/cluster-api/client
go: finding module for package k8s.io/kube-deploy/cluster-api/util
go: finding module for package github.com/Azure/